main .container {
  width: 1050px;
  margin: 0 auto;
}
main .container .title {
  width: 100%;
  margin: 0 auto;
}
main .container .title h2 {
  padding: 50px 0px 48px;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 35px;
  text-align: center;
}
main .container .content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container .content .product_list .check {
  width: 100%;
  padding: 18px 10px 16px 2px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
main .container .content .product_list .check input[id*=check] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .container .content .product_list .check input[id*=check] + label::before {
  content: "\f058";
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
main .container .content .product_list .check input[id*=check]:checked + label::before {
  color: #5F0080;
  font-size: 1.5rem;
  margin-right: 8px;
  top: 1px;
}
main .container .content .product_list .check .fa span {
  font-size: 0.875rem;
  line-height: 26px;
  font-weight: 600;
}
main .container .content .product_list .check a {
  font-size: 0.875rem;
  line-height: 26px;
  font-weight: 600;
}
main .container .content .product_list .check a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin: 0 12px;
}
main .container .content .product_list .product_wrap {
  width: 742px;
}
main .container .content .product_list .product_wrap .item {
  border-top: 1px solid #333;
}
main .container .content .product_list .product_wrap .item .title {
  padding: 15px 5px 15px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container .content .product_list .product_wrap .item .title .left {
  display: flex;
  align-items: center;
}
main .container .content .product_list .product_wrap .item .title .left .storage_icon {
  margin-right: 8px;
}
main .container .content .product_list .product_wrap .item .title .left .storage_icon img {
  position: relative;
  top: 2px;
}
main .container .content .product_list .product_wrap .item .title .left p {
  font-size: 1.125rem;
  font-weight: 600;
}
main .container .content .product_list .product_wrap .item .title a img {
  width: 30px;
  height: 30px;
  transform: scaleY(-1);
}
main .container .content .product_list .product_wrap .item .product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] + label::before {
  content: "\f058";
  color: #ddd;
  font-size: 1.5rem;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk]:checked + label::before {
  color: #5F0080;
  font-size: 1.5rem;
  margin-right: 8px;
  top: 1px;
}
main .container .content .product_list .product_wrap .item .product .product_img {
  width: 60px;
  height: 78px;
  margin-right: 20px;
  display: block;
}
main .container .content .product_list .product_wrap .item .product .product_img img {
  width: 100%;
}
main .container .content .product_list .product_wrap .item .product .product_name {
  width: 345px;
  margin-right: 20px;
  display: block;
  line-height: 22px;
  font-weight: 500;
}
main .container .content .product_list .product_wrap .item .product .num {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDFE1;
  width: 88px;
  border-radius: 3px;
}
main .container .content .product_list .product_wrap .item .product .num .minus {
  width: 28px;
  height: 28px;
}
main .container .content .product_list .product_wrap .item .product .num .plus {
  width: 28px;
  height: 28px;
}
main .container .content .product_list .product_wrap .item .product .price {
  display: flex;
  flex-flow: column;
  width: 127px;
  text-align: right;
}
main .container .content .product_list .product_wrap .item .product .price span {
  font-weight: 700;
  line-height: 24px;
}
main .container .content .product_list .product_wrap .item .product .price del {
  font-size: 0.875rem;
  line-height: 24px;
  color: #b5b5b5;
  padding-top: 4px;
}
main .container .content .product_list .product_wrap .item .product .delete_btn img {
  width: 30px;
  height: 30px;
  margin-left: 9px;
  margin-right: 6px;
}/*# sourceMappingURL=cart.css.map */