main .container {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 80px;
}
main .container .title {
  width: 100%;
  margin: 0 auto;
}
main .container .title h2 {
  padding: 50px 0px 48px;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 35px;
  text-align: center;
}
main .container .content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
main .container .content .product_list {
  width: 70%;
  height: 100%;
}
main .container .content .product_list .check {
  width: 100%;
  padding: 18px 10px 16px 2px;
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
main .container .content .product_list .check input[id*=check] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .container .content .product_list .check input[id*=check] + label::before {
  content: "\f058";
  color: #ddd;
  font-size: 1.625rem;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
main .container .content .product_list .check input[id*=check]:checked + label::before {
  color: #5F0080;
  font-size: 1.625rem;
  margin-right: 8px;
  top: 1px;
}
main .container .content .product_list .check .fa span {
  font-size: 1rem;
  line-height: 26px;
  font-weight: 600;
  font-size: 1.125rem;
}
main .container .content .product_list .check a {
  line-height: 26px;
  font-weight: 600;
  font-size: 1.125rem;
}
main .container .content .product_list .check a::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin: 0 12px;
}
main .container .content .product_list .product_wrap {
  width: 100%;
}
main .container .content .product_list .product_wrap .item {
  border-top: 1px solid #333;
}
main .container .content .product_list .product_wrap .item .title {
  padding: 15px 5px 15px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container .content .product_list .product_wrap .item .title .left {
  display: flex;
  align-items: center;
}
main .container .content .product_list .product_wrap .item .title .left .storage_icon {
  margin-right: 8px;
}
main .container .content .product_list .product_wrap .item .title .left .storage_icon img {
  position: relative;
  top: 2px;
}
main .container .content .product_list .product_wrap .item .title .left p {
  font-size: 1.25rem;
  font-weight: 600;
}
main .container .content .product_list .product_wrap .item .title a img {
  width: 30px;
  height: 30px;
  transform: scaleY(-1);
}
main .container .content .product_list .product_wrap .item .product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] + label::before {
  content: "\f058";
  color: #ddd;
  font-size: 1.625rem;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk]:checked + label::before {
  color: #5F0080;
  font-size: 1.625rem;
  margin-right: 8px;
  top: 1px;
}
main .container .content .product_list .product_wrap .item .product .product_img {
  width: 80px;
  height: 98px;
  margin-right: 20px;
  display: block;
}
main .container .content .product_list .product_wrap .item .product .product_img img {
  width: 80px;
  height: 98px;
}
main .container .content .product_list .product_wrap .item .product .product_name {
  width: 345px;
  margin-right: 20px;
  display: block;
  line-height: 22px;
  font-weight: 500;
  font-size: 1.125rem;
}
main .container .content .product_list .product_wrap .item .product .num {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDFE1;
  width: 88px;
  border-radius: 3px;
}
main .container .content .product_list .product_wrap .item .product .num .minus {
  width: 28px;
  height: 28px;
}
main .container .content .product_list .product_wrap .item .product .num .plus {
  width: 28px;
  height: 28px;
}
main .container .content .product_list .product_wrap .item .product .price {
  display: flex;
  flex-flow: column;
  width: 127px;
  text-align: right;
  font-size: 1.125rem;
}
main .container .content .product_list .product_wrap .item .product .price span {
  font-weight: 700;
  line-height: 24px;
  font-size: 1.125rem;
}
main .container .content .product_list .product_wrap .item .product .price del {
  font-size: 1rem;
  line-height: 24px;
  color: #b5b5b5;
  padding-top: 4px;
  font-size: 1.125rem;
}
main .container .content .product_list .product_wrap .item .product .delete_btn img {
  width: 30px;
  height: 30px;
  margin-left: 9px;
  margin-right: 6px;
}
main .container .content .order {
  width: 284px;
  margin-left: 50px;
  height: 100%;
  padding-top: 60px;
}
main .container .content .order .delivery {
  padding: 23px 19px 20px;
  border-top: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
}
main .container .content .order .delivery .top {
  display: flex;
  align-items: center;
}
main .container .content .order .delivery .top img {
  margin-right: 6px;
}
main .container .content .order .delivery .top span {
  display: block;
  font-weight: 600;
}
main .container .content .order .delivery .address {
  margin-top: 12px;
  font-weight: 600;
  line-height: 24px;
}
main .container .content .order .delivery p span {
  padding: 7px 0 12px;
  font-size: 1rem;
  color: #5F0080;
  display: block;
}
main .container .content .order .delivery .address_change #change_btn {
  width: 100%;
  display: block;
  padding: 15px 0;
  border: 1px solid #5F0080;
  border-radius: 3px;
  text-align: center;
  font-size: 0.875rem;
  color: #5F0080;
  font-weight: 500;
}
main .container .content .order .price_info {
  padding: 19px 18px 18px 20px;
  border: 1px solid #F2F2F2;
  background-color: #fafafa;
  display: flex;
  flex-flow: column;
}
main .container .content .order .price_info dl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
main .container .content .order .price_info dl:first-child {
  padding: 0;
}
main .container .content .order .price_info dl:last-child {
  margin-top: 16px;
  padding-top: 18px;
  border-top: 1px solid #f4f4f4;
}
main .container .content .order .price_info dl dt {
  line-height: 24px;
  white-space: nowrap;
  width: 100px;
  letter-spacing: -0.5px;
}
main .container .content .order .price_info dl dd {
  letter-spacing: -0.5px;
}
main .container .content .order .price_info dl .total {
  font-size: 1.375rem;
  font-weight: 600;
}
main .container .content .order .price_info dl .total em {
  font-size: 1rem;
}
main .container .content .order .price_info .free {
  text-align: right;
  font-size: 0.75rem;
  color: #5F0080;
  line-height: 18px;
  display: block;
  padding-top: 2px;
}
main .container .content .order .price_info .free em {
  font-weight: 600;
  font-size: 0.75rem;
  color: #5F0080;
  line-height: 18px;
}
main .container .content .order .order_btn_bg {
  padding: 20px 0 16px;
}
main .container .content .order .order_btn_bg #order_btn {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 20px 0;
  text-align: center;
  background-color: #ddd;
}
main .container .content .order .order_btn_bg #order_btn .btn_txt {
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
}
main .container .content .order .notice ul li {
  font-size: 0.875rem;
  line-height: 18px;
  padding-top: 4px;
  padding-left: 7px;
  color: #666;
  letter-spacing: -0.8px;
  font-weight: 500;
  text-align: left;
  position: relative;
}
main .container .content .order .notice ul li::before {
  content: "";
  display: inline-block;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background: #666;
  margin: 0 5px;
  position: absolute;
  left: -7px;
  top: 12px;
}
main .del_box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
main .del_box .del_popup {
  border: 1px solid #eee;
  border-radius: 12px;
  background-color: #fff;
  max-width: 360px;
  width: 360px;
}
main .del_box .del_popup .del_message {
  padding: 40px 30px;
  border-bottom: 1px solid #eee;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 500;
  color: #333;
  line-height: 21px;
}
main .del_box .del_popup .btn {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .del_box .del_popup .btn #reset_btn {
  width: 50%;
  height: 55px;
  color: #5F0080;
  font-weight: 500;
}
main .del_box .del_popup .btn #submit_btn {
  width: 50%;
  height: 55px;
  color: #5F0080;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  main .container {
    padding: 0 20px 80px;
  }
}
@media screen and (max-width: 820px) {
  main .container .title h2 {
    font-size: 1.625rem;
  }
  main .container .content .product_list .check input[id*=check] + label::before {
    font-size: 1.375rem;
  }
  main .container .content .product_list .check input[id*=check]:checked + label::before {
    font-size: 1.375rem;
  }
  main .container .content .product_list .check .fa span {
    font-size: 1rem;
  }
  main .container .content .product_list .check a {
    font-size: 1rem;
  }
  main .container .content .product_list .product_wrap .item .title {
    padding: 10px 5px 10px 0px;
  }
  main .container .content .product_list .product_wrap .item .title .left p {
    font-size: 1rem;
  }
  main .container .content .product_list .product_wrap .item .product {
    padding: 10px 0 25px;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn {
    padding-bottom: 20px;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] + label::before {
    font-size: 1.375rem;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk]:checked + label::before {
    font-size: 1.375rem;
  }
  main .container .content .product_list .product_wrap .item .product .product_img {
    margin-left: 5px;
    margin-right: 15px;
  }
  main .container .content .product_list .product_wrap .item .product .product_name {
    font-size: 1rem;
  }
  main .container .content .product_list .product_wrap .item .product .num {
    margin-right: 10px;
  }
  main .container .content .product_list .product_wrap .item .product .num span {
    font-size: 0.875rem;
  }
  main .container .content .product_list .product_wrap .item .product .price {
    width: 100px;
  }
  main .container .content .product_list .product_wrap .item .product .price span {
    font-size: 0.875rem;
    line-height: 10px;
  }
  main .container .content .product_list .product_wrap .item .product .price del {
    font-size: 0.875rem;
    display: block;
  }
  main .container .content .order {
    margin-left: 25px;
  }
  main .container .content .order .delivery .top span {
    font-size: 0.875rem;
  }
  main .container .content .order .delivery .address {
    font-size: 0.875rem;
    line-height: 20px;
  }
  main .container .content .order .delivery p span {
    font-size: 0.875rem;
  }
  main .container .content .order .price_info dl {
    padding-top: 5px;
  }
  main .container .content .order .price_info dl dt {
    font-size: 0.875rem;
  }
  main .container .content .order .price_info dl dd {
    font-size: 0.875rem;
  }
  main .container .content .order .order_btn_bg #order_btn .btn_txt {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  main .container .content .order .notice ul li {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 430px) {
  main .container {
    padding: 0 16px;
  }
  main .container .content {
    display: block;
  }
  main .container .content .product_list {
    width: 100%;
  }
  main .container .content .product_list .check {
    justify-content: space-between;
  }
  main .container .content .product_list .check input[id*=check] {
    display: none;
  }
  main .container .content .product_list .check input[id*=check] + label::before {
    font-size: 1.125rem;
  }
  main .container .content .product_list .check input[id*=check]:checked + label::before {
    font-size: 1.125rem;
  }
  main .container .content .product_list .check a::before {
    display: none;
  }
  main .container .content .product_list .check:last-child {
    display: none;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk] + label::before {
    font-size: 1.125rem;
  }
  main .container .content .product_list .product_wrap .item .product .chk_btn input[name*=chk]:checked + label::before {
    font-size: 1.125rem;
  }
  main .container .content .product_list .product_wrap .item .product .product_img {
    width: 60px;
    height: 78px;
  }
  main .container .content .product_list .product_wrap .item .product .product_img img {
    width: 60px;
    height: 78px;
  }
  main .container .content .product_list .product_wrap .item .product .product_name {
    font-size: 0.75rem;
    line-height: 16px;
    margin-right: 15px;
  }
  main .container .content .product_list .product_wrap .item .product .num {
    margin-right: 15px;
  }
  main .container .content .product_list .product_wrap .item .product .num .minus {
    width: 20px;
    height: 20px;
  }
  main .container .content .product_list .product_wrap .item .product .num .minus img {
    width: 100%;
    height: 100%;
  }
  main .container .content .product_list .product_wrap .item .product .num span {
    font-size: 0.75rem;
  }
  main .container .content .product_list .product_wrap .item .product .num .plus {
    width: 20px;
    height: 20px;
  }
  main .container .content .product_list .product_wrap .item .product .num .plus img {
    width: 100%;
    height: 100%;
  }
  main .container .content .product_list .product_wrap .item .product .price span {
    white-space: nowrap;
    font-size: 0.75rem;
  }
  main .container .content .product_list .product_wrap .item .product .price del {
    font-size: 0.75rem;
  }
  main .container .content .order {
    padding-top: 40px;
    width: 100%;
    margin: 0 auto;
  }
}
.item_open_toggle {
  display: none !important;
}

.bg_active {
  background-color: #5F0080 !important;
}

.color_w {
  color: #fff;
}

.img_toggle {
  transform: scaleY(1) !important;
}/*# sourceMappingURL=cart.css.map */