main .best {
  display: none;
}
main .best_mobile {
  margin: 0 auto;
  display: block !important;
  width: 100%;
  padding: 0 16px;
  position: relative;
}
main .best_mobile .sub_header {
  position: sticky;
  top: 0;
  z-index: 900;
  background-color: #fff;
  padding: 5px 0;
}
main .best_mobile .sub_header .cate_title::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
main .best_mobile .sub_header .cate_title {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 10px 0;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
main .best_mobile .sub_header .cate_title .cate_active img {
  border: 2px solid #8d4cc4;
  border-radius: 50%;
}
main .best_mobile .sub_header .cate_title .cate_active span {
  color: #8d4cc4;
  font-weight: 700;
}
main .best_mobile .sub_header .cate_title a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 84px;
  min-width: 76px;
  padding: 8px 0px 12px;
  white-space: nowrap;
}
main .best_mobile .sub_header .cate_title a img {
  width: 72px;
  height: 72px;
  margin-bottom: 8px;
  padding: 4px;
}
main .best_mobile .sub_header .cate_title a span {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
main .best_mobile .sub_header .filter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
}
main .best_mobile .sub_header .filter .left .num_total span {
  font-size: 0.875rem;
}
main .best_mobile .sub_header .filter .right a {
  margin-left: 10px;
}
main .best_mobile .sub_header .filter .right a span {
  margin-right: 2px;
  font-size: 0.875rem;
}
main .best_mobile .sub_header .filter .right a [class$=down] {
  font-size: 14px;
}
main .best_mobile .sub_header .filter .right a img {
  width: 16px;
  transform: translateY(2px);
}
main .best_mobile .filter_nav {
  position: absolute;
  top: 150px;
  right: 50px;
  z-index: 999;
  background-color: #fff;
  display: none;
}
main .best_mobile .array {
  padding: 20px 0 30px;
}
main .best_mobile .array a {
  border-radius: 25px;
  border: 1px solid #eeeeee;
  padding: 8px 15px;
  font-size: 0.875rem;
}
main .best_mobile .array a [class$=down] {
  font-size: 12px;
  margin-left: 4px;
  color: #999;
}
main .best_mobile .product_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
main .best_mobile .product_box .product {
  min-width: 330px;
  margin-bottom: 30px;
  position: relative;
  width: calc(50% - 4px);
}
main .best_mobile .product_box .product .thumb {
  height: 524px;
  width: 100%;
}
main .best_mobile .product_box .product .thumb .thumb_img {
  background-image: url(../images/main/product/main_p_01.jpg);
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
main .best_mobile .product_box .product .thumb p.icon_cuppon {
  background-color: #bd76ff;
  border-radius: 4px;
  opacity: 0.9;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  color: #fff;
  font-size: 0.875rem;
}
main .best_mobile .product_box .product .btn_cart .btn_c {
  width: 100%;
  height: 36px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
main .best_mobile .product_box .product .btn_cart .btn_c img {
  width: 22px;
  margin-right: 4px;
}
main .best_mobile .product_box .product .info {
  padding: 8px 10px 0 0;
  cursor: pointer;
}
main .best_mobile .product_box .product .info .p_brand {
  font-size: 0.875rem;
  color: #999;
}
main .best_mobile .product_box .product .info .p_title {
  line-height: 1.5rem;
  color: #111;
  padding-top: 4px;
}
main .best_mobile .product_box .product .info .p_explain {
  font-size: 0.75rem;
  padding-top: 4px;
  color: #999;
}
main .best_mobile .product_box .product .info .p_price_del {
  padding-top: 8px;
}
main .best_mobile .product_box .product .info .p_price_del del {
  font-size: 0.875rem;
  color: #b5b5b5;
}
main .best_mobile .product_box .product .info .p_price {
  letter-spacing: -0.05rem;
  font-weight: 800;
  padding-top: 2px;
}
main .best_mobile .product_box .product .info .p_price em {
  color: #fa622f;
  font-weight: 700;
  padding-right: 7px;
}
main .best_mobile .product_box .product .info .p_review {
  padding-top: 8px;
  font-size: 0.813rem;
}
main .best_mobile .product_box .product .info .p_review [class$=dots] {
  font-size: 12px;
  margin-right: 3px;
}
main .best_mobile .product_box .product .info .p_icon_only {
  padding: 2px 8px 4px;
  margin: 12px 2px 0px 0px;
  font-size: 0.75rem;
  color: #5F0080;
  background-color: #f4f4f4;
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
  line-height: 16px;
  letter-spacing: -0.01rem;
  cursor: default;
}
main .best_mobile .product_box .product .info .p_icon_ko {
  padding: 2px 8px 4px;
  margin: 12px 2px 0px 0px;
  font-size: 0.75rem;
  background-color: #f4f4f4;
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
  line-height: 16px;
  letter-spacing: -0.01rem;
  cursor: default;
}
main .best_mobile .quest_box {
  display: none;
}/*# sourceMappingURL=category_m_common.css.map */