/* 베스트 카테고리 선택자 */
body, html {scroll-behavior: smooth; }
main {}
/* 베스트 타이틀 영역 */
main .best {width:1050px; margin:0 auto;}
main .best_mobile {display: none;}
main .best .bnr {}
main .best .bnr a {}
main .best .bnr a img {
    width: 100%;
}
main .best .top {
    margin-top: 50px;
}
main .best .top h1 {
    font-size: 1.75rem; 
    text-align: center;
    font-weight: 500;
}
main .best .top .cate_list {
    width: 100%;
    display: flex; flex-flow: row wrap;
    border: 1px solid #ddd;
    padding:30px 40px;
    margin-top: 28px;
}
main .best .top .cate_list a.top_active {
    font-weight: 700; color:#5f0080;
}
main .best .top .cate_list a {
    font-size: 0.875rem; line-height: 20px;
    letter-spacing: -0.01rem;
    width: 180px; margin-right: 60px; margin-bottom: 16px;
}
/* 왼쪽컨테이너 --- 어사이드 영역 */
main .best .container {
    display: flex;
    margin: 35px 0;
    width: 100%;
    position: relative;
}
main .best .container .left {
    width: 220px;
    margin-right: 47px;
    height: 100%;
    max-height: 95vh;
    position:sticky;
    top:0;
    overflow: hidden scroll;
    scrollbar-width: none;
    border-bottom: 1px solid #eee; 
}
main .best .container .left .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    position: sticky; top: 0;
    z-index: 300;
    background-color: #fff;
    height: 60px;
    line-height: 20px;
    padding-top: 20px;
    width: 100%;
}
main .best .container .left .title h3 {
    font-size: 0.938rem;
    font-weight: 600;
}
main .best .container .left .title p {
    cursor: pointer;
}
main .best .container .left .title p [class$=right] {
    color:#ddd; font-size: 14px;
    margin-right: 4px;
}
main .best .container .left .title p span {
    color:#ddd; font-size: 0.875rem;
}
/* 어사이드 -- ★공통★ */
main .best .container .left .list {
    width: 100%;
}
main .best .container .left .list .list_title {
    display: flex; justify-content: space-between;
    align-items: center;
    height: 52px;
}
main .best .container .left .list .list_title span {
    font-size: 0.938rem; font-weight: 600;
}
main .best .container .left .list .list_title span em {}
main .best .container .left .list .list_title span [class$=up] {
    font-size: 10px;
    cursor: pointer;
}
main .best .container .left .list ul {}
main .best .container .left .list ul li {margin:9px 0 18px;}
main .best .container .left .list ul li .btn_circle,
main .best .container .left .list ul li .btn_chk {display: flex; align-items: center;}
main .best .container .left .list ul li .btn_circle img,
main .best .container .left .list ul li .btn_chk img {
    width:18px; margin-right: 8px;
    transform: translateY(2px);
}
main .best .container .left .list ul li .btn_circle p:nth-child(2),
main .best .container .left .list ul li .btn_chk p:nth-child(2) {
    margin-right: 4px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #111;
}
main .best .container .left .list ul li .btn_circle p:nth-child(3),
main .best .container .left .list ul li .btn_chk p:nth-child(3) {
    font-size: 0.75rem;
    font-weight: 400;
    color:#ccc;
}
main .best .container .left .list1 > ul > .more_btn ,
main .best .container .left .list2 .box .more_btn {
    display: flex; justify-content: center; 
    border-bottom: 1px solid #eee;
    margin-bottom: 11px;
}
main .best .container .left .list1 ul .more_btn a,
main .best .container .left .list2 .box .more_btn a {}
main .best .container .left .list1 ul .more_btn a p,
main .best .container .left .list2 .box .more_btn a p {
    font-size: 0.75rem; font-weight: 600;
    color:#999; margin-right: 4px;
    display: inline-block;
}
main .best .container .left .list1 ul .more_btn a p[class$=right],
main .best .container .left .list2 .box .more_btn a p[class$=right] {
    font-size: 12px;
    color:#999;
}
/* 어사이드 --- 카테고리 */
main .best .container .left .list1 > ul > .more_btn {padding: 9px 0 18px;}
/* 어사이드 --- 브랜드의 상단영역 */
main .best .container .left .list2 {}
main .best .container .left .list2 .list_title {}
main .best .container .left .list2 .list_title span {}
main .best .container .left .list2 .list_title span em {}
main .best .container .left .list2 .list_title span [class$=up] {}
main .best .container .left .list2 .brand {margin-bottom: 25px;}
main .best .container .left .list2 .brand a:nth-child(2)::before {
    content: ''; display: inline-block;
    width:1px; height:12px;
    background-color: #ddd;
    margin-right: 10px;
    transform: translateY(2px);
}
main .best .container .left .list2 .brand a:last-child {margin-right: 0;}
main .best .container .left .list2 .brand a {
    font-size: 0.875rem; margin-right: 10px; font-weight: 400;
}
main .best .container .left .list2 .brand a.name_active {
    color:#5f0080;
    font-size: 0.875rem; font-weight: 600;
}
main .best .container .left .list2 .atoz_btn {
    display: flex; flex-flow: row wrap;
    margin-bottom: 12px;
}
main .best .container .left .list2 .atoz_btn a:nth-child(1),
main .best .container .left .list2 .atoz_btn a:nth-child(16),
main .best .container .left .list2 .atoz_btn a:nth-child(17) {width:45px;}
main .best .container .left .list2 .atoz_btn a {
    background-color: #f7f7f7;
    border-radius: 2px;
    line-height: 17px;
    color:#b5b5b5;
    font-size: 0.813rem;
    height: 22px;
    width:20px;
    display: inline-block;
    text-align: center;
    padding: 2px 0 3px 0;
    margin-bottom: 4px;
    margin-right: 3px;
    font-weight: 500;
}
main .best .container .left .list2 .atoz_btn a.atoz_active {
    background-color: #333; color:#fff;
}
main .best .container .left .list2 .box {
    position: relative;
}
/* 어사이드 --- 브랜드의 ★공통(lnb)★ */
main .best .container .left .list2 .box .contents {}
main .best .container .left .list2 .box .contents li:last-child {/* padding-bottom: 0; */}
main .best .container .left .list2 .box .contents li .btn_chk {}
main .best .container .left .list2 .box .contents li .btn_chk img {width:18px;}
main .best .container .left .list2 .box .contents li .btn_circle p:nth-child(2) {}
main .best .container .left .list2 .box .contents li .btn_circle p:nth-child(3) {}
main .best .container .left .list2 .box .con1 {
    display: none;
}
main .best .container .left .list2 .box .con2 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con3 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con4 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con5 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con6 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con7 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con8 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con9 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con10 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con11 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con12 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con13 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con14 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con15 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con16 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .con17 {
    display: none;
    position: sticky; top:0;
}
main .best .container .left .list2 .box .more_btn {background-color: #fff;}
main .best .container .left .list2 .box .more_btn li:last-child {/* padding-bottom: 0; */}
main .best .container .left .list2 .box .more_btn li a {}
main .best .container .left .list2 .box .more_btn li a p {}
main .best .container .left .list2 .box .more_btn li a p[class$=right] {}
/* 어사이드 --- 가격 */
main .best .container .left .list3 {
    padding-bottom: 6px;
    border-bottom: 1px solid #eee; 
}
main .best .container .left .list3 .list_title {
    /* sub 접었을 때 기준 */
    /* padding: 12px 0 2px;
    height: 0px !important; */
}
main .best .container .left .list3 .list_title span {}
main .best .container .left .list3 .list_title span em {}
main .best .container .left .list3 .list_title span [class$=up] {}
main .best .container .left .list3 ul li .btn_circle {
    /* display: none !important;  */
    display: flex; align-items: center;
}
main .best .container .left .list3 ul li .btn_circle img {width:18px;}
main .best .container .left .list3 ul li .btn_circle p:nth-child(2) {}
main .best .container .left .list3 ul li .btn_circle p:nth-child(3) {}
/* 어사이드 --- 혜택 */
main .best .container .left .list4 {
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;  
}
/* 어사이드 --- 유형 */
main .best .container .left .list5 {
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;  
}
/* 어사이드 --- 특정상품 제외 */
main .best .container .left .list6 {
    padding-bottom: 6px;
}
/* 오른쪽컨테이너 --- 상품 영역 */
main .best .container .right {
    padding-top: 20px;
    width: calc((100% - 220px) - 47px);
}
main .best .container .right .lnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
/* ◇ --- js 부분(총 몇건) --- ◇ */
main .best .container .right .lnb .total {}
main .best .container .right .lnb .total span {
    font-size: 0.875rem; font-weight: 600;
}
/* ◇ --- js 부분(총 몇건) //끝// --- ◇ */
main .best .container .right .lnb .array {
    position: relative;
}
main .best .container .right .lnb .array a:first-child::before {
    display: none;
}
main .best .container .right .lnb .array a::before {
    content: '';
    display: inline-block;
    width: 1px; height: 10px;
    background-color: #ddd;
    margin-right: 8px;
}
main .best .container .right .lnb .array a:nth-child(1) {
    color:#333; font-weight: 500;
}
main .best .container .right .lnb .array a {
    font-size: 0.875rem;
    color:#999;
    margin-left: 5px;
}
main .best .container .right .lnb .array a [class$=question] {
    border: 2px solid #ddd;
    display: inline-block;
    padding: 1px 2px 3px 2px;
    text-align: center;
    font-size: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color:#ccc;
    margin-left: 4px;
    transform: translateY(-2px);
}
main .best .container .right .lnb .array .quest_box {
    display: none !important;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #333;
    padding: 14px;
    display: block;
    max-width: 272px;
    z-index: 999;
    top: 40px;
    left: -6px;
}
main .best .container .right .lnb .array .quest_box p {
    font-size: 0.75rem;
    color:#666;
}
/* ◇ --- js 부분 (브랜드 이름 위치) --- ◇ */
main .best .container .right .name_result {}
/* ◇ --- js 부분 (브랜드 이름 위치) //끝// --- ◇ */
/* 상품리스트 */
main .best .container .right .product_box {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}
main .best .container .right .product_box .product {
    width:calc((100% / 3) - 13px);
    margin-bottom: 30px;
    position: relative;
}
main .best .container .right .product_box .product .thumb {
    background-image: url(../images/main/product/main_p_01.jpg);
    background-size: cover;
    display: block;
    height: 320px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}
main .best .container .right .product_box .product .thumb .icon_cuppon {
    background-color: #bd76ff;
    border-radius: 4px;
    opacity: 0.9;
    position: absolute; top: 8px; left: 8px;
    padding: 4px 8px;
    color:#fff;
    font-size: 0.875rem;
}
main .best .container .right .product_box .product .btn_cart {
    
}
main .best .container .right .product_box .product .btn_cart .btn_c {
    width: 100%; height: 36px;
    display: flex; align-items: center;
    justify-content: center;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
main .best .container .right .product_box .product .btn_cart .btn_c img {
    width: 22px; margin-right: 4px;
}
main .best .container .right .product_box .product .btn_cart .btn_c span {}
/* ◇ --- js 부분 (상품 리스트 DB로 처리) --- ◇ */
main .best .container .right .product_box .product .info {
    padding: 8px 10px 0 0;
    cursor: pointer;
}
main .best .container .right .product_box .product .info .p_brand {
    font-size: 0.875rem;
    color:#999;
}
main .best .container .right .product_box .product .info .p_title {
    line-height: 1.5rem; color: #111;
    padding-top: 4px;
}
main .best .container .right .product_box .product .info .p_explain {
    font-size: 0.75rem; padding-top: 4px;
    color:#999;
}
main .best .container .right .product_box .product .info .p_price_del {
    padding-top: 8px;
}
main .best .container .right .product_box .product .info .p_price_del del {
    font-size: 0.875rem;
    color:#b5b5b5;
}
main .best .container .right .product_box .product .info .p_price {
    letter-spacing: -0.05rem;
    font-weight: 800;
    padding-top: 2px;
}
main .best .container .right .product_box .product .info .p_price em {
    color:#fa622f;
    font-weight: 700;
    margin-right: 7px;
}
main .best .container .right .product_box .product .info .p_review {
    padding-top: 8px;
    font-size: 0.813rem;
}
main .best .container .right .product_box .product .p_review [class$=dots] {
    font-size: 12px; 
    margin-right:3px;
}
main .best .container .right .product_box .product .p_icon_only {
    padding: 2px 8px 4px; 
    margin: 12px 2px 0px 0px;
    font-size: 0.75rem;
    color:#5f0080;
    background-color: #f4f4f4;
    display: inline-block;
    font-weight: 600;
    border-radius: 4px;
    line-height: 16px;
    letter-spacing: -0.01rem;
    cursor: default;
}
main .best .container .right .product_box .product .p_icon_ko {
    padding: 2px 8px 4px; 
    margin: 12px 2px 0px 0px;
    font-size: 0.75rem;
    background-color: #f4f4f4;
    display: inline-block;
    font-weight: 600;
    border-radius: 4px;
    line-height: 16px;
    letter-spacing: -0.01rem;
    cursor: default;
}
/* ◇ --- js 부분 (상품 리스트 DB로 처리) //끝// --- ◇ */
/* 오른쪽컨테이너 --- 왼쪽,오른쪽 버튼 */
main .best .container .right .arrow_num {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}
main .best .container .right .arrow_num a:first-child {
    border-left:1px solid #d3d3d3;
}
main .best .container .right .arrow_num a {
    width:34px; height:34px;
    border-top:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    display: block;
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
}
main .best .container .right .arrow_num a img {}
main .best .container .right .arrow_num a.arr_active {
    color: #5f0080;
    font-weight: 500;
    background-color: #f7f7f7;
}
/* 
---------------------★팝업 영역★---------------------//
*/
/* 어사이드 --- 팝업(공통영역) */
main .best .popup {
    display: none !important;
    position: fixed;
    z-index: 999;
    top:0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    z-index: 999;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
main .best .popup .cate_pop,
main .best .popup .brand_pop {
    position: relative;
    width: 780px;
    height: 540px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
}
main .best .popup .cate_pop .wrap_top,
main .best .popup .brand_pop .wrap_top .wrap {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 20px;
    border-bottom: 1px solid #f7f7f7;
}
main .best .popup .cate_pop .wrap_top h1,
main .best .popup .brand_pop .wrap_top .wrap .tap h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
main .best .popup .cate_pop .wrap_top a,
main .best .popup .brand_pop .wrap_top .wrap a {}
main .best .popup .cate_pop .wrap_top a img ,
main .best .popup .brand_pop .wrap_top .wrap a img {
    width:22px;
}
/* 버튼 */
main .best .popup .cate_pop .btn_wrap ,
main .best .popup .brand_pop .btn_wrap {
    bottom:0; left: 0px; width: 100%;
    position: absolute;
    display: flex; justify-content: center;
    background-color: #fff;
    padding-bottom: 24px;
}
main .best .popup .cate_pop .btn_wrap .btn_reset ,
main .best .popup .brand_pop .btn_wrap .btn_reset {
    width: 140px;
    height: 44px;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 8px;
}
main .best .popup .cate_pop .btn_wrap .btn_reset [class$=right] ,
main .best .popup .brand_pop .btn_wrap .btn_reset [class$=right]  {
    color: #ddd; font-size: 12px; margin-right: 5px;
}
main .best .popup .cate_pop .btn_wrap .btn_reset span,
main .best .popup .brand_pop .btn_wrap .btn_reset span {
    color: #ddd; font-size: 0.875rem; font-weight: 500;
}
main .best .popup .cate_pop .btn_wrap .btn_ok ,
main .best .popup .brand_pop .btn_wrap .btn_ok  {
    width: 140px;
    height: 44px;
    background-color: #5f0080;
    border-radius: 4px;
}
main .best .popup .cate_pop .btn_wrap .btn_ok span ,
main .best .popup .brand_pop .btn_wrap .btn_ok span {
    color: #fff; font-size: 0.875rem; font-weight: 500;
}
/* 어사이드 --- 팝업(카테고리) */
main .best .popup .cate_pop {
    display: none;
}
main .best .popup .cate_pop .list_wrap {
    overflow: hidden;
}
main .best .popup .cate_pop .list_wrap ul {
    display: flex; flex-flow: row wrap;
    margin-bottom: 56px;
    padding: 2px 0;
}
main .best .popup .cate_pop .list_wrap ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33.33%);
    min-width: 200px;
    padding: 10px 0px;
}
main .best .popup .cate_pop .list_wrap ul li .btn_chk {
    display: flex; flex-flow: row nowrap;
}
main .best .popup .cate_pop .list_wrap ul li .btn_chk img {
    width:18px; margin-right: 7px;
}
main .best .popup .cate_pop .list_wrap ul li .btn_chk p {
    margin-right: 4px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #111;
}
main .best .popup .cate_pop .list_wrap ul li .btn_chk p:last-child {
    font-size: 0.75rem;
    font-weight: 400;
    color:#ccc;
    transform: translateY(1px);
}
/* 어사이드 --- 팝업(브랜드) */
main .best .popup .brand_pop {
    display: none;
    overflow: hidden;
}
main .best .popup .brand_pop .wrap_top {
    border-bottom: 1px solid #f7f7f7;
}
main .best .popup .brand_pop .wrap_top .wrap {}
main .best .popup .brand_pop .wrap_top .wrap .tap {
    display: flex; flex-flow: row nowrap;
    align-items: center;
}
main .best .popup .brand_pop .wrap_top .wrap .tap h1 {margin-right: 24px;}
main .best .popup .brand_pop .wrap_top .wrap .tap p {
    font-size: 0.875rem;
}
main .best .popup .brand_pop .wrap_top .wrap .tap .tap_active {
    margin-right: 12px;
    color:#5f0080;
    font-weight: 600;
}
main .best .popup .brand_pop .wrap_top .wrap .tap p:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 1px; height: 12px;
    background-color: #ddd;
    margin-left: 12px;
}
main .best .popup .brand_pop .wrap_top .wrap .tap p:nth-child(3) {}
main .best .popup .brand_pop .wrap_top .wrap a {}
main .best .popup .brand_pop .wrap_top .wrap a img {}
main .best .popup .brand_pop .wrap_top .tab_sub {
    /* display: none; */
    padding-bottom: 14px;
}
main .best .popup .brand_pop .wrap_top .tab_sub a.tab_sub_active {
    background-color: #111; color:#fff;
}
main .best .popup .brand_pop .wrap_top .tab_sub a:nth-child(15),
main .best .popup .brand_pop .wrap_top .tab_sub a:nth-child(16) {
    width: 47px;
}
main .best .popup .brand_pop .wrap_top .tab_sub a {
    background-color: #f7f7f7;
    border-radius: 2px;
    line-height: 17px;
    color:#b5b5b5;
    font-size: 0.813rem;
    height: 22px;
    width:20px;
    display: inline-block;
    text-align: center;
    padding: 2px 0 3px 0;
    margin-bottom: 4px;
    margin-right: 3px;
    font-weight: 500;
}
/* 어사이드 --- 팝업(브랜드) --- 탭공통 */
/* ::-webkit-scrollbar {
    display: none;
} */
main .best .popup .brand_pop .list_wrap {
    overflow: hidden scroll;
    scrollbar-width: none;
    height: 100%;
}
main .best .popup .brand_pop .list_wrap .list {
    padding-bottom: 120px;
}
/* 어사이드 --- 팝업(브랜드) --- 탭1 */
main .best .popup .brand_pop .list_wrap .tab_sub1 {
    /* display: none; */
    margin-bottom: 80px;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list {}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li{}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .sub_title {
    padding-top: 16px;
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li ul {
    display: flex; flex-flow: row wrap;
    padding: 2px 0;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .con li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33.33%);
    min-width: 200px;
    padding: 10px 0px;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .con li .btn_chk {    
    display: flex; flex-flow: row nowrap;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .con li .btn_chk img {
    width:18px; margin-right: 7px;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .con li .btn_chk p {
    margin-right: 4px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #111;
}
main .best .popup .brand_pop .list_wrap .tab_sub1 ul.contents_list li .con li .btn_chk p:last-child {
    font-size: 0.75rem;
    font-weight: 400;
    color:#ccc;
    transform: translateY(1px);
}
/* 어사이드 --- 팝업(브랜드) --- 탭2 */
main .best .popup .brand_pop .list_wrap .tab_sub2 {
    display: none;
    padding-top: 12px;
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all {
    display: flex; flex-flow: row wrap;
    padding: 2px 0;
    /* overflow: hidden scroll; */
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(33.33%);
    min-width: 200px;
    padding: 10px 0px;
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all li .btn_chk {
    display: flex; flex-flow: row nowrap;
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all li .btn_chk img {
    width:18px; margin-right: 7px;
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all li .btn_chk p {
    margin-right: 4px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #111;
}
main .best .popup .brand_pop .list_wrap .tab_sub2 .contents_all li .btn_chk p:last-child {
    font-size: 0.75rem;
    font-weight: 400;
    color:#ccc;
    transform: translateY(1px);
}
/* ◇ --- js 부분 (상품 리스트 DB로 처리) (장바구니 담기 팝업) --- ◇ */
main .best .popup .cart_pop {
    display: none;
    background-color: #fff;
    width: 440px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    overflow-x: hidden;
    padding: 30px;
}
main .best .popup .cart_pop .thumb_name {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0px 12px;
    border-bottom: 1px solid #eee;
}
main .best .popup .cart_pop .thumb_name .thumb {
    background-image: url(../images/main/product/main_p_02.jpg);
    width:50px; height: 50px;
    background-size: cover;
    background-position: top;
    border-radius: 4px; margin-right: 14px;
}
main .best .popup .cart_pop .thumb_name .p_tap_title {
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
}
.info:-webkit-scrollbar {
    display: block;
}
main .best .popup .cart_pop .info {
    max-height: 310px;
    overflow: hidden scroll;
    scrollbar-width: thin;
}
main .best .popup .cart_pop .info .cart_box {
    padding: 12px 0px;
    border-bottom: 1px solid #eee;
}
main .best .popup .cart_pop .info .cart_box .p_tap_title {
    font-size: 0.875rem;
    letter-spacing: -0.05rem;
}
main .best .popup .cart_pop .info .cart_box .price_num {
    display: flex; justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}
main .best .popup .cart_pop .info .cart_box .price_num .p_tap_price {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}
main .best .popup .cart_pop .info .cart_box .price_num .p_tap_price span {
    font-size: 0.875rem;
}
main .best .popup .cart_pop .info .cart_box .price_num .p_tap_price span del {
    font-size: 0.75rem;
    color:#b5b5b5;
    margin-left: 5px;
}
main .best .popup .cart_pop .info .cart_box .price_num .num {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex; align-items: center;
    padding: 2px 4px 0px;
}
main .best .popup .cart_pop .info .cart_box .price_num .num .minus {}
main .best .popup .cart_pop .info .cart_box .price_num .num .minus img {
    height: 22px;
}
main .best .popup .cart_pop .info .cart_box .price_num .num .p_tap_num {
    width: 31px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 0.875rem;
}
main .best .popup .cart_pop .info .cart_box .price_num .num .plus {}
main .best .popup .cart_pop .info .cart_box .price_num .num .plus img {
    height: 22px;
}
main .best .popup .cart_pop .total {
    padding: 14px 0px 20px;
}
main .best .popup .cart_pop .total .total_result {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .best .popup .cart_pop .total .total_result p {
    font-weight: 500;
}
main .best .popup .cart_pop .total .total_result .p_tap_price {
    font-size: 1.5rem;
    font-weight: 500;
}
main .best .popup .cart_pop .total .total_result .p_tap_price em {
    font-weight: 500; margin-left: 2px;
}
main .best .popup .cart_pop .total .explain {
    display: flex; justify-content: flex-end;
    padding-top: 11px;
}
main .best .popup .cart_pop .total .explain .icon_save {
    width: 30px;
    height: 18px;
    margin-right: 4px;
    border-radius: 9px;
    background-color: #ffbf00;
    color: #fff;
    font-size: 0.625rem;
    line-height: 18px;
    text-align: center;
}
main .best .popup .cart_pop .total .explain span:nth-child(2) {
    font-size: 0.75rem;
    line-height: 18px;
    font-weight: 500;
}
main .best .popup .cart_pop .btn_cart {
    bottom:0; left: 0px; width: 100%;
    display: flex; justify-content: center;
    background-color: #fff;
}
main .best .popup .cart_pop .btn_cart .btn_cancel {
    width: 50%;
    height: 56px;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 8px;
}
main .best .popup .cart_pop .btn_cart .btn_cancel span {
    font-weight: 500;
}
main .best .popup .cart_pop .btn_cart .btn_cart_r {
    width: 50%;
    height: 56px;
    border:1px solid #5f0080;
    background-color: #5f0080;
    border-radius: 3px;
}
main .best .popup .cart_pop .btn_cart .btn_cart_r span {
    color: #fff; font-weight: 500;
}
/* ◇ --- js 부분 (상품 리스트 DB로 처리) (장바구니 담기 팝업) //끝// --- ◇ */