html,body{/* height: 500vh; */}
header {/* max-width: 1280px; */ margin: 0 auto;}
/*  최상단 팝업 */
header .pop_up {display: none;}
header .pop_up p {}
header .pop_up p em {}
header .pop_up .reset_btn {}
header .pop_up .reset_btn a {}
/* header 회원가입, 로그인, 고객센터 */
header .user_page {
    display: none !important;
    width: 1050px; margin: 0 auto; display: flex; justify-content: flex-end; height: 32px;align-items: center; position: relative; 
}
header .user_page a {font-size: 0.75rem;} /* 마이페이지 a 공통 */
header .user_page .join {color: #5F0080;}
header .user_page .login {}
header .user_page .login::before,
header .user_page .login::after {
    content: ''; width: 1px; height: 13px; background: #d9d9d9;
    display: inline-block; margin: 0 8px;
}
header .user_page .cs {}
header .user_page .cs img {width: 8px; height: 5px; margin-left: 4px;}
header .user_page .cs_open {
    display: flex; flex-flow: column nowrap; 
    position: absolute;
    right: 0; top: 34px; width: 130px;
    padding: 3px 9px; border: 1px solid #ddd;
    background-color: #fff;
    display: none;
}
header .user_page .cs_open a {
    display: block; height: 24px; line-height: 24px;
}
/* header top */
header .header_top {
    display: none !important;
    width: 1050px; height: 63px; margin: 0 auto;
    display: flex; align-items: center; justify-content: space-between;
}
header .header_top .left {display: flex; align-items: center;}
header .header_top .left .logo {}
header .header_top .left .logo img {}
header .header_top .left .menu {}
header .header_top .left .menu a {font-size: 1.125rem;}
header .header_top .left .menu a:first-child {color: #5F0080; margin-left: 20px;}
header .header_top .left .menu a:last-child {color: #b5b5b5;}
header .header_top .left .menu a:first-child::after {
    content: ''; display: inline-block; width: 1px; height: 14px;
    background: #e2e2e2; margin: 0 7px 0 10px;
}
header .header_top .search {
    border: 1px solid #5F0080; border-radius: 6px;
    display: flex; justify-content: space-between; width: 400px; height: 48px;
    background-color: #fff;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
    margin-right: 150px;
}
header .header_top .search #user_search {padding-left: 14px;}
header .header_top .search #search_btn {}
header .header_top .search #search_btn img {margin: 10px; position: relative; bottom: 6px;}
header .header_top .user_info {display: flex;}
header .header_top .user_info .map {position: relative;}
header .header_top .user_info .map .map_icon {margin-right: 20px; }
header .header_top .user_info .map .map_icon img {}
header .header_top .user_info .map .map_open {
    position: absolute; left: 26%; transform: translateX(-50%); z-index: 999;
    top: 55px; width: 267px; padding: 18px 17px 17px;
    border: 1px solid #ddd; background-color: #fff;
    display: none;
}
header .header_top .user_info .map .map_open::before {
    content: ''; display: inline-block; width: 36px; height: 36px;
    position: absolute; left: 118px; top: -20px;
}
header .header_top .user_info .map .map_open::after {
    background: url(../images/main/icon/map_open_arrow.svg) no-repeat center;
    height: 11px; width: 18px; content: ''; display: inline-block;
    position: absolute; top: -11px; left: 127px;
}
header .header_top .user_info .map .map_open p {
    line-height: 24px;
    letter-spacing: 1px;
}
header .header_top .user_info .map .map_open p em {
    color: #5F0080;font-weight: 500; line-height: 24px;
}
header .header_top .user_info .map .map_open .map_btn {
    display: flex; justify-content: space-between; padding-top: 11px; 
}
header .header_top .user_info .map .map_open .map_btn #map_login_btn {
    font-size: 0.75rem; font-weight: 500; padding: 0 10px; text-align: center;
    width: 80px; height: 36px; border-radius: 3px; color: #5F0080; border: 1px solid #5F0080;
    background: #fff;
}
header .header_top .user_info .map .map_open .map_btn .address_btn {
    display: flex; justify-content: center; align-items: center;
    background: #5F0080; width: 145px; border-radius: 3px;
    padding: 0px 10px 0 0; height: 36px; cursor: pointer;
    position: relative;
}
header .header_top .user_info .map .map_open .map_btn .address_btn img{
    width: 20px; height: 20px; position: absolute; left: 32px; top: 9px;
}
header .header_top .user_info .map .map_open .map_btn .address_btn .map_search_btn {
    font-size: 0.75rem; font-weight: 500;  color: #fff;
    cursor: pointer; width: 145px; height: 36px;
}


header .header_top .user_info .wish {margin-right: 20px;}
header .header_top .user_info .wish img {}
header .header_top .user_info .cart {}
header .header_top .user_info .cart img {}
/* header bottom */
header .header_btm {
    display: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07);
}
header .header_btm nav {
    width: 1050px; height: 56px; display: flex; margin: 0 auto; justify-content: space-between;
    align-items: center; position: relative;
}
header .header_btm nav .category {font-weight: 500;}
header .header_btm nav .category img {width: 16px; height: 14px; margin-right: 10px;}
/* 카테고리 마우스 오버 시 출력되는 카데고리 */
header .header_btm nav .gnb_bg {
    position: absolute; top: 46px; left: 0;
    max-height: calc(-55px + 95vh); overflow-y: hidden; overflow-x: hidden;
    min-height: 200px; display: flex; background: #fff;
    display: none;
}
header .header_btm nav .gnb_bg .gnb_wrap {
    width: 517px; position: relative; z-index: 321; padding-top: 10px;
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb {
    border: 1px solid #ddd;
    width: 247px; height: 100%;
    overflow-y: auto ; overflow-x: hidden;
}

header .header_btm nav .gnb_bg .gnb_wrap .gnb li {
    padding: 7px 0 9px 14px; width: 230px; height: 40px;
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li a {display: flex; align-items: center; }
header .header_btm nav .gnb_bg .gnb_wrap .gnb li a img {width: 24px; height: 24px;}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li a span {padding: 1px 20px 0 10px; font-size: 0.875rem;}

/* lnb 전체 가리기, 선택 보이기 */
header .header_btm nav .gnb_bg .gnb_wrap .gnb li .lnb_bg .lnb_wrap .lnb {display: none;}
/* header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(1) .lnb_bg .lnb_wrap .lnb { display: block;} */
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:last-child .lnb_bg .lnb_wrap .lnb { display: none !important;}

/* gnb 마우스 오버시 출력되는 lnb */
header .header_btm nav .gnb_bg .gnb_wrap .gnb li .lnb_bg {
    
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li .lnb_bg .lnb_wrap {}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li .lnb_bg .lnb_wrap .lnb {
    position: absolute; top: 10px; left: 246px; z-index: 320; border: 1px solid #ddd;
    height: 100%; width: 266px; overflow-y: scroll; padding-top: 10px;
    border-left: none; border-left: none; background: #f7f7f7;
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li .lnb_bg .lnb_wrap .lnb a {
    font-size: 0.875rem; padding: 11px 20px 11px 18px;
}

/* 첫번째 lnb */
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:first-child .lnb_bg .lnb_wrap .lnb {}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:first-child .lnb_bg .lnb_wrap .lnb a {
    font-size: 0.875rem; padding: 11px 20px 11px 18px;
}
/* lnb 마지막 자식 컬리의 추천 */
/* lnb 마지막 자식 컬리의 추천 공통 */
header .header_btm nav .gnb_bg .gnb_wrap:last-child {width: 1000px;}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) {}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) .lnb_bg {}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) .lnb_bg .lnb_wrap {height: 100%;}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) .lnb_bg .lnb_wrap .lnb {
    width: 560px; padding: 20px 0 0 21px; overflow-x: hidden;
    display: flex; flex-flow: row wrap;
    height: 100%;
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) .lnb_bg .lnb_wrap .lnb > a {
    display: flex; flex-flow: column nowrap; align-items: flex-start; margin-right: 10px;
    padding: 0;
}
header .header_btm nav .gnb_bg .gnb_wrap .gnb li:nth-child(27) .lnb_bg .lnb_wrap .lnb > a > img {
    width: 116px; height: 88px; margin-bottom: 8px;
}
/* 신상품, 베스트, 알뜰쇼핑, 특가/혜택 */
header .header_btm nav .theme {display: flex;}
header .header_btm nav .theme li {width: 150px; text-align: center;}
header .header_btm nav .theme li a {font-weight: 500;}
/* 샛별 하루배송 안내 */
header .header_btm nav .delivery {
    height: 32px; text-align: center;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid #E7E7E7;
}
header .header_btm nav .delivery span {
    font-size: 0.813rem; line-height: 16px;
    letter-spacing: -0.32px;
    font-weight: 500; display: block;
}
header .header_btm nav .delivery span em {
    color: #5F0080; font-size: 0.813rem; line-height: 16px;
    letter-spacing: -0.32px;
    font-weight: 500;
}

