// color
$purple: #5F0080;
$orange: #fa622f;
$badge: #bd76ff;
$error: #f03f40;
$c-51: #333;
$c-102: #666;
$c-153:#999;
$c-181:#b5b5b5;
$c-204:#cccccc;
$c-221:#ddd;
$c-226: #e2e2e2;
$c-238: #eeeeee;
$c-242: #F2F2F2;
$c-244: #f4f4f4;
$c-245: #f5f5f5;
$c-247:#f7f7f7;
$c-250: #fafafa;

// font size
$px28: 1.75rem;
$px24: 1.5rem;
$px20: 1.25rem;
$px18: 1.125rem;
$px17: 1.063rem;
$px15: 0.938rem;
$px14: 0.875rem;
$px13: 0.813rem;
$px12: 0.75rem;
$px11: 0.688rem;
$px10: 0.625rem;

// mixin 2개 이상의 스타일 규칙 함수
@mixin flex-row-btw-ct {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-row-btw-st {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:flex-start;
}
@mixin flex-row-end-ct {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
@mixin flex-row-ct-ct {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
@mixin flex-row-st {
    display:flex;
    flex-flow:row nowrap;
    align-items: flex-start;
}
@mixin flex-row-st-ct {
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@mixin flex-col-btw-ct {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-col-ct-ct {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@mixin flex-col-lf {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
@mixin flex-col-rt {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

// button 
@mixin bo_bk3 {
    border: 1px solid #333;
    border-radius: 3px;
}
@mixin bo_bk4 {
    border: 1px solid #333;
    border-radius: 4px;
}
@mixin bo_dd3 {
    border: 1px solid #ddd;
    border-radius: 3px;
}
@mixin bo_dd4 {
    border: 1px solid #ddd;
    border-radius: 4px;
}
@mixin bo_pp3 {
    border: 1px solid #5F0080;
    border-radius: 3px;
}
@mixin bo_pp4 {
    border: 1px solid #5F0080;
    border-radius: 4px;
}
@mixin pull_pp3 {
    background-color: #5F0080;
    border-radius: 3px;
    color:#fff;
}
@mixin pull_pp4 {
    background-color: #5F0080;
    border-radius: 4px;
    color:#fff;
}
@mixin pull_dd4 {
    background-color: #ddd;
    border-radius: 4px;
    color:#fff;
}

// 글자 사이 라인 -> | 
@mixin bf_ddd_12px {
    content: '';
    display: inline-block;
    width: 1px; height: 12px;
    background-color: #ddd;
}
@mixin bf_999_12px {
    content: '';
    display: inline-block;
    width: 1px; height: 12px;
    background-color: #999;
}
@mixin bf_333_10px {
    content: '';
    display: inline-block;
    width: 1px; height: 10px;
    background-color: #333;
}