@import 'common';

// 버튼영역 (up, 챗봇)
.main_btn {
    height: 200vh;
    #btn_up:hover {
        background-image: url('../images/main/icon/footer/arrow_top_hover.png');
        transition: 0.5s ease;
    }
    #btn_up {
        background-image: url('../images/main/icon/footer/arrow_top.png');
        content: '';
        background-size: cover;
        width: 58px;
        height: 58px;
        position: fixed;
        right: 50px; bottom: 60px;
        cursor: pointer;
        z-index: 999;
        // transition: opacity 0.3s ease-in-out;
        // opacity: 0;
    }
    #btn_chatbot:hover {
        background-image: url('../images/main/icon/footer/icon_chatbot_hover.png');
        transition: 0.5s ease;
    }
    #btn_chatbot {
        background-image: url('../images/main/icon/footer/icon_chatbot.png');
        content: '';
        background-size: cover;
        width: 58px;
        height: 58px;
        position: fixed;
        right: 50px; bottom: 124px;
        cursor: pointer;
        z-index: 999;
    }
}
// 챗봇 영역
.sub1 {position: relative; /* display: none; */}
.chatbot_sub {
    position: relative;
    // display: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 650px ;
    height: 70%;
    // animation: slide_up 1s ease-in-out;
    position: fixed;
    right: 44px;
    bottom: 192px;
    width:358px;
    border-radius: 20px;
    background-color: #333;
    padding: 20px 15px;
    z-index: 900;
    box-shadow: -4px 15px 15px 0px rgba(0,0,0,0.2);
    .home {
        width: 100%;
        display: none;
        .top {
            @include flex-row-st-ct;
            padding:0 10px 20px 0px;
            img {
                width:40px;
                margin-right: 10px;
                border-radius: 22px;
            }
            span {
                font-weight: 600;
                font-size: $px15;
                color:#fff;
            }
        }
        .contact::-webkit-scrollbar {
            display: none; 
        }
        .contact {
            padding-bottom: 60px;
            max-height: 460px;
            overflow-y: scroll;
            // display: none;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .list1 {
                padding: 15px;
                background-color: #f4f4f4;
                border-radius: 20px;
                .basic_chat {
                    .profile {
                        @include flex-row-st;
                        img {
                            width:34px;
                            border-radius: 50%;
                            margin-right: 8px;
                        }
                        span {
                            span:first-child {
                                display: block;
                                font-weight: 800;
                                font-size: $px12;
                                margin-bottom: 4px;
                            }
                            span:nth-child(2) {
                                font-size: $px12;
                                font-weight: 500;
                                letter-spacing: -0.04rem;
                            }
                        }
                    }
                }
                .btn_inquire {
                    display: block;
                    width:100%;
                    text-align: center;
                    background-color: $purple;
                    color:#fff;
                    border-radius: 4px;
                    padding: 14px 0;
                    font-size: $px14;
                    margin: 20px 0 7px;
                    span {
                        color:#fff;
                        font-size: $px13;
                        margin-right: 5px;
                        font-weight: 600;
                    }
                }
                p {
                    text-align: center;
                    font-size: $px10;
                    font-weight: 500;
                }
            }
            .list2 {
                @include flex-row-btw-ct;
                padding: 15px;
                background-color: #f4f4f4;
                border-radius: 20px;
                margin-top: 15px;
                p {
                    font-size: $px13;
                    font-weight: 500;
                }
                .chat_icon {
                    a {
                        img {
                            width:30px;
                            border-radius: 10px;
                        }
                    }
                }
            }
            .list3 {
                text-align: center;
                padding: 15px 0;
                color:#fff;
                [class$=dots] {
                    font-size: $px13;
                }
                p {
                    color:#fff;
                    display: inline-block;
                    font-size: $px12;
                }
            }
        }
    }
    .chat {
    display: none;
        .top {
            p {
                font-weight: 600;
                font-size: $px20;
                color:#fff;
            }
        }
        .wrap {
            .null {
                height: 100%;
                padding: 80px 0 60px;
                @include flex-col-ct-ct;
                [class$=dots] {
                    font-size: 60px;
                    color:#666;
                }
                p {
                    color:#999;
                    margin-top: 20px;
                }
            }
            .button {
                @include flex-row-ct-ct;
                margin-bottom: 40px;
                .btn_new_q {
                    display: inline-block;
                    color: #fff;
                    text-align: center;
                    @include pull_pp4;
                    padding: 10px 20px;
                }
            }
        }
    }
    .setting {
        height: 480px;
        display: none;
        .top {
            p {
                font-weight: 600;
                font-size: $px20;
                color:#fff;
            }
        }
        .user_info {
            padding-top: 0px;
            max-height: 480px;
            @include flex-col-ct-ct;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .user_top {
                @include flex-row-st-ct;
                text-align: left;
                color:#fff;
                width: 100%;
                .pro_img {
                    transform: translateY(-8px);
                    margin-right: 20px;
                    [class$=user] {
                        font-size: 35px;
                        border: 2px solid #666;
                        border-radius: 20px;
                        padding: 15px;
                        margin:30px 0 15px;
                        color:#fff;
                    }
                }
                .pro_info {
                    @include flex-col-st;
                    p:nth-child(1) {
                        color:#fff;
                        font-size: $px10;
                        margin-left: 2px;
                    }
                    p:nth-child(2) {
                        color:#fff;
                        margin:5px 0 5px 2px;
                        font-size: $px10;
                    }
                    a {
                        background-color: rgba(0,0,0,0.2);
                        color:#fff;
                        padding: 4px 4px;
                        border-radius: 4px;
                        font-size: $px10;
                        i[class$=square] {
                            color:#fff;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .environment, .set_alarm {
                border-top: 1px solid #666;
                padding: 10px 0;
                color: #fff;
                width: 100%;
                li:nth-child(1), li:nth-child(5) {
                    margin:2px 0 10px;
                }
                li {
                    @include flex-row-btw-ct;
                    margin-bottom: 2px;
                    padding: 5px 6px;
                    span {
                        color:#999;
                        font-size: $px14;
                    }
                    .t_icon {
                        @include flex-row-st-ct;
                        color:#fff;
                        [class*=fa] {
                            margin-right: 8px;
                            font-size: 14px;
                        }
                        p {
                            color:#fff;
                            font-size: $px14;
                            font-weight: 400;
                        }
                    }
                    .lang {
                        color:#fff;
                        @include flex-row-st-ct;
                        [class$=right] {
                            font-size: 10px;
                            transform: translateY(1px);
                        }
                        p {
                            color:#fff;
                            font-size: $px14;
                            margin-right: 10px;
                            font-weight: 300;
                        }
                    }
                    .toggle_active {
                        cursor: pointer;
                        background-color: $purple;
                        width:38px;
                        height: 26px;
                        border-radius: 18px;
                        border: 1px solid #444;
                        .circle {
                            width: 16px;
                            height: 16px;
                            background-color: #fff;
                            border-radius: 50%;
                            transform: translate(16px , 4px);
                        }
                    }
                    .toggle_none {
                        cursor: pointer;
                        background-color: #666;
                        width:38px;
                        height: 26px;
                        border-radius: 18px;
                        .circle {
                            width: 16px;
                            height: 16px;
                            background-color: #b5b5b5;
                            border-radius: 50%;
                            transform: translate(4px , 5px);
                        }
                    }
                }
                .ver {
                    color:#999;
                    text-align: right;
                    display: block;
                    font-size: 10px;
                    padding-right: 8px;
                }
            }
        }
    }
    .navigation {
        position: absolute;
        bottom: 0px;
        width: 100%;
        @include flex-row-btw-ct;
        padding: 15px 0 20px;
        width:341px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: #333;
        a:hover {
            color:#fff;
            transition: 0.5s ease;
        }
        a {
            color:#999;
            padding: 0 30px;
            @include flex-col-ct-ct;
            font-size: $px15;
            [class*=fa] {
                margin-bottom:5px;
            }
        }
    }
}
.sub2 {
    display: none;
    .title {
        position: sticky;
        top: 0px;
        right: 0px;
        left: 0px;
        background-color: #333;
        @include flex-row-st-ct;

        a {
            [class$=left] {
                color:#fff;
            }
            margin-right: 20px;
        }
        p {
            img {
                width:35px;
                margin-right: 12px;
            }
            span:nth-child(1) {
                font-size: $px14;
                margin-bottom: 4px;
            }
            span:nth-child(2) {
                font-size: $px12;
                color:#999;
            }
            span {
                color:#fff;
                display: block;
            }
        }
    }
    .notice_bnr {
        width: 100%;
        background-color: #444;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;
        [class$=low] {
            color:#999;
            margin-right: 5px;
        }
        p:nth-child(2)::after {
            @include bf_999_12px;
            margin:0 5px;
            transform: translateY(1px);
            opacity: 0.4;
        }
        p {
            color:#999;
            display: inline-block;
            font-size: $px13;
        }
    }
    .chat_qa {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        // padding-bottom: 0px;
        .kurly_logo {
            @include flex-col-ct-ct;
            padding: 30px 0;
            img {
                width:60px;
                margin-bottom: 10px;
            }
            span {
                color:#fff;
            }
        }
        .qa_list {
            max-height: 480px;
            padding: 20px 0;
            .qa_brand{
                p {
                    @include flex-row-st-ct;
                    img {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #f4f4f4;
                        margin-right: 6px;
                    }
                    span {
                        color:#fff;
                        font-size: $px11;
                        font-weight: 400;
                    }
                }
                .comment_wrap {
                    .comment_box {
                        max-width: 86%;
                        margin: 10px 0;
                        .brand_ment {
                            display: inline-block;
                            color:#fff;
                            font-size: $px14;
                            font-weight: 300;
                            margin-bottom: 4px;
                            background-color: #444;
                            border-radius: 20px;
                            padding: 15px;
                            line-height: 1.1rem;
                            span {
                                margin: 10px 0;
                                display: block;
                                [class$=right] {
                                    color: $badge;
                                    margin-right: 10px;
                                    font-size: $px12;
                                }
                                a {
                                    color: $badge;
                                    font-size: $px14;
                                }
                            }
                        }
                    }
                }
            }
            .qa_user{
                @include flex-col-rt;
                .user_choice {
                    max-width: 86%;
                    .basic {
                        @include flex-col-rt;
                        button:hover {
                            background-color: $purple;
                            border: 2px solid $purple;
                            transition: 0.5s ease;
                        }
                        button {
                            border: 2px solid #444;
                            border-radius: 16px;
                            color:#fff;
                            padding: 8px 14px;
                            font-size: $px14;
                            margin-bottom: 8px;
                            font-weight: 300;
                        }
                    }
                }
            }
            .choice_order_be, .choice_delivery, .choice_consultant {
                @include flex-col-rt;
                .user_ment_active {
                    background-color: $purple;
                    border: 2px solid $purple;
                    border-radius: 16px;
                    color:#fff;
                    padding: 8px 14px;
                    font-size: $px14;
                    margin-bottom: 8px;
                    font-weight: 300;
                }
            }
            .choice_order_be_list, .choice_order_list, .choice_deilvery_list {
                width:100%;
                display: flex;
                justify-content: right;
                padding: 15px 0;
                .be_list {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    max-width: 86%;
                    gap:0px 6px;
                    a {
                        display: inline-block;
                        border: 2px solid #444;
                        border-radius: 16px;
                        color:#fff;
                        padding: 8px 14px;
                        font-size: $px14;
                        margin-bottom: 8px;
                        font-weight: 300;
                    }
                }
            }
            .user_message{
                @include flex-row-end-ct;
                p {
                    background-color: $purple;
                    border: 2px solid $purple;
                    border-radius: 16px;
                    color:#fff;
                    padding: 8px 14px;
                    font-size: $px14;
                    margin-bottom: 8px;
                    font-weight: 300;
                }
            }
            .choice_consultant_list{
                position: sticky;
                bottom: 0;
                background-color: #333;
                padding: 15px 0 0;
                .message_input {
                    background-color: #444;
                    padding: 10px;
                    border-radius: 10px;
                    .text_area {
                        width:80%;
                        color:#999;
                    }
                    a {
                        color:#999;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
// footer 영역
footer {
    border-top: 1px solid #eee;
    width:100%;
    .f_container {
        margin:0 auto;
        max-width:1280px;
        @include flex-row-btw-st;
        padding: 40px 0 20px;
        .left {
            @include flex-row-st;
            .con1 {
                margin-right: 50px;
                p:nth-child(1) {
                font-size: $px20;
                font-weight: 500;
                padding-bottom: 17px;
                }
                p:nth-child(2) {
                    padding-bottom: 20px;
                    .tel {
                        font-size: $px28;
                        margin-right: 8px;
                        font-weight: 700;
                    }
                    span {
                        letter-spacing: -0.05rem;
                        font-weight: 400;
                    }
                }
            }
            .con2 {
                .kakao, .question , .bulk_order {
                    @include flex-row-st;
                    button {
                        @include bo_dd3;
                        width: 140px;
                        height: 40px;
                        text-align: center;
                        margin: 2px 16px 16px 0;
                        font-size: $px14;
                    }
                    span {
                        padding-top: 5px;
                        display: block;
                        font-size: $px12;
                        color:$c-153;
                    }
                    .info {
                        p {
                            padding: 0;
                            span:nth-child(2)::before {
                                @include bf_ddd_12px;
                                margin-right: 5px;
                                margin-left: 2px;
                                transform: rotateY(-3px);
                            }
                            span {
                                display: inline;
                                font-size: $px12;
                                color:$c-153;
                            }
                        }
                    }
                }
                .mail_send {
                    p, a {
                        display: inline-block;
                        font-size: $px12;
                        color:$c-153;
                    }
                }
            }
        }
    }
    .f_list {
        padding-top: 10px;
        border-top: 1px solid $c-238;
        margin:0 auto;
        max-width:1280px;
        @include flex-row-btw-st;
        .isms , .eprivacy , .payments, .wooribank  {
            @include flex-row-st;
            padding: 20px 0 33px;
            img {
                height:34px;
                margin-right: 14px;
            }
            span {
                font-size: 0.65rem;
                color:$c-153;
                line-height: 1.1rem;
            }
        }
        .eprivacy {
            img {
                transform: translateY(4px);
            }
        }
        .payments {
            img {
                transform: translateY(-2px);
            }
        }
        .wooribank {
            img {
                height: 38px;
            }
        }
    }
    .right {
        .kurly_f_info {
            padding:4px 0 30px;
            a:nth-child(6) {
                font-weight: 600;
            }
            a {
                font-size: $px14;
                margin-right: 18px;
                font-weight: 500;
            }
        }
        .f_address {
            margin-bottom: 40px;
            p {
                font-size: $px11;
                line-height: 1.3rem;
                color:$c-153;
                em {
                    font-size: $px11;
                    color:$purple;
                    font-weight: 500;
                }
                span:nth-child(1)::after {
                    @include bf_ddd_12px;
                    margin: 0 5px 0 5px;
                    transform: translateY(2px);
                }
                span {
                    font-size: $px11;
                    color:$c-153;
                    font-weight: 500;
                }
            }
        }
        .f_icon {
            a img {
                width: 30px;
                height: 30px;
                margin-right: 8px;
            }
        }
    }
    address {
        width:100%;
        text-align: center;
        background-color: $c-247;
        .box {
            margin:0 auto;
            max-width: 1280px;
            padding: 20px 0 30px;
            p, em {
                color:$c-153;
                font-size: 0.685rem;
                font-weight: 500;
                margin-bottom: 4px;
            }
            p:nth-child(3) {
                margin-top: 8px;
            }
        }
    }
}
@media screen and (max-width:1280px) {
    footer{
        .f_container {
            padding: 40px 20px 20px;
            .left {
                // @include flex-col-st;
                .con1 {
                    margin-right: 30px;
                    p:nth-child(2) {
                        @include flex-col-st;
                        span:nth-child(2) {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
        .f_list {
            padding: 10px 20px 0;
            @include flex-row-btw-st;
            .isms , .eprivacy , .payments, .wooribank  {
                @include flex-row-st;
                padding: 20px 0 33px;
                img {
                }
                span {
                }
            }
        }
        .right {}
        address {
            .box {
                padding: 20px 20px 30px;
            }
        }
    }
}
@media screen and (max-width:1080px) {
    footer{
        .f_container {
            .left {
                @include flex-col-st;
                .con1 {
                    p:nth-child(1) {
                    }
                    p:nth-child(2) {
                        @include flex-row-st;
                        .tel {}
                    }
                }
                .con2 {
                    .kakao, .question , .bulk_order {
                        button {
                        }
                        span {}
                        .info {
                        }
                    }
                    .mail_send {
                        p, a {}
                    }
                }
            }
            .right {
                padding-top: 48px;
                .f_address {
                }
                .kurly_f_info {
                    a {
                    }
                }
            }
        }
        .f_list {
            .isms , .eprivacy , .payments, .wooribank  {
                img {
                }
                span {
                }
            }
        }
        address {
            .box {
            }
        }
    }
}
@media screen and (max-width:820px) {
    footer{
        .f_container {
            @include flex-col-st;
            padding: 40px 16px 20px;
            .left {
                p:nth-child(1) {
                    font-size: $px16;
                }
                p:nth-child(2) {
                    .tel {
                        font-size: $px24;
                    }
                }
                > p:nth-child(2) {
                    padding-bottom: 14px;
                }
                .question > p:nth-child(2) {
                    padding-bottom: 0px;
                }
                .kakao, .question , .bulk_order {
                    button {
                        width: 100px;
                        height: 30px;
                        margin: 6px 10px 10px 0;
                        font-size: $px12;
                    }
                    span {font-size: $px10;}
                    .info {
                        p:nth-child(2) {padding-bottom: 0px;}
                        p {
                            span {font-size: $px10;}
                        }
                    }
                }
                .mail_send {
                    padding-top: 5px;
                    p, a {}
                    > p:nth-child(1) {padding-bottom: 4px; font-size: $px11;}
                }
            }
            .right {
                padding-top: 8px;
                .f_address {
                    margin-bottom: 16px;
                }
                .kurly_f_info {
                    padding: 8px 0px 20px;
                    font-size: $px8;
                    // white-space: wrap;
                    a {
                        font-size: $px12;
                        margin-right: 10px;
                    }
                }
            }
        }
        .f_list {
            padding: 10px 16px 10px;
            display: grid;
            grid-template-areas: 
                'list1 list2'
                'list3 list4'
            ;
            justify-content: start;
            .isms , .eprivacy , .payments, .wooribank  {
                @include flex-row-st;
                padding: 7px 40px 7px 0;
                img {
                    width: 40px;
                }
                span {
                }
            }
        }
        address {
            text-align: left;
            .box {
                padding: 20px 16px 30px;
            }
        }
    }
}
@media screen and (max-width:430px) {
    footer {
        .f_container {
            .left {
                .mail_send {
                    display: none;
                    p, a {}
                    > p:nth-child(1) {padding-bottom: 4px; font-size: $px11;}
                }
            }
            .right {
                padding-top: 8px;
                .f_address {
                    p {
                        font-size: $px9;
                        span {
                            font-size: $px9;
                            em {font-size: $px9;}
                        }
                        em {font-size: $px9;}
                    }
                }
                .kurly_f_info {
                    font-size: 0.68rem;
                    padding: 4px 0 8px;
                    a {
                        font-size: $px10;
                    }
                }
            }
        }
        .f_list {
            @include flex-col-st;
            .isms , .eprivacy , .payments, .wooribank  {
                img {
                    width: 30px;
                }
            }
        }
        address {
            .box {
                p, em {
                    font-size: 0.65rem;
                    display: inline-block;
                }
            }
        }
    }
}
@media screen and (max-width:320px) {}
// js용 추가 클래스
// transition: opacity 0.3s ease-in-out;
// opacity: 0;
.btn_up_active {
    opacity: 1;
}
.toggle_active {
    cursor: pointer;
    background-color: $purple;
    width:38px;
    height: 26px;
    border-radius: 18px;
    border: 1px solid #444;
    .circle {
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        transform: translate(16px , 4px);
    }
}
.toggle_none {
    cursor: pointer;
    background-color: #666;
    width:38px;
    height: 26px;
    border-radius: 18px;
    .circle {
        width: 16px;
        height: 16px;
        background-color: #b5b5b5;
        border-radius: 50%;
        transform: translate(4px , 5px);
    }
}
// 슬라이드용 애니메이션
// animation: slide_up 0.6s ease-in-out;
@keyframes slide_up {
    0% {opacity: 0; transform: translateX(100%);}
    100% {opacity: 1; transform: translateX(0);}
}