.main_btn #btn_up:hover {
  background-image: url("../images/main/icon/footer/arrow_top_hover.png");
  transition: 0.5s ease;
}
.main_btn #btn_up {
  background-image: url("../images/main/icon/footer/arrow_top.png");
  content: "";
  background-size: cover;
  width: 58px;
  height: 58px;
  position: fixed;
  right: 50px;
  bottom: 60px;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.6s ease-in-out;
}
.main_btn #btn_chatbot:hover {
  background-image: url("../images/main/icon/footer/icon_chatbot_hover.png");
  transition: 0.5s ease;
}
.main_btn #btn_chatbot {
  background-image: url("../images/main/icon/footer/icon_chatbot.png");
  content: "";
  background-size: cover;
  width: 58px;
  height: 58px;
  position: fixed;
  right: 50px;
  bottom: 124px;
  cursor: pointer;
  z-index: 999;
}

.chatbot_sub {
  animation: opacity 0.3s linear;
  position: relative;
  display: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 650px;
  height: 70%;
  position: fixed;
  right: 44px;
  bottom: 192px;
  width: 358px;
  border-radius: 20px;
  background-color: #333;
  padding: 20px 15px;
  z-index: 900;
  box-shadow: -4px 15px 15px 0px rgba(0, 0, 0, 0.2);
}
.chatbot_sub .home {
  width: 100%;
  padding-bottom: 25px;
}
.chatbot_sub .home .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px 20px 0px;
}
.chatbot_sub .home .top img {
  width: 40px;
  margin-right: 10px;
  border-radius: 22px;
}
.chatbot_sub .home .top span {
  font-weight: 600;
  font-size: 1.063rem;
  color: #fff;
}
.chatbot_sub .home .contact::-webkit-scrollbar {
  display: none;
}
.chatbot_sub .home .contact {
  padding-bottom: 60px;
  max-height: 460px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chatbot_sub .home .contact .list1 {
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 20px;
}
.chatbot_sub .home .contact .list1 .basic_chat .profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.chatbot_sub .home .contact .list1 .basic_chat .profile img {
  width: 34px;
  border-radius: 50%;
  margin-right: 8px;
}
.chatbot_sub .home .contact .list1 .basic_chat .profile span span:first-child {
  display: block;
  font-weight: 800;
  font-size: 0.875rem;
  margin-bottom: 4px;
}
.chatbot_sub .home .contact .list1 .basic_chat .profile span span:nth-child(2) {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.04rem;
}
.chatbot_sub .home .contact .list1 .btn_inquire:hover {
  background-color: rgba(52, 0, 59, 0.97);
  transition: 0.4s ease;
}
.chatbot_sub .home .contact .list1 .btn_inquire {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #5F0080;
  color: #fff;
  border-radius: 18px;
  padding: 14px 0;
  font-size: 1rem;
  margin: 20px 0 7px;
}
.chatbot_sub .home .contact .list1 .btn_inquire span {
  color: #fff;
  font-size: 0.938rem;
  margin-right: 5px;
  font-weight: 600;
}
.chatbot_sub .home .contact .list1 p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
}
.chatbot_sub .home .contact .list2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top: 15px;
}
.chatbot_sub .home .contact .list2 p {
  font-size: 0.938rem;
  font-weight: 500;
}
.chatbot_sub .home .contact .list2 .chat_icon a img {
  width: 30px;
  border-radius: 10px;
}
.chatbot_sub .home .contact .list3 {
  text-align: center;
  padding: 15px 0;
  color: #fff;
}
.chatbot_sub .home .contact .list3 [class$=dots] {
  font-size: 0.938rem;
}
.chatbot_sub .home .contact .list3 p {
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
}
.chatbot_sub .chat {
  display: none;
}
.chatbot_sub .chat .top p {
  font-weight: 600;
  font-size: 1.375rem;
  color: #fff;
}
.chatbot_sub .chat .wrap {
  padding-top: 40px;
}
.chatbot_sub .chat .wrap .null {
  height: 100%;
  padding: 80px 0 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.chatbot_sub .chat .wrap .null [class$=dots] {
  font-size: 60px;
  color: #666;
}
.chatbot_sub .chat .wrap .null p {
  color: #999;
  margin-top: 20px;
}
.chatbot_sub .chat .wrap .button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.chatbot_sub .chat .wrap .button .btn_new_q:hover {
  background-color: rgba(43, 0, 49, 0.87);
  transition: 0.4s ease;
}
.chatbot_sub .chat .wrap .button .btn_new_q {
  display: inline-block;
  color: #fff;
  text-align: center;
  background-color: #5F0080;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
}
.chatbot_sub .setting {
  display: none;
  height: 480px;
}
.chatbot_sub .setting .top p {
  font-weight: 600;
  font-size: 1.375rem;
  color: #fff;
}
.chatbot_sub .setting .user_info {
  padding-top: 0px;
  max-height: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chatbot_sub .setting .user_info .user_top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: #fff;
  width: 100%;
}
.chatbot_sub .setting .user_info .user_top .pro_img {
  transform: translateY(-8px);
  margin-right: 20px;
}
.chatbot_sub .setting .user_info .user_top .pro_img [class$=user] {
  font-size: 35px;
  border: 2px solid #666;
  border-radius: 20px;
  padding: 15px;
  margin: 30px 0 15px;
  color: #fff;
}
.chatbot_sub .setting .user_info .user_top .pro_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
.chatbot_sub .setting .user_info .user_top .pro_info p:nth-child(1) {
  color: #fff;
  font-size: 0.75rem;
  margin-left: 2px;
}
.chatbot_sub .setting .user_info .user_top .pro_info p:nth-child(2) {
  color: #fff;
  margin: 5px 0 5px 2px;
  font-size: 0.75rem;
}
.chatbot_sub .setting .user_info .user_top .pro_info a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 0.75rem;
}
.chatbot_sub .setting .user_info .user_top .pro_info a i[class$=square] {
  color: #fff;
  margin-right: 5px;
}
.chatbot_sub .setting .user_info .environment, .chatbot_sub .setting .user_info .set_alarm {
  border-top: 1px solid #666;
  padding: 10px 0;
  color: #fff;
  width: 100%;
}
.chatbot_sub .setting .user_info .environment li:nth-child(1), .chatbot_sub .setting .user_info .environment li:nth-child(5), .chatbot_sub .setting .user_info .set_alarm li:nth-child(1), .chatbot_sub .setting .user_info .set_alarm li:nth-child(5) {
  margin: 2px 0 10px;
}
.chatbot_sub .setting .user_info .environment li, .chatbot_sub .setting .user_info .set_alarm li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 5px 6px;
}
.chatbot_sub .setting .user_info .environment li span, .chatbot_sub .setting .user_info .set_alarm li span {
  color: #999;
  font-size: 1rem;
}
.chatbot_sub .setting .user_info .environment li .t_icon, .chatbot_sub .setting .user_info .set_alarm li .t_icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}
.chatbot_sub .setting .user_info .environment li .t_icon [class*=fa], .chatbot_sub .setting .user_info .set_alarm li .t_icon [class*=fa] {
  margin-right: 8px;
  font-size: 14px;
}
.chatbot_sub .setting .user_info .environment li .t_icon p, .chatbot_sub .setting .user_info .set_alarm li .t_icon p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}
.chatbot_sub .setting .user_info .environment li .lang, .chatbot_sub .setting .user_info .set_alarm li .lang {
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.chatbot_sub .setting .user_info .environment li .lang [class$=right], .chatbot_sub .setting .user_info .set_alarm li .lang [class$=right] {
  font-size: 10px;
  transform: translateY(1px);
}
.chatbot_sub .setting .user_info .environment li .lang p, .chatbot_sub .setting .user_info .set_alarm li .lang p {
  color: #fff;
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 300;
}
.chatbot_sub .setting .user_info .environment li .toggle_active, .chatbot_sub .setting .user_info .set_alarm li .toggle_active {
  cursor: pointer;
  background-color: #5F0080;
  width: 38px;
  height: 24px;
  border-radius: 18px;
  border: 1px solid #444;
}
.chatbot_sub .setting .user_info .environment li .toggle_active .circle, .chatbot_sub .setting .user_info .set_alarm li .toggle_active .circle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.13s linear;
  transform: translate(16px, 3px);
}
.chatbot_sub .setting .user_info .environment li .toggle_none, .chatbot_sub .setting .user_info .set_alarm li .toggle_none {
  cursor: pointer;
  background-color: #666;
  width: 38px;
  height: 24px;
  border-radius: 18px;
}
.chatbot_sub .setting .user_info .environment li .toggle_none .circle, .chatbot_sub .setting .user_info .set_alarm li .toggle_none .circle {
  width: 16px;
  height: 16px;
  background-color: #b5b5b5;
  border-radius: 50%;
  transition: 0.13s linear;
  transform: translate(4px, 4px);
}
.chatbot_sub .setting .user_info .environment .ver, .chatbot_sub .setting .user_info .set_alarm .ver {
  color: #999;
  text-align: right;
  display: block;
  font-size: 10px;
  padding-right: 8px;
}
.chatbot_sub .navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 20px;
  width: 341px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #333;
}
.chatbot_sub .navigation a:hover {
  color: #fff;
  transition: 0.5s ease;
}
.chatbot_sub .navigation a {
  color: #999;
  padding: 0 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.063rem;
}
.chatbot_sub .navigation a [class*=fa] {
  margin-bottom: 5px;
}

.sub2 {
  padding: 20px 25px;
  z-index: 700;
}
.sub2 .title {
  padding: 20px 0 0;
  position: sticky;
  top: -20px;
  right: 0px;
  left: 0px;
  z-index: 999;
  background-color: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sub2 .title a {
  margin-right: 20px;
}
.sub2 .title a [class$=left] {
  color: #fff;
}
.sub2 .title p img {
  width: 35px;
  margin-right: 12px;
}
.sub2 .title p span:nth-child(1) {
  font-size: 1rem;
  margin-bottom: 4px;
}
.sub2 .title p span:nth-child(2) {
  font-size: 0.875rem;
  color: #999;
}
.sub2 .title p span {
  color: #fff;
  display: block;
}
.sub2 .notice_bnr {
  width: 100%;
  background-color: #444;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}
.sub2 .notice_bnr [class$=low] {
  color: #999;
  margin-right: 5px;
}
.sub2 .notice_bnr p:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #999;
  margin: 0 5px;
  transform: translateY(1px);
  opacity: 0.4;
}
.sub2 .notice_bnr p {
  color: #999;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
}
.sub2 .chat_qa {
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sub2 .chat_qa .kurly_logo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0 84px;
}
.sub2 .chat_qa .kurly_logo img {
  width: 60px;
  margin-bottom: 10px;
}
.sub2 .chat_qa .kurly_logo span {
  color: #fff;
}
.sub2 .chat_qa .qa_list {
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-height: 480px;
  padding: 20px 0;
}
.sub2 .chat_qa .qa_list .qa_brand {
  background-color: #333;
}
.sub2 .chat_qa .qa_list .qa_brand p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sub2 .chat_qa .qa_list .qa_brand p img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f4f4f4;
  margin-right: 6px;
}
.sub2 .chat_qa .qa_list .qa_brand p span {
  color: #fff;
  font-size: 0.813rem;
  font-weight: 400;
}
.sub2 .chat_qa .qa_list .qa_brand .comment_wrap .comment_box {
  max-width: 86%;
  margin: 10px 0;
}
.sub2 .chat_qa .qa_list .qa_brand .comment_wrap .comment_box .brand_ment {
  animation: slide_up 0.5s ease-in-out;
  display: inline-block;
  color: #fff;
  font-size: 0.938rem;
  font-weight: 300;
  margin-bottom: 4px;
  background-color: #444;
  border-radius: 20px;
  padding: 15px;
  line-height: 1.3rem;
  letter-spacing: -0.04rem;
}
.sub2 .chat_qa .qa_list .qa_brand .comment_wrap .comment_box .brand_ment span {
  margin: 10px 0;
  display: block;
}
.sub2 .chat_qa .qa_list .qa_brand .comment_wrap .comment_box .brand_ment span [class$=right] {
  color: #bd76ff;
  margin-right: 10px;
  font-size: 0.75rem;
}
.sub2 .chat_qa .qa_list .qa_brand .comment_wrap .comment_box .brand_ment span a {
  color: #bd76ff;
  font-size: 0.875rem;
}
.sub2 .chat_qa .qa_list .qa_user {
  background-color: #333;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.sub2 .chat_qa .qa_list .qa_user .user_choice {
  animation: slide_up 0.5s ease-in-out;
  max-width: 86%;
}
.sub2 .chat_qa .qa_list .qa_user .user_choice .basic {
  animation: slide_up 0.5s ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.sub2 .chat_qa .qa_list .qa_user .user_choice .basic button:hover {
  background-color: #5F0080;
  border: 2px solid #5F0080;
  transition: 0.5s ease;
}
.sub2 .chat_qa .qa_list .qa_user .user_choice .basic button {
  border: 2px solid #444;
  border-radius: 16px;
  color: #fff;
  padding: 8px 14px;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 300;
}
.sub2 .chat_qa .qa_list .choice_order_be, .sub2 .chat_qa .qa_list .choice_delivery, .sub2 .chat_qa .qa_list .choice_consultant {
  background-color: #333;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.sub2 .chat_qa .qa_list .choice_order_be .user_ment_active, .sub2 .chat_qa .qa_list .choice_delivery .user_ment_active, .sub2 .chat_qa .qa_list .choice_consultant .user_ment_active {
  background-color: #5F0080;
  border: 2px solid #5F0080;
  border-radius: 16px;
  color: #fff;
  padding: 8px 14px;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 300;
}
.sub2 .chat_qa .qa_list .choice_order_be_list, .sub2 .chat_qa .qa_list .choice_order_list, .sub2 .chat_qa .qa_list .choice_deilvery_list {
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 15px 0;
}
.sub2 .chat_qa .qa_list .choice_order_be_list .be_list, .sub2 .chat_qa .qa_list .choice_order_list .be_list, .sub2 .chat_qa .qa_list .choice_deilvery_list .be_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  max-width: 86%;
  gap: 0px 6px;
}
.sub2 .chat_qa .qa_list .choice_order_be_list .be_list a:hover, .sub2 .chat_qa .qa_list .choice_order_list .be_list a:hover, .sub2 .chat_qa .qa_list .choice_deilvery_list .be_list a:hover {
  background-color: #5F0080;
  border: 2px solid #5F0080;
  border-radius: 16px;
  color: #fff;
  transition: 0.5s ease;
}
.sub2 .chat_qa .qa_list .choice_order_be_list .be_list a, .sub2 .chat_qa .qa_list .choice_order_list .be_list a, .sub2 .chat_qa .qa_list .choice_deilvery_list .be_list a {
  display: inline-block;
  border: 2px solid #444;
  border-radius: 16px;
  color: #fff;
  padding: 8px 14px;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 300;
}
.sub2 .chat_qa .qa_list .user_message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.sub2 .chat_qa .qa_list .user_message p {
  background-color: #5F0080;
  border: 2px solid #5F0080;
  border-radius: 16px;
  color: #fff;
  padding: 8px 14px;
  font-size: 1rem;
  margin-bottom: 8px;
  font-weight: 300;
}
.sub2 .chat_qa .qa_list .choice_consultant_list {
  position: sticky;
  bottom: 0;
  background-color: #333;
  padding: 15px 0 0;
}
.sub2 .chat_qa .qa_list .choice_consultant_list .message_input {
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
}
.sub2 .chat_qa .qa_list .choice_consultant_list .message_input #text_area {
  width: 80%;
  color: #999;
}
.sub2 .chat_qa .qa_list .choice_consultant_list .message_input a {
  color: #999;
  margin-left: 10px;
}

footer {
  border-top: 1px solid #eee;
  width: 100%;
}
footer .f_container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0 20px;
}
footer .f_container .left {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
footer .f_container .left .con1 {
  margin-right: 58px;
}
footer .f_container .left .con1 p:nth-child(1) {
  font-size: 1.063rem;
  font-weight: 500;
  padding-bottom: 10px;
}
footer .f_container .left .con1 p:nth-child(2) {
  padding-bottom: 20px;
}
footer .f_container .left .con1 p:nth-child(2) .tel {
  font-size: 1.625rem;
  margin-right: 8px;
  font-weight: 700;
}
footer .f_container .left .con1 p:nth-child(2) span {
  letter-spacing: -0.05rem;
  font-weight: 400;
  font-size: 0.813rem;
}
footer .f_container .left .con2 .kakao, footer .f_container .left .con2 .question, footer .f_container .left .con2 .bulk_order {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
footer .f_container .left .con2 .kakao button, footer .f_container .left .con2 .question button, footer .f_container .left .con2 .bulk_order button {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 140px;
  height: 40px;
  text-align: center;
  margin: 2px 16px 16px 0;
  font-size: 1rem;
}
footer .f_container .left .con2 .kakao span, footer .f_container .left .con2 .question span, footer .f_container .left .con2 .bulk_order span {
  padding-top: 5px;
  display: block;
  font-size: 0.875rem;
  color: #999;
}
footer .f_container .left .con2 .kakao .info p, footer .f_container .left .con2 .question .info p, footer .f_container .left .con2 .bulk_order .info p {
  padding: 0;
}
footer .f_container .left .con2 .kakao .info p span:nth-child(2)::before, footer .f_container .left .con2 .question .info p span:nth-child(2)::before, footer .f_container .left .con2 .bulk_order .info p span:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin-right: 5px;
  margin-left: 2px;
  transform: rotateY(-3px);
}
footer .f_container .left .con2 .kakao .info p span, footer .f_container .left .con2 .question .info p span, footer .f_container .left .con2 .bulk_order .info p span {
  display: inline;
  font-size: 0.875rem;
  color: #999;
}
footer .f_container .left .con2 .mail_send p, footer .f_container .left .con2 .mail_send a {
  display: inline-block;
  font-size: 0.875rem;
  color: #999;
}
footer .f_list {
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
footer .f_list .isms, footer .f_list .eprivacy, footer .f_list .payments, footer .f_list .wooribank {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 20px 0 33px;
}
footer .f_list .isms img, footer .f_list .eprivacy img, footer .f_list .payments img, footer .f_list .wooribank img {
  height: 34px;
  margin-right: 14px;
}
footer .f_list .isms span, footer .f_list .eprivacy span, footer .f_list .payments span, footer .f_list .wooribank span {
  font-size: 0.65rem;
  color: #999;
  line-height: 1.1rem;
}
footer .f_list .eprivacy img {
  transform: translateY(4px);
}
footer .f_list .payments img {
  transform: translateY(-2px);
}
footer .f_list .wooribank img {
  height: 38px;
}
footer .right .kurly_f_info {
  padding: 4px 0 14px;
}
footer .right .kurly_f_info a:nth-child(6) {
  font-weight: 600;
}
footer .right .kurly_f_info a {
  font-size: 0.75rem;
  margin-right: 14px;
  font-weight: 500;
}
footer .right .f_address {
  margin-bottom: 40px;
}
footer .right .f_address p {
  font-size: 0.813rem;
  line-height: 1.3rem;
  color: #999;
  pointer-events: none;
}
footer .right .f_address p em {
  font-size: 0.813rem;
  color: #5F0080;
  font-weight: 500;
}
footer .right .f_address p span:nth-child(1)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin: 0 5px 0 5px;
  transform: translateY(2px);
}
footer .right .f_address p span {
  font-size: 0.813rem;
  color: #999;
  font-weight: 500;
  pointer-events: none;
}
footer .right .f_icon a img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
footer address {
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
}
footer address .box {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 0 30px;
}
footer address .box p, footer address .box em {
  color: #999;
  font-size: 0.685rem;
  font-weight: 500;
  margin-bottom: 4px;
}
footer address .box p:nth-child(3) {
  margin-top: 8px;
}

@media screen and (max-width: 1280px) {
  footer .f_container {
    padding: 40px 20px 20px;
  }
  footer .f_container .left .con1 {
    margin-right: 30px;
  }
  footer .f_container .left .con1 p:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
  }
  footer .f_container .left .con1 p:nth-child(2) span:nth-child(2) {
    margin-top: 8px;
  }
  footer .f_list {
    padding: 10px 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .f_list .isms, footer .f_list .eprivacy, footer .f_list .payments, footer .f_list .wooribank {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 20px 0 33px;
  }
  footer address .box {
    padding: 20px 20px 30px;
  }
}
@media screen and (max-width: 1080px) {
  footer .f_container .left {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
  }
  footer .f_container .left .con1 p:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  footer .f_container .right {
    padding-top: 48px;
  }
}
@media screen and (max-width: 910px) {
  footer .f_container .left {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
  }
  footer .f_container .left .con1 p:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  footer .f_container .left .con2 .kakao button, footer .f_container .left .con2 .question button, footer .f_container .left .con2 .bulk_order button {
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 90px;
    height: 37px;
    text-align: center;
    margin: 2px 16px 16px 0;
    font-size: 0.813rem;
  }
  footer .f_container .left .con2 .kakao span, footer .f_container .left .con2 .question span, footer .f_container .left .con2 .bulk_order span {
    font-size: 0.75rem;
  }
  footer .f_container .left .con2 .kakao .info p span, footer .f_container .left .con2 .question .info p span, footer .f_container .left .con2 .bulk_order .info p span {
    font-size: 0.75rem;
  }
  footer .f_container .right {
    padding-top: 48px;
  }
}
@media screen and (max-width: 820px) {
  .main_btn #btn_up {
    display: none !important;
  }
  .main_btn #btn_chatbot {
    width: 54px;
    height: 54px;
    right: 20px;
    bottom: 64px;
    z-index: 600;
  }
  .chatbot_sub {
    width: 338px;
  }
  footer {
    background-color: #f7f7f7;
  }
  footer .f_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    padding: 40px 16px 20px;
  }
  footer .f_container .left p:nth-child(1) {
    font-size: 1.125rem;
  }
  footer .f_container .left p:nth-child(2) .tel {
    font-size: 1.625rem;
  }
  footer .f_container .left > p:nth-child(2) {
    padding-bottom: 10px;
  }
  footer .f_container .left .question > p:nth-child(2) {
    padding-bottom: 0px;
  }
  footer .f_container .left .kakao button, footer .f_container .left .question button, footer .f_container .left .bulk_order button {
    width: 100px;
    height: 30px;
    margin: 6px 10px 0px 0;
    font-size: 0.875rem;
  }
  footer .f_container .left .kakao span, footer .f_container .left .question span, footer .f_container .left .bulk_order span {
    font-size: 0.75rem;
  }
  footer .f_container .left .kakao .info p:nth-child(2), footer .f_container .left .question .info p:nth-child(2), footer .f_container .left .bulk_order .info p:nth-child(2) {
    padding-bottom: 0px;
  }
  footer .f_container .left .kakao .info p span, footer .f_container .left .question .info p span, footer .f_container .left .bulk_order .info p span {
    font-size: 0.75rem;
  }
  footer .f_container .left .mail_send {
    display: none;
  }
  footer .f_container .right {
    padding-top: 8px;
  }
  footer .f_container .right .f_address {
    margin-bottom: 16px;
  }
  footer .f_container .right .kurly_f_info {
    padding: 0px 0px 20px;
  }
  footer .f_container .right .kurly_f_info a {
    font-size: 0.75rem;
    margin-right: 6px;
  }
  footer .f_list {
    padding: 10px 16px 10px;
    display: grid;
    grid-template-areas: "list1 list2" "list3 list4";
    justify-content: start;
  }
  footer .f_list .isms, footer .f_list .eprivacy, footer .f_list .payments, footer .f_list .wooribank {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 7px 40px 7px 0;
  }
  footer .f_list .isms img, footer .f_list .eprivacy img, footer .f_list .payments img, footer .f_list .wooribank img {
    width: 40px;
  }
  footer address {
    text-align: left;
  }
  footer address .box {
    padding: 20px 16px 30px;
  }
}
@media screen and (max-width: 430px) {
  footer .f_container .left .mail_send {
    display: none;
  }
  footer .f_container .left .mail_send > p:nth-child(1) {
    padding-bottom: 4px;
    font-size: 0.813rem;
  }
  footer .f_container .right {
    padding-top: 8px;
  }
  footer .f_container .right .f_address p {
    font-size: 0.688rem;
  }
  footer .f_container .right .f_address p span {
    font-size: 0.688rem;
  }
  footer .f_container .right .f_address p span em {
    font-size: 0.688rem;
  }
  footer .f_container .right .f_address p em {
    font-size: 0.688rem;
  }
  footer .f_container .right .kurly_f_info {
    font-size: 0.68rem;
    padding: 4px 0 8px;
  }
  footer .f_container .right .kurly_f_info a {
    font-size: 0.75rem;
  }
  footer .f_list {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
  }
  footer .f_list .isms img, footer .f_list .eprivacy img, footer .f_list .payments img, footer .f_list .wooribank img {
    width: 30px;
  }
  footer address .box p, footer address .box em {
    font-size: 0.65rem;
    display: inline-block;
  }
}
.btn_up_active {
  opacity: 1;
}

.toggle_active {
  cursor: pointer;
  background-color: #5F0080;
  width: 38px;
  height: 24px;
  border-radius: 18px;
  border: 1px solid #444;
}
.toggle_active .circle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(16px, 4px);
}

.toggle_none {
  cursor: pointer;
  background-color: #666;
  width: 38px;
  height: 22px;
  border-radius: 18px;
}
.toggle_none .circle {
  width: 16px;
  height: 14px;
  background-color: #b5b5b5;
  border-radius: 50%;
  transform: translate(4px, 5px);
}

.nav_active {
  color: #fff;
  transition: 0.5s ease;
}

.display_none {
  display: none !important;
}

@keyframes slide_up {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=footer.css.map */