@import 'common';

@media screen and (max-width:1280px){
    main {
        .ranking {
            padding: 40px 20px;
            .container {
                #ranking_slide {
                    #ranking_slide_wrap 
                    {
                        .item {
                            width: 295px;
                        }
                    }
                }
            }
        }
        .sub_bnr {
            padding: 80px 20px;
        }
        .special_p {
            padding: 40px 20px;
        }
        .md {
            padding: 40px 20px;
            .container {
                #md_slide {
                    #md_slide_wrap {
                        .item {
                            width: 295px;
                        }
                    }
                }
            }
        }
        .kurly_original {
            padding: 40px 20px;
            .container {
                #original_slide {
                    #original_slide_wrap {
                        .item {
                            width: 610px;
                        }
                    }
                }
            }
        }
        .present {
            padding: 40px 20px;
            .container {
                #present_slide {
                    #present_slide_wrap {
                        .item {
                            width: 295px;
                        }
                    }
                }
            }
        }
        .recipe {
            padding: 40px 20px;
            .container {
                #recipe_slide {
                    #recipe_slide_wrap {
                        .item {
                            width: 400px;
                        }
                    }
                }
            }
        }
        .instagram {
            padding: 40px 20px;
            #instagram_slide {
                #instagram_slide_wrap {
                    .item {
                        margin-right: 18px;
                        a {
                            .img {
                                width: 190px;
                                height: 190px;
                                img {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:820px){
    main {
        .main_bnr {
            #main_bnr_slide {
                #main_bnr_slide_wrap {
                    .slide {
                        display: block;
                        padding-top: 720px;
                    }
                    .slide1 {
                        background: url(../images/main/bnr_m/main_bnr_01.jpg) no-repeat;
                        width: 100%;
                        background-size: cover;
                    }
                    .slide2 {
                        background: url(../images/main/bnr_m/main_bnr_02.jpg) no-repeat;
                        width: 100%;
                        background-size: cover;
                    }
                    .slide3 {
                        background: url(../images/main/bnr_m/main_bnr_03.jpg) no-repeat;
                        width: 100%;
                        background-size: cover;
                    }
                    .slide4 {
                        background: url(../images/main/bnr_m/main_bnr_04.jpg) no-repeat;
                        width: 100%;
                        background-size: cover;
                    }
                    .slide5 {
                        background: url(../images/main/bnr_m/main_bnr_05.jpg) no-repeat;width: 100%;
                        background-size: cover;
                    }
                    .slide6 {
                        background: url(../images/main/bnr_m/main_bnr_06.jpg) no-repeat;
                        width: 100%;
                        background-size: cover;
                    }
                }
            }
        }
        .ranking {}
        .sub_bnr1 {
            background-size: cover;
        }
        .sub_bnr1 {
            a {
                background: url(../images/main/bnr_m/sub_bnr_01.jpg) no-repeat;
                background-size: cover;
            }
        }
        .sub_bnr2 {
            a {
                background: url(../images/main/bnr_m/sub_bnr_02.jpg)
                no-repeat;
                background-size: cover;
            }
        }
        .sub_bnr {
            a {
                background: url(../images/main/bnr_m/sub_bnr_03.jpg) no-repeat;
                background-size: cover;
            }
        }
        .special_p {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            .left {
                width: 100%;
                @include flex-col-ct-ct;
                .title {
                    h2 {}
                    p {
                        padding-bottom: 0;
                    }
                }
                .time {
                    padding: 10px 0;
                    .timer {
                        span {
                            [class$=clock]{
                                margin: 0 10px 0 5px;
                            }
                        }
                    }
                }
                p {
                    padding: 10px 0 30px;
                }
            }
            .right {
                .item {
                    width: 250px;
                    margin-right: 12px;
                }
            }
        }
        .md {}
        .kurly_original {
            .container {
                #original_slide {
                    #original_slide_wrap {
                        .item {
                            width: 380px;
                            a {
                                .info {
                                    height: 80px;
                                    padding: 0 13px;
                                    bottom: 10px;
                                    h2 {
                                        font-size: $px20;
                                        padding-top: 20px;
                                    }
                                    p {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .present {}
        .recipe {
            .container {
                #recipe_slide {
                    #recipe_slide_wrap {
                        .item {
                            width: 450px;
                        }
                    }
                }
            }
        }
        .instagram {}
    }
    .aside_bg {
        display: none;
    }
}