main {
  margin-top: 50px;
  margin-bottom: 60px;
  width: 100%;
}
main .join {
  margin: 0 auto;
  max-width: 640px;
}
main .join h1 {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 50px;
}
main .join .box_wrap_info {
  text-align: right;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
main .join .box_wrap_info span, main .join .box_wrap_info em {
  font-size: 0.875rem;
}
main .join .box_wrap_info em {
  color: #f03f40;
}
main .join #btn_join {
  width: 76%;
  float: right;
  height: 56px;
  text-align: center;
  display: block;
  background-color: #5F0080;
  border-radius: 4px;
  color: #fff;
  margin: 40px auto;
}
main form .wrap li {
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
main form .wrap li .title {
  padding-top: 15px;
  width: 22%;
}
main form .wrap li .title p, main form .wrap li .title em {
  font-weight: 500;
  font-size: 1rem;
}
main form .wrap li .title em {
  color: #f03f40;
}
main form .wrap li .input_area {
  width: 58%;
}
main form .wrap li .input_area input {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  padding: 0px 15px;
  height: 46px;
}
main form .wrap li .input_area .gender_male, main form .wrap li .input_area .gender_female, main form .wrap li .input_area .gender_none {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(33.3333333333% - 4px);
  display: inline-block;
}
main form .wrap li .input_area .error_m {
  display: inline-block;
  color: #f03f40;
  font-size: 0.938rem;
  margin: 10px 0;
}
main form .wrap li .event {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  position: relative;
}
main form .wrap li .event label[class*=event] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}
main form .wrap li .event input[type=radio] {
  background-image: url("../images/sub/icon_circle_off.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
main form .wrap li .event input[type=radio]:checked {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/sub/icon_circle_on.svg");
}
main form .wrap li .hiden_tab1 span {
  font-size: 0.875rem;
  margin-top: 12px;
}
main form .wrap li .hiden_tab1 .btn_area {
  width: 150px;
  height: 44px;
}
main form .wrap li .hiden_tab2 {
  display: none;
}
main form .wrap li .hiden_tab2 span:first-child {
  margin-top: 10px;
}
main form .wrap li .hiden_tab2 span {
  font-size: 0.875rem;
  display: inline-block;
}
main form .wrap li .gender {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
main form .wrap li .gender label[class*=gender] {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(33.3333333333% - 4px);
  cursor: pointer;
}
main form .wrap li .gender input[type=radio] {
  background-image: url("../images/sub/icon_circle_off.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
main form .wrap li .gender input[type=radio]:checked {
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/sub/icon_circle_on.svg");
}
main form .wrap li .date {
  border: 1px solid #ddd;
  border-radius: 4px;
}
main form .wrap li .date input {
  border: 0;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: calc(33.3333333333% - 10px);
  display: inline-block;
}
main form .wrap li .btn_area {
  width: 20%;
}
main form .wrap li .btn_area button {
  width: 100%;
  border: 1px solid #5F0080;
  border-radius: 3px;
  height: 46px;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #5F0080;
}
main form .wrap li .btn_area .btn_phone {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 46px;
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: #ddd;
}
main form .wrap li .btn_search {
  height: 44px;
  border: 1px solid #5F0080;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #5F0080;
  font-size: 1rem;
  font-weight: 500;
}
main form .wrap li .btn_search img {
  width: 20px;
}
main form .wrap li .btn_search + span {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.875rem;
}
main form .terms {
  padding: 10px 0px 10px 20px;
  border-top: 1px solid #333;
}
main form .terms li {
  padding: 10px 0px 10px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
main form .terms li .title {
  padding: 6px 20px 10px 0;
  width: 22%;
}
main form .terms li .title p, main form .terms li .title em {
  font-weight: 500;
  font-size: 1rem;
}
main form .terms li .title em {
  color: #f03f40;
}
main form .terms li .agree_area {
  width: 75%;
}
main form .terms li .agree_area label[class=agree_all] {
  font-size: 1.188rem;
  font-weight: 500;
}
main form .terms li .agree_area .agree_all + p {
  margin: 10px 0;
  font-size: 0.875rem;
}
main form .terms li .agree_area .receive label {
  margin-right: 10px;
}
main form .terms li .agree_area .receive p {
  font-size: 0.875rem;
  margin: 10px 0 10px 40px;
}
main form .terms li .agree_area label {
  font-size: 0.875rem;
}
main form .terms li .agree_area label em {
  font-size: 0.875rem;
  color: #999;
  font-weight: 500;
}
main form .terms li .agree_area label input {
  background-image: url("../images/sub/icon_check1.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin-right: 10px;
  transform: translateY(5px);
}
main form .terms li .agree_area label input:checked {
  background-image: url("../images/sub/icon_check4.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  margin-right: 10px;
  transform: translateY(5px);
}
main form .terms li .agree_area span {
  margin: 10px 0 10px 30px;
  display: inline-block;
  font-size: 0.875rem;
}
main form .terms li .agree_area div[class*=agree] {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
main form .terms li .agree_area div[class*=agree] span {
  font-size: 1rem;
}
main form .terms li .agree_area div[class*=agree] strong::after {
  background-image: url("../images/main/icon/icon_arrow_right.svg");
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  content: "";
  margin-left: 2px;
}
main form .terms li .agree_area div[class*=agree] strong {
  font-size: 1rem;
  color: #5F0080;
}
main form .terms li .agree_area .receive .choice {
  margin: 10px 0 0px 30px;
}
main form .terms li .agree_area .receive .choice label {
  cursor: pointer;
}
main form .terms li .agree_area .receive span {
  margin-left: 60px;
  margin-bottom: 10px;
  color: #5F0080;
  font-weight: 500;
  letter-spacing: -0.02rem;
}
main form .terms li .agree_area .receive span img {
  transform: translateY(3px);
}
main .tab_terms1, main .tab_terms2, main .tab_terms3 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
main .tab_terms1 .tab_box, main .tab_terms2 .tab_box, main .tab_terms3 .tab_box {
  background-color: #fff;
  width: 440px;
  border-radius: 10px;
}
main .tab_terms1 .tab_box h2, main .tab_terms2 .tab_box h2, main .tab_terms3 .tab_box h2 {
  display: block;
  padding: 30px 30px 24px;
  font-weight: 500;
  font-size: 1.25rem;
}
main .tab_terms1 .tab_box .contents, main .tab_terms2 .tab_box .contents, main .tab_terms3 .tab_box .contents {
  text-align: left;
}
main .tab_terms1 .tab_box .contents #object_first, main .tab_terms2 .tab_box .contents #object_first, main .tab_terms3 .tab_box .contents #object_first {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  max-height: 464px;
  padding: 0px 30px;
  overflow-y: auto;
}
main .tab_terms1 .tab_box .contents #object_first strong, main .tab_terms2 .tab_box .contents #object_first strong, main .tab_terms3 .tab_box .contents #object_first strong {
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 8px;
}
main .tab_terms1 .tab_box .contents #object_first span, main .tab_terms2 .tab_box .contents #object_first span, main .tab_terms3 .tab_box .contents #object_first span {
  font-size: 1rem;
}
main .tab_terms1 .tab_box .btn_ok, main .tab_terms2 .tab_box .btn_ok, main .tab_terms3 .tab_box .btn_ok {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #5F0080;
  height: 56px;
  font-weight: 500;
}
main .tab_terms1, main .tab_terms2, main .tab_terms3 {
  display: none;
}
main .tab_terms2 .tab_box, main .tab_terms3 .tab_box {
  background-color: #fff;
  width: 440px;
  border-radius: 10px;
}
main .tab_terms2 .tab_box h2, main .tab_terms3 .tab_box h2 {
  display: block;
  padding: 30px 30px 24px;
  font-weight: 500;
  font-size: 1.25rem;
}
main .tab_terms2 .tab_box .contents, main .tab_terms3 .tab_box .contents {
  text-align: left;
  max-height: 464px;
  overflow-y: auto;
  padding: 0 30px 20px;
  width: 100%;
}
main .tab_terms2 .tab_box .contents table, main .tab_terms3 .tab_box .contents table {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 20px;
}
main .tab_terms2 .tab_box .contents table thead, main .tab_terms3 .tab_box .contents table thead {
  letter-spacing: -0.02rem;
  width: 100%;
}
main .tab_terms2 .tab_box .contents table thead tr th:nth-child(1), main .tab_terms3 .tab_box .contents table thead tr th:nth-child(1) {
  width: 180px;
}
main .tab_terms2 .tab_box .contents table thead tr th:nth-child(2), main .tab_terms2 .tab_box .contents table thead tr th:nth-child(3), main .tab_terms3 .tab_box .contents table thead tr th:nth-child(2), main .tab_terms3 .tab_box .contents table thead tr th:nth-child(3) {
  width: 90px;
}
main .tab_terms2 .tab_box .contents table thead tr th, main .tab_terms3 .tab_box .contents table thead tr th {
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 5px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  text-align: center;
  border-bottom: none;
}
main .tab_terms2 .tab_box .contents table tbody, main .tab_terms3 .tab_box .contents table tbody {
  letter-spacing: -0.04rem;
}
main .tab_terms2 .tab_box .contents table tbody tr td:nth-child(1), main .tab_terms3 .tab_box .contents table tbody tr td:nth-child(1) {
  width: 180px;
}
main .tab_terms2 .tab_box .contents table tbody tr td:nth-child(2), main .tab_terms2 .tab_box .contents table tbody tr td:nth-child(3), main .tab_terms3 .tab_box .contents table tbody tr td:nth-child(2), main .tab_terms3 .tab_box .contents table tbody tr td:nth-child(3) {
  width: 90px;
}
main .tab_terms2 .tab_box .contents table tbody tr td, main .tab_terms3 .tab_box .contents table tbody tr td {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 0.875rem;
  line-height: 19px;
}
main .tab_terms2 .tab_box .contents table tbody tr td em, main .tab_terms3 .tab_box .contents table tbody tr td em {
  font-size: 0.875rem;
  font-weight: 600;
}
main .tab_terms2 .tab_box .contents table tbody tr td strong, main .tab_terms3 .tab_box .contents table tbody tr td strong {
  font-size: 1.063rem;
  text-decoration: underline;
  font-weight: 600;
}
main .tab_terms2 .tab_box .contents table strong, main .tab_terms3 .tab_box .contents table strong {
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 8px;
}
main .tab_terms2 .tab_box .contents table span, main .tab_terms3 .tab_box .contents table span {
  font-size: 1rem;
}
main .tab_terms2 .tab_box .contents p, main .tab_terms3 .tab_box .contents p {
  padding: 10px 5px;
  color: #999;
  font-size: 1rem;
}
main .tab_terms2 .tab_box .btn_ok, main .tab_terms3 .tab_box .btn_ok {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #5F0080;
  width: 100%;
  height: 56px;
  font-weight: 500;
}

@media screen and (max-width: 540px) {
  main .join {
    max-width: 100%;
  }
  main .join form .wrap {
    padding: 0 16px;
  }
  main .join form .wrap li {
    padding: 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  main .join form .wrap li .title {
    padding-top: 15px;
    width: 22%;
  }
  main .join form .wrap li .title p, main .join form .wrap li .title em {
    font-weight: 500;
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area.date {
    padding: 0;
  }
  main .join form .wrap li .input_area.date input {
    width: 30%;
  }
  main .join form .wrap li .input_area {
    width: 58%;
  }
  main .join form .wrap li .input_area input::-moz-placeholder {
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area input::placeholder {
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area .gender_male, main .join form .wrap li .input_area .gender_female, main .join form .wrap li .input_area .gender_none {
    font-size: 0.813rem;
    width: 33.3333333333%;
    height: 16px;
  }
  main .join form .wrap li .input_area .gender label[class*=event]:checked, main .join form .wrap li .input_area .event label[class*=event]:checked {
    width: 33.3333333333%;
  }
  main .join form .wrap li .input_area .gender label[class*=gender], main .join form .wrap li .input_area .event label[class*=gender] {
    width: 33.3333333333%;
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area .gender input[type=radio], main .join form .wrap li .input_area .event input[type=radio] {
    height: 16px;
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area .gender input[type=radio]:checked, main .join form .wrap li .input_area .event input[type=radio]:checked {
    height: 16px;
  }
  main .join form .wrap li .input_area input {
    padding: 0px 15px;
  }
  main .join form .wrap li .input_area .error_m {
    font-size: 0.813rem;
  }
  main .join form .wrap li .input_area .btn_search {
    height: 36px;
    font-size: 0.813rem;
  }
  main .join form .wrap li .btn_area {
    width: 18%;
  }
  main .join form .wrap li .btn_area button {
    height: 35px;
    margin-left: 6px;
    font-size: 0.813rem;
  }
  main .join form .wrap li .btn_area .btn_phone {
    height: 35px;
    margin-left: 6px;
    font-size: 0.813rem;
  }
  main .join form .wrap li .event label[class*=event] {
    font-size: 0.813rem;
  }
  main .join form .wrap li .event label[class*=gender]:checked {
    width: 16px;
    height: 16px;
  }
  main .join form .wrap li .hiden_tab1 span {
    font-size: 0.813rem;
  }
  main .join form .terms {
    padding: 10px 0px 10px 0;
  }
  main .join form .terms li .title p {
    font-size: 0.813rem;
  }
  main .join form .terms li .title p em {
    font-size: 0.813rem;
  }
  main .join form .terms li .agree_area {
    width: 75%;
  }
  main .join form .terms li .agree_area label[class=agree_all] {
    font-size: 1.188rem;
    font-weight: 500;
  }
  main .join form .terms li .agree_area p {
    line-height: 1.2rem;
    font-size: 0.75rem;
  }
  main .join form .terms li .agree_area div[class*=agree] span {
    font-size: 0.813rem;
  }
  main .join form .terms li .agree_area div[class*=agree] strong::after {
    width: 10px;
    height: 10px;
    font-size: 0.813rem;
  }
  main .join form .terms li .agree_area div[class*=agree] strong {
    font-size: 0.813rem;
    transform: translateY(4px);
  }
  main .join form .terms li .receive p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-left: 40px;
    margin: 5px 0 5px 30px;
  }
  main .join #btn_join {
    margin: 20px auto 60px;
  }
}/*# sourceMappingURL=join.css.map */