@import 'common';

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    .bnr_main {
        @include flex-col-ct-ct;
        background: #d2c1b1;
        width: 100%;

        img {}
    }
    .menu_tab {
        width: 100%;
        background-color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: block;
            color: #fff;
            width: 350px;
            height: 56px;
            line-height: 54px;
            text-align: center;
            font-size: $px20;
            &:nth-child(2) {position: relative;}
            &:nth-child(2)::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 24px;
                background: #fff;
                position: absolute;
                right: 0;
                top: 15px;
            }
            &:nth-child(2)::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 24px;
                background: #fff;
                position: absolute;
                left: 0;
                top: 15px;
            }
        }
    }
    .bnr_event {
        @include flex-col-ct-ct;
        width: 100%;
        background: linear-gradient(to left, #211528,#311f3c);

        /* .img_bg {
            width: 100%;

            &::before{
                content: '';
                display: block;
                background-color: #311f3c;
                position: sticky;
                width: 50%;
                height: 100%;
            }
            &::after {
                content: '';
                display: block;
                background-color: #211528;
                background-position: 50%;
                position: sticky;
                width: 50%;
                height: 100%;
            } 
            img {
            }
        }*/
    }
    .kurly_card {
        background-color: #f4efea;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding-bottom: 80px;
        .title {
            display: flex;
            flex-flow: column;
            align-items: center;
            img {}
        }
        #card_slide {
            .swiper-wrapper {
                display: flex;
                .slide {
                    text-align: center;
                    width: 230px;
                    margin: 10px 30px;
                    img {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    span {
                        font-size: $px20;
                        color: #262626;
                        opacity: 0.7;
                    }
                }
                .slide1 {}
                .slide2 {}
                .slide3 {}
                .slide4 {}
                .slide5 {}
            }
        }
        .notice {
            width: 840px;
            display: flex;
            justify-content: center;
            margin: 60px auto 10px;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding-top: 30px;
            .left {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            .right {
                width: calc(100% - 160px);
                li {
                    line-height: 27px;
                    color: #625e57;
                    letter-spacing: -0.7px;
                    font-size: $px15;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background-color: #625e57;
                        border-radius: 50%;
                        margin-right: 7px;
                        position: relative;
                        top: -4px;
                    }
                }
            }
        }
    }
    .bnr_benefit1 {
        background-color: #ebe6e1;
        width: 100%;
        @include flex-col-ct-ct;
        .img {
            img {
                width: 100%;
            }
        }
        .notice {
            width: 840px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 60px auto 10px;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding: 30px 0;
            margin-bottom: 50px;
            .left {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            ul {
                width: calc(100% - 160px);
                li {
                    line-height: 27px;
                    color: #625e57;
                    letter-spacing: -0.7px;
                    position: relative;
                    padding-left: 10px;
                    font-size: $px15;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background-color: #625e57;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
            }
        }
    }
    .bnr_benefit2 {
        width: 100%;
        @include flex-col-ct-ct;
        background-color: #f4efea;
        .img {
            img {}
        }
        .notice {
            width: 840px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding: 30px 0;
            margin-bottom: 50px;

            .left {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            ul {
                width: calc(100% - 160px);
                li {
                    line-height: 27px;
                    color: #625e57;
                    letter-spacing: -0.7px;
                    position: relative;
                    padding-left: 10px;
                    font-size: $px15;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background-color: #625e57;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
            }
        }
    }
    .bnr_benefit3 {
        background-color: #ebe6e1;
        width: 100%;
        @include flex-col-ct-ct;

        .img {
            img {}
        }
        .notice {
            width: 840px;
            display: flex;
            justify-content: center;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding: 30px 0;
            margin-bottom: 50px;
            .left {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            .right {
                width: calc(100% - 160px);
                display: flex;
                flex-flow: column;
                dl {
                    dt {
                        font-size: $px15;
                        color: #625e57;
                        font-weight: 700;
                        line-height: 27px;
                        padding-left: 12px;
                    }
                    dd {
                        font-size: $px15;
                        line-height: 27px;
                        letter-spacing: -0.8px;
                        position: relative;
                        padding-left: 12px;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 3px;
                            height: 3px;
                            background-color: #625e57;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 14px;
                        }
                    }
                    &:last-child {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .all_notice {
        background-color: #f4efea;
        width: 100%;
        @include flex-col-ct-ct;
        padding-top: 80px;

        .event_notice {
            width: 840px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding: 30px 0;
            margin-bottom: 50px;
            p {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            ul {
                width: calc(100% - 160px);
                li {
                    line-height: 27px;
                    color: #625e57;
                    letter-spacing: -0.7px;
                    position: relative;
                    padding-left: 10px;
                    font-size: $px15;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background-color: #625e57;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                }
            }
        }
        .must_notice {
            width: 840px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            border-top: 1px solid rgba(0,0,0,0.3);
            padding: 30px 0;
            margin-bottom: 50px;
            p {
                width: 160px;
                line-height: 27px;
                font-weight: 500;
                font-size: $px15;
            }
            ul {
                width: calc(100% - 160px);
                li {
                    line-height: 27px;
                    color: #625e57;
                    letter-spacing: -0.7px;
                    position: relative;
                    padding-left: 10px;
                    font-size: $px15;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 3px;
                        background-color: #625e57;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 15px;
                    }
                    &:nth-child(2) {
                        font-weight: 600;
                    }
                    em {font-weight: 600;}
                }
                .desc {
                    &::before {display: none;}
                    ul {
                        width: 100%;
                        li {
                            font-weight: 600;
                            &::before {display: none;}
                            &:last-child {padding: 0;}
                        }
                    }
                }
            }
        }
        .share {
            @include flex-col-ct-ct;
            padding-bottom: 70px;
            img {}
            .icon {
                padding: 20px 0;
                display: flex;
                .kakao {
                    margin: 0 15px;
                    @include flex-col-ct-ct;
                    img {
                        margin: 13px auto 0;
                    }
                }
                .link_copy {
                    @include flex-col-ct-ct;
                    margin: 0 15px;
                    img {
                        margin: 13px auto 0;
                    }
                }
            }
        }
        .link {
            background: #f4efea;
            height: 245px;
            #link_btn {
                width: 620px;
                height: 70px;
                background-color: $purple;
                border-radius: 8px;
                position: relative;
                img {
                    width: 100%;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    width: 620px;
                    height: 8px;
                    background-color: $purple;
                    border-radius: 0 0 20px 20px;
                    position: absolute;
                    top: 70px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}