@import 'common';
main {
    position: relative;
    width: 100%;
    @include flex-col-ct-ct;
    .container {
        margin: 0 auto;
        max-width: 550px;
        padding:90px 16px 90px;
        h1 {
            font-weight: 500;
            font-size: $px28;
            text-align: center;
        }
        form {
            fieldset {
                width: 100%;
                margin: 0px auto;
                letter-spacing: -0.6px;
                #user_id {
                    height: 60px;
                    width: 100%;
                    margin: 30px 0 12px;
                    @include bo_dd4;
                    padding: 0px 15px;
                }
                #user_pw {
                    height: 60px;
                    width: 100%;
                    margin-bottom: 12px;
                    @include bo_dd4;
                    padding: 0px 15px;
                }
                .info_look {
                    padding: 7px 0;
                    @include flex-row-end-ct;
                    a:nth-child(1)::after {
                        @include bf_333_10px;
                        margin-left: 10px;
                    }
                    a:nth-child(2) {
                        margin-left: 10px;
                    }
                    a {
                        font-size: $px13;
                    }
                }
                .citation_num {
                    margin-top: 28px;
                    background-color: $c-247;
                    @include flex-col-ct-ct;
                    padding: 20px;
                    span {
                        color: $c-102;
                        font-size: $px13;
                        text-align: center;
                        font-weight: 500;
                    }
                    img {
                        height: 34px;
                        margin: 10px 0px;
                    }
                    #citation_num {
                        background-color: #fff;
                        @include bo_dd4;
                        padding: 0px 15px;
                        width: 100%;
                        height: 46px;
                        margin-bottom: 12px;
                    }
                }
                }.btn_login {
                    width: 100%;
                    @include pull_pp3;
                    height: 60px;
                    margin-top: 28px;
                }
                .btn_join {
                    width: 100%;
                    @include bo_pp3;
                    height: 60px;
                    color: $purple;
                    font-weight: 500;
                    margin-top: 10px;
                }
        }
    }
    .popup {
        @include flex-col-ct-ct;
        position: absolute;
        z-index: 999;
        top:0; left: 0;
        background-color: #333;
        background-color: rgba(0,0,0,0.5);
        width: 100%; height: 100vh;
        .box {
            max-width:360px;
            min-width: 350px;
            background-color: #fff;
            border-radius: 12px;
            p {
                padding: 40px 30px;
                font-weight: 600;
                text-align: center;
                width: 100%;
                letter-spacing: -0.05rem;
            }
            #btn_ok {
                width: 100%;
                height: 56px;
                border-top: 1px solid $c-247;
                color: $purple;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                font-weight: 500;
            }
        }
    }
}    
@media screen and (max-width:1280px) {}
@media screen and (max-width:820px) {}
@media screen and (max-width:430px) {}
@media screen and (max-width:320px) {}