main {
  width: 100%;
}
main .container {
  max-width: 550px;
  margin: 0 auto;
  padding: 90px 0;
}
main .container .title {
  padding-bottom: 30px;
}
main .container .title h1 {
  font-weight: 500;
  font-size: 1.875rem;
  text-align: center;
}
main .tab {
  width: 100%;
  text-align: center;
  height: 58px;
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .tab .pp_active {
  border-bottom: 2px solid #5F0080;
  color: #5F0080;
  font-weight: 500;
}
main .tab a {
  display: block;
  width: 50%;
  padding: 0px 10px;
  line-height: 48px;
  border-bottom: 1px solid #ddd;
}
main .tab_contents {
  width: 100%;
  padding: 24px 20px;
}
main .tab_contents .phone {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
main .tab_contents .phone span {
  padding: 8px 0px 11px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}
main .tab_contents .phone label {
  position: relative;
  width: 100%;
}
main .tab_contents .phone label #ph_user_name, main .tab_contents .phone label #user_phone {
  width: 100%;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 14px;
}
main .tab_contents .phone label img {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 999;
  cursor: pointer;
}
main .tab_contents .phone .error_m {
  color: #f03f40;
  margin-bottom: 8px;
  margin-top: -5px;
  font-size: 0.813rem;
  padding: 0;
}
main .tab_contents .phone #get_num {
  width: 100%;
  height: 54px;
  background-color: #ddd;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin-top: 16px;
}
main .tab_contents .email {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
main .tab_contents .email span {
  padding: 8px 0px 11px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}
main .tab_contents .email label {
  position: relative;
  width: 100%;
}
main .tab_contents .email label #e_user_name, main .tab_contents .email label #user_email {
  width: 100%;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 14px;
}
main .tab_contents .email label img {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 999;
  cursor: pointer;
}
main .tab_contents .email .error_m {
  color: #f03f40;
  margin-bottom: 8px;
  margin-top: -5px;
  font-size: 0.813rem;
  padding: 0;
}
main .tab_contents .email #mail_chk {
  width: 100%;
  height: 54px;
  background-color: #ddd;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin-top: 16px;
}
main .tab_contents .email #mail_chk_active {
  width: 100%;
  height: 54px;
  background-color: #5F0080;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin-top: 16px;
}

.pp_active {
  border-bottom: 2px solid #5F0080;
  color: #5F0080;
  font-weight: 500;
}

.display_none {
  display: none !important;
}

.btn_active {
  width: 100%;
  height: 54px;
  background-color: #5F0080;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  margin-top: 16px;
}/*# sourceMappingURL=login_sub.css.map */