main {
  width: 100%;
  margin: 0 auto;
}
main .membership {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main .membership .top {
  padding: 0 !important;
}
main .membership .top img {
  width: 100%;
}
main .membership .view_more, main .membership .benefit_now, main .membership .reserves, main .membership .reserves_notice, main .membership .bg_2 {
  background-color: rgb(185, 221, 232) !important;
}
main .membership .benefit_mon, main .membership .coupon, main .membership .coupon_notice, main .membership .only {
  background-color: rgb(199, 228, 236);
}
main .membership .mebr {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 90px 0 0;
  overflow: hidden;
}
main .membership .mebr img {
  max-width: 200%;
  min-width: 1050px;
}
main .membership .mebr .title_img {
  background-color: rgb(199, 228, 236);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main .membership .mebr .title_img img {
  max-width: 200%;
  min-width: 1050px;
}
main .membership .mebr .line_bg {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 15px 0 70px;
  max-width: 840px;
  border-top: 1px solid #333;
  width: 100%;
}
main .membership .mebr .line_bg .title {
  max-width: 840px;
  width: 100%;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
  padding-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .membership .mebr .line_bg .title p {
  width: 135px;
  padding-right: 20px;
  font-size: 1.063rem;
  font-weight: 700;
}
main .membership .mebr .line_bg .sub1, main .membership .mebr .line_bg .sub2 {
  display: none;
}
main .membership .mebr .line_bg .sub {
  animation: slide_down_up 0.6s ease-in-out;
  padding: 30px 0px;
}
main .membership .mebr .line_bg .sub li::before {
  width: 3px;
  height: 3px;
  content: "";
  display: inline-block;
  background-color: #333;
  border-radius: 50%;
  transform: translateY(-3px);
  margin-right: 10px;
}
main .membership .mebr .line_bg .sub li {
  font-size: 1.063rem;
  line-height: 1.6rem;
}
main .membership .notice_row {
  padding: 20px 0px 70px;
  background-color: rgb(199, 228, 236);
  width: 100%;
}
main .membership .notice_row .line_bg {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  border-top: 1px solid #333;
  max-width: 840px;
  padding: 20px 0;
}
main .membership .notice_row .line_bg .title p {
  width: 135px;
  padding-right: 20px;
  font-size: 1.063rem;
  font-weight: 700;
}
main .membership .notice_row .line_bg .sub li::before {
  width: 3px;
  height: 3px;
  content: "";
  display: inline-block;
  background-color: #333;
  border-radius: 50%;
  transform: translate(-5px, -3px);
}
main .membership .notice_row .line_bg .sub li {
  font-size: 1.063rem;
  line-height: 1.6rem;
}
main .membership .tab_area {
  background: rgb(33, 138, 182);
  display: flex;
  gap: 30px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 800;
}
main .membership .tab_area a:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #999;
  transform: translateX(-90px);
}
main .membership .tab_area a:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #999;
  transform: translateX(90px);
}
main .membership .tab_area a:nth-child(3)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #999;
  transform: translateX(90px);
}
main .membership .tab_area a:hover {
  color: #fff;
  transition: 0.5s linear;
}
main .membership .tab_area a {
  color: #b5b5b5;
  text-align: center;
  padding: 20px 0px;
  font-size: 1.25rem;
  width: 260px;
}
main .membership .swiper_area {
  width: 100%;
  background-color: rgb(199, 228, 236);
}
main .membership .swiper_area .swiper_box #mainSlide {
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  /*                     .arrow_prev::after {display: none;}
                      .arrow_next::after {display: none;}
                      .arrow_prev , .arrow_next {
                  margin: 0 auto;
                  position: absolute;
                  z-index: 900;
                      [class*=chevron] {
                          color:#56b7df;
                          font-size: 30px;
                      }
                      }
                      .arrow_prev {
                          left: -40px; top: 200px;
                      }
                      .arrow_next {
                          right: -40px; top: 200px;
                      } */
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap {
  display: flex;
  justify-content: center;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product {
  padding: 50px 10px;
  max-width: 250px;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .thumb {
  width: 230px;
  height: 296px;
  border-radius: 4px;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .thumb img {
  width: 100%;
  border-radius: 4px;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .info {
  padding: 14px 0;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .info .item_name {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.4rem;
}
main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .info .item_price {
  font-weight: 700;
  letter-spacing: -0.03rem;
}
main .membership .btn_bottom {
  background-color: rgb(199, 228, 236);
  width: 100%;
  padding: 50px 0px 60px;
}
main .membership .btn_bottom .btn_more {
  padding-bottom: 60px;
  display: block;
  background: rgb(41, 156, 204);
  width: 480px;
  padding: 23px 30px;
  font-size: 14px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
main .membership .btn_bottom .btn_more span {
  font-size: 1.375rem;
  color: #fff;
  margin-right: 10px;
}
main .membership .btn_more_container {
  background-color: rgb(185, 221, 232);
  width: 100%;
  padding: 50px 0px 0px;
}
main .membership .btn_more_container .btn_more {
  display: block;
  background: rgb(41, 156, 204);
  width: 480px;
  padding: 23px 30px;
  font-size: 14px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
main .membership .btn_more_container .btn_more span {
  font-size: 1.375rem;
  color: #fff;
  margin-right: 10px;
}
main .membership .share {
  width: 100%;
  padding: 90px 0;
  background-color: rgb(185, 221, 232);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
main .membership .share p {
  font-size: 1.25rem;
  font-weight: 500;
}
main .membership .share .icon_link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
main .membership .share .icon_link .icon_kakao, main .membership .share .icon_link .icon_url {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
main .membership .share .icon_link .icon_kakao img, main .membership .share .icon_link .icon_url img {
  width: 72px;
  margin-bottom: 10px;
}
main .btn_kulry_start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 900;
  bottom: 15px;
  margin-top: -60px;
}
main .btn_kulry_start .btn_start {
  background-color: #5F0080;
  border-radius: 4px;
  color: #fff;
  width: 424px;
  height: 54px;
  border-radius: 8px;
}
main .popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}
main .popup .box {
  max-width: 360px;
  min-width: 350px;
  background-color: #fff;
  border-radius: 12px;
}
main .popup .box p {
  padding: 40px 30px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  letter-spacing: -0.05rem;
}
main .popup .box #btn_ok {
  width: 100%;
  height: 56px;
  border-top: 1px solid #f7f7f7;
  color: #5F0080;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  main .membership .notice_row .line_bg {
    padding: 15px 16px 70px;
  }
  main .membership .mebr .line_bg .title {
    padding-left: 16px;
    padding-right: 16px;
  }
  main .membership .mebr .line_bg .sub {
    padding: 30px 16px;
  }
}
@media screen and (max-width: 820px) {
  main {
    width: 100%;
  }
  main .membership .top img {
    content: url(../images/membership/mobile/main_01.jpg);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .benefit_mon img {
    content: url(../images/membership/mobile/main_03.jpg);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .benefit_now img {
    content: url(../images/membership/mobile/main_04.jpg);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .benefit_now + .bg_2, main .membership .notice_row {
    background-color: rgb(199, 228, 236) !important;
    padding: 20px 0 20px;
  }
  main .membership .coupon_notice {
    background-color: #d9edf3 !important;
  }
  main .membership .coupon img {
    content: url(../images/membership/mobile/main_05.png);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .reserves img {
    content: url(../images/membership/mobile/main_06.jpg);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .only .title_img img {
    padding-top: 40px;
    content: url(../images/membership/mobile/main_07.png);
    max-width: 100%;
    min-width: 0px;
  }
  main .membership .mebr {
    padding: 0;
  }
  main .membership .view_more {
    padding: 60px 0 0;
  }
  main .membership .view_more img {
    max-width: 250%;
  }
  main .membership .tab_area a:nth-child(2)::before {
    display: none;
  }
  main .membership .tab_area a:nth-child(2)::after {
    display: none;
  }
  main .membership .tab_area a:nth-child(3)::after {
    display: none;
  }
  main .membership .tab_area a:nth-child(2)::before {
    display: none;
  }
  main .membership .tab_area a:nth-child(2)::after {
    display: none;
  }
  main .membership .tab_area a:nth-child(3)::after {
    display: none;
  }
  main .membership .tab_area a {
    color: #b5b5b5;
    text-align: center;
    padding: 20px 10px;
    font-size: 1rem;
  }
  main .membership .btn_bottom {
    padding: 10px 0px 40px;
  }
  main .membership .btn_bottom .btn_more {
    width: 80%;
    font-size: 14px;
  }
  main .membership .btn_bottom .btn_more span {
    font-size: 1.25rem;
  }
  main .membership .btn_more_container .btn_more {
    width: 80%;
    font-size: 14px;
  }
  main .membership .btn_more_container .btn_more span {
    font-size: 1.25rem;
  }
  main .membership .notice_row .line_bg {
    max-width: 820px;
    padding: 20px 16px;
  }
  main .membership .notice_row .line_bg .title p {
    font-size: 0.938rem;
  }
  main .membership .notice_row .line_bg .sub li {
    font-size: 0.938rem;
  }
  main .membership .share p {
    font-size: 1.125rem;
    font-weight: 500;
  }
  main .membership .share .icon_link .icon_kakao img, main .membership .share .icon_link .icon_url img {
    width: 50px;
  }
}
@media screen and (max-width: 430px) {
  main {
    max-width: 430px;
  }
  main .membership {
    width: 100%;
  }
  main .membership .tab_area {
    padding: 0px 16px;
  }
  main .membership .tab_area a {
    color: #b5b5b5;
    text-align: center;
    font-size: 0.813rem;
    width: 70px;
    white-space: nowrap;
  }
  main .membership .swiper_area .swiper_box #mainSlide {
    /*.arrow_prev::after {display: none;}
                        .arrow_next::after {display: none;}
                        .arrow_prev , .arrow_next {
                    margin: 0 auto;
                    position: absolute;
                    z-index: 900;
                        [class*=chevron] {
                            color:#56b7df;
                            font-size: 30px;
                        }
                        }
                        .arrow_prev {
                            left: -40px; top: 200px;
                        }
                        .arrow_next {
                            right: -40px; top: 200px;
                        } */
  }
  main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product {
    padding: 50px 10px;
    max-width: 180px;
  }
  main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .thumb {
    width: 170px;
  }
  main .membership .swiper_area .swiper_box #mainSlide .product_wrap .product .thumb img {
    width: 100%;
  }
}
.display_none {
  display: none !important;
}

@keyframes slide_down_up {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}/*# sourceMappingURL=membership_bnr.css.map */