@import 'common';

main{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 80px;

    aside{
        h1{
            font-size: $px28;
            font-weight: 500;
            line-height: 35px;
            padding: 5px 0 35px 1px;
            letter-spacing: -1px;
        }
        .board_list{
            display: flex;
            flex-flow: column nowrap;
            border: 1px solid #f2f2f2;

            a{
                font-size: $px14;
                font-weight: 400;
                width: 230px;
                border-bottom: 1px solid #f2f2f2;
                padding: 15px 13px 15px 20px;
                @include flex-row-btw-ct;

                span{
                    img{width: 14px;}
                }
            }
            .active{
                color: #5f0080;
                background-color: #fafafa;
                font-weight: 500;
            }
        }
        .help_wrap{
            @include flex-row-btw-ct;
            background-color: #fafafa;
            margin-top: 36px;
            padding: 14px 14px 14px 20px;
            
            .help{
                font-size: $px14;
                em{
                    font-size: $px12;
                }
            }
            img{
                width: 14px;
            }
        }
    }
    .container{
        width: calc(100% - 270px);
        .notice{
            width: 100%;
            h2{
                display: flex;
                align-items: center;
                font-size: $px20;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.5px;
                margin-bottom: 27px;
                white-space: nowrap;
                span{
                    white-space: normal;
                    margin-left: 11px;
                    font-size: $px14;
                    letter-spacing: -0.3px;
                    color: #999;
                    line-height: 20px;
                }
            }
            .title{width: 59%;}
            .date, .writer{width: 10%;}
            .notice_wrap{
                @include flex-row-btw-ct;
                padding: 20px 0;
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                padding-left: 20px;
    
                p{
                    font-size: $px14;
                    text-align: center;
                    line-height: 20px;
                }
            }
            .notice_container{
                padding-left: 20px;
    
                li{
                    padding: 20px 0;
                    border-bottom: 1px solid rgb(244, 244, 244);
                    a{
                        @include flex-row-btw-ct;
                    }
                    span{
                        font-size: $px14;
                        text-align: center;
                    }
                    .title{
                        text-align: left;
                        padding-left: 20px;
                    }
                    .date{color: #999;}
                }
            }
            .pagenation{
                padding: 60px 0 30px;
                text-align: center;
                a{
                    &:first-child{
                        margin-right: 12px;
                    }
                }
            }
        }
        .faq{
            width: 100%;
            h2{
                display: flex;
                align-items: center;
                font-size: $px24;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.5px;
                margin-bottom: 27px;
                span{
                    margin-left: 11px;
                    font-size: $px14;
                    letter-spacing: -0.3px;
                    color: #999;
                    line-height: 20px;
                }
            }
            .title{width: 75%;}
            .date, .writer{width: 15%;}
            .notice_wrap{
                @include flex-row-btw-ct;
                padding: 20px 0;
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                padding-left: 20px;
    
                p{
                    font-size: $px14;
                    text-align: center;
                    line-height: 20px;
                }
            }
            .notice_container{
                padding-left: 20px;
    
                li{
                    padding: 20px 0;
                    border-bottom: 1px solid rgb(244, 244, 244);
                    a{
                        @include flex-row-btw-ct;
                    }
                    span{
                        font-size: $px14;
                        text-align: center;
                    }
                    .title{
                        width: 75%;
                        text-align: left;
                        // padding-left: 20px;
                    }
                    .date{color: #999;}
                }
            }
            .pagenation{
                padding: 60px 0 30px;
                text-align: center;
                a{
                    &:first-child{
                        margin-right: 12px;
                    }
                }
            }
        }
        .inquiry{
            width: 100%;
            h2{
                display: flex;
                align-items: center;
                font-size: $px24;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.5px;
                margin-bottom: 27px;
            }
            .title{width: 59%;}
            .date, .writer{width: 10%;}
            .notice_wrap{
                @include flex-row-btw-ct;
                padding: 20px 0;
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                padding-left: 20px;
    
                p{
                    font-size: $px14;
                    text-align: center;
                    line-height: 20px;
                }
            }
            .notice_container{
                text-align: center;
                font-weight: 500;
                color: $c-51;
                line-height: 200px;
            }
            p{
                text-align: right;
            }
            .inquiry_btn{
                background-color: $purple;
                padding: 0 12.5px;
                width: 12%;
                height: 44px;
                color: #fff;
                white-space: nowrap;
                border-radius: 3px;
            }
        }
        .great_deal{
            width: 100%;
            h2{
                display: flex;
                align-items: center;
                font-size: $px24;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.5px;
                margin-bottom: 27px;
            }
            .title{width: 59%;}
            .date, .writer{width: 10%;}
            .notice_wrap{
                @include flex-row-btw-ct;
                padding: 20px 0;
                border-top: 2px solid #333;
                border-bottom: 1px solid #333;
                padding-left: 20px;
    
                p{
                    font-size: $px14;
                    text-align: center;
                    line-height: 20px;
                }
            }
            .notice_container{
                text-align: center;
                font-weight: 500;
                color: $c-51;
                line-height: 200px;
            }
            p{
                text-align: right;
            }
            .inquiry_btn{
                background-color: $purple;
                padding: 0 12.5px;
                width: 12%;
                height: 44px;
                color: #fff;
                border-radius: 3px;
                white-space: nowrap;
            }
        }
    }
}