main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 80px;
}
main aside h1 {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 35px;
  padding: 5px 0 35px 1px;
  letter-spacing: -1px;
}
main aside .board_list {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #f2f2f2;
}
main aside .board_list a {
  font-size: 1rem;
  font-weight: 400;
  width: 230px;
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 13px 15px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main aside .board_list a span img {
  width: 14px;
}
main aside .board_list .active {
  color: #5f0080;
  background-color: #fafafa;
  font-weight: 500;
}
main aside .help_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  margin-top: 36px;
  padding: 14px 14px 14px 20px;
}
main aside .help_wrap .help {
  font-size: 1rem;
}
main aside .help_wrap .help em {
  font-size: 0.875rem;
}
main aside .help_wrap img {
  width: 14px;
}
main .container {
  width: calc(100% - 270px);
}
main .container .notice {
  width: 100%;
}
main .container .notice h2 {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-bottom: 27px;
}
main .container .notice h2 span {
  margin-left: 11px;
  font-size: 1rem;
  letter-spacing: -0.3px;
  color: #999;
  line-height: 20px;
}
main .container .notice .title {
  width: 59%;
}
main .container .notice .date, main .container .notice .writer {
  width: 10%;
}
main .container .notice .notice_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 20px;
}
main .container .notice .notice_wrap p {
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
}
main .container .notice .notice_container {
  padding-left: 20px;
}
main .container .notice .notice_container li {
  padding: 20px 0;
  border-bottom: 1px solid rgb(244, 244, 244);
}
main .container .notice .notice_container li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container .notice .notice_container li span {
  font-size: 1rem;
  text-align: center;
}
main .container .notice .notice_container li .title {
  text-align: left;
  padding-left: 20px;
}
main .container .notice .notice_container li .date {
  color: #999;
}
main .container .notice .pagenation {
  padding: 60px 0 30px;
  text-align: center;
}
main .container .notice .pagenation a:first-child {
  margin-right: 12px;
}
main .container .faq {
  width: 100%;
}
main .container .faq h2 {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-bottom: 27px;
}
main .container .faq h2 span {
  margin-left: 11px;
  font-size: 1rem;
  letter-spacing: -0.3px;
  color: #999;
  line-height: 20px;
}
main .container .faq .title {
  width: 75%;
}
main .container .faq .date, main .container .faq .writer {
  width: 15%;
}
main .container .faq .notice_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 20px;
}
main .container .faq .notice_wrap p {
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
}
main .container .faq .notice_container {
  padding-left: 20px;
}
main .container .faq .notice_container li {
  padding: 20px 0;
  border-bottom: 1px solid rgb(244, 244, 244);
}
main .container .faq .notice_container li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
main .container .faq .notice_container li span {
  font-size: 1rem;
  text-align: center;
}
main .container .faq .notice_container li .title {
  width: 75%;
  text-align: left;
}
main .container .faq .notice_container li .date {
  color: #999;
}
main .container .faq .pagenation {
  padding: 60px 0 30px;
  text-align: center;
}
main .container .faq .pagenation a:first-child {
  margin-right: 12px;
}
main .container .inquiry {
  width: 100%;
}
main .container .inquiry h2 {
  display: flex;
  align-items: center;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-bottom: 27px;
}
main .container .inquiry .title {
  width: 59%;
}
main .container .inquiry .date, main .container .inquiry .writer {
  width: 10%;
}
main .container .inquiry .notice_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 20px;
}
main .container .inquiry .notice_wrap p {
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
}
main .container .inquiry .notice_container {
  text-align: center;
  font-weight: 500;
  color: #333;
  line-height: 200px;
}
main .container .inquiry p {
  text-align: right;
}
main .container .inquiry #inquiry_btn {
  background-color: #5F0080;
  padding: 0 12.5px;
  width: 12%;
  height: 44px;
  color: #fff;
  border-radius: 3px;
}/*# sourceMappingURL=notice.css.map */