/* payment */
@keyframes card_bg {
    0% {background-position: top left;}
    100% {background-position: bottom right;}
}

main form fieldset .order_btm .btm_left .payment_method_wrap .payment_method .method_type .kurly_pay_wrap .kurly_pay_bg .kurly_pay .kurly_pay_benefit a {
    animation: card_bg 2s linear infinite;
}