@import 'common';

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 1050px;

    img{display: block;}
    
    *{letter-spacing: -.05em;}
    button{
        img{
            display: inline;
            margin-left: 20px;
        }
    }
    .intro{}
    .month_card{}
    .month_card_btn_wrap{
        background-color: #f3f3f3;
        text-align: center;
        width: 100%;

        .month_card_btn{
            color: #fff;
            width: 480px;
            padding: 23px 30px;
            font-size: $px20;
            box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.12);
            border-radius: 4px;
        }
        #discount10{
            background-color: #3a074e;
            margin-bottom: 20px;
        }
        #discount7{
            background-color: #5f0080;
            margin-bottom: 90px;
        }
    }
    .kurly_card{}
    .kurly_card_btn_wrap{
        width: 100%;
        background-color: #f7f7f7;
        text-align: center;
        padding-bottom: 90px;
        #kurly_card_benefit{
            background-color: #5f0080;
            color: #fff;
            width: 480px;
            padding: 23px 30px;
            font-size: $px20;
            box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.12);
            border-radius: 4px;
        }
    }
    .hyundai_card{}
    .installment{}
    .precautions{
        background-color: #f7f7f7;
        width: 100%;

        .precautions_contents{
            max-width: 840px;
            margin: 0 auto;
            border-top: 1px solid #000;
            padding: 20px 0;
            display: flex;

            .title{
                width: 135px;
                padding-right: 20px;
                font-size: $px15;
                color: #000;
                line-height: 1;
            }
            .precautions_list{
                width: calc(100% - 135px);
                li{
                    color: #000;
                    font-size: $px15;
                    line-height: 27px;
                    position: relative;
                    font-weight: 300;
                    &::before{
                        position: absolute;
                        content: '•';
                        width: 13px;
                        left: -20px;
                        text-align: center;

                    }
                }
            }
        }
    }
}