@import 'common';

@media screen and (max-width:820px) {
    .btm_right{display: none;}
    main{
        width: 100%;
        padding: 0 16px;
        form{
            fieldset{
                h1{
                    font-size: 14px;
                    margin: 0;
                }
                .order_top{
                    .product_ordered{display: none;}
                    .product_ordered_m{
                        display: block;
                        border-bottom: 8px solid $c-244;
                        h2{
                            margin-top: 0;
                            font-size: $px14;
                            border-bottom: 0;
                            padding: 18px 0;
                            .h2_right{
                                display: flex;
                                align-items: center;

                                span{
                                    display: inline;
                                    margin-right: 8px;
                                    font-size: $px13;
                                }
                                a{
                                    img{width: 25px;}
                                }
                            }
                        }
                        .order_list{
                            padding: 0 0 16px;
                            li{
                                display: flex;
                                border-bottom: 1px solid $c-244;
                                &:first-child{
                                    padding-bottom: 10px;
                                }
                                &:last-child{
                                    padding-top: 16px;
                                }
                                .order_img{
                                    margin-right: 16px;
                                    img{width: 50px;}
                                }
                                .order_list_right{
                                    .order_item_name{
                                        font-size: $px12;
                                        line-height: 19px;
                                    }
                                    .sub_item_name{
                                        font-size: $px10;
                                        color: #999;
                                        margin-bottom: 6px;
                                    }
                                    .order_item_price_num{
                                        font-size: $px12;
                                        em{
                                            font-size: $px12;
                                            color: #666;
                                            &::before{
                                                content: '';
                                                display: inline-block;
                                                width: 1px;
                                                height: 12px;
                                                color: #ddd;
                                                padding: 0 8px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .customer_info{
                        border-bottom: 8px solid $c-244;
                        margin: 0;
                        padding: 0;
                        h2{
                            margin-top: 0;
                            font-size: $px14;
                            border-bottom: 0;
                            padding: 18px 0;
                        }
                        ul{
                            padding: 12px 0 20px;
                            li{
                                padding: 0;
                                display: flex;
                                .left{
                                    width: 100px;
                                    color: #666;
                                    margin: 0;
                                }
                                p{line-height: 32px;}
                                .email{
                                    span{display: none;}
                                }
                            }
                            .change_info{
                                display: block;
                                font-size: $px10;
                                color: $c-153;
                                margin-top: 12px;
                            }
                        }
                    }
                    .shipping_info{
                        h2{display: none;}
                        ul{
                            li{
                                border-bottom: 8px solid $c-244;
                                display: block;
                                &:first-child{
                                    border-bottom: 8px solid $c-244;
                                    padding: 20px 0;
                                }
                                padding: 20px 0;
                                .destination{
                                    position: relative;
                                    .modify_btn_wrap{
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                    }
                                }
                                .shipping_request{
                                    position: relative;
                                    .modify_btn_wrap{
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .packaging_wrap{
                        border-bottom: 8px solid $c-244;
                        padding-bottom: 20px;
                        h2{
                            margin: 0;
                            font-size: $px14;
                            border: 0;
                            padding: 18px 0;
                        }
                        .packaging{
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-flow: column nowrap;
                            label{line-height: 30px}
                        }
                        .purplebox{
                            padding: 0;
                            border-top: 8px solid $c-244;
                        }
                    }
                }
                .order_btm{
                    display: block;
                    .btm_left{
                        width: 100%;
                        .coupon_wrap{
                            padding: 18px 0;
                            h2{
                                border: 0;
                                margin: 0;
                                padding: 0;
                                font-size: $px14;
                            }
                            .coupon{
                                .left{display: none;}
                                .coupon_wrap{
                                    border-bottom: 8px solid $c-244;
                                    padding: 0;
                                    .coupon_wrap_top{
                                        margin: 0;
                                        padding: 0;
                                        .coupon_list_wrap{margin: 0;}
                                        a{display: none;}
                                        .coupon_unavailable{
                                            font-size: $px10;
                                            color: #999;
                                        }
                                    }
                                }
                            }
                        }
                        .kurlycard_wrap{
                            padding-bottom: 18px;
                            border-bottom: 8px solid $c-244;
                            h2{
                                margin: 0 0 10px;
                                padding: 0;
                                font-size: $px14;
                                border: 0;
                            }
                            .kurlycard{
                                padding: 0;
                                .left{display: none;}
                                .kurlycard_benefit{
                                    width: 100%;
                                    align-items: center;
                                    .benefit{
                                        p{margin: 0;}
                                    }
                                    .issuance{
                                        #card_issuance_btn{width: 50%;}
                                    }
                                }
                            }
                        }
                        .kurly_cash_wrap{
                            padding: 18px 0;
                            h2{
                                margin: 0;
                                padding: 0;
                                font-size: $px14;
                                border: 0;
                                justify-content: left;
                            }
                            .kurly_cash{
                                border-bottom: 8px solid $c-244;
                                padding: 0 0 18px;
                                .left{display: none;}
                                .discount{
                                    width: 100%;
                                    .total{
                                        width: 100%;
                                        #num{width: 80%;}
                                        #use_all_btn{width: 10%;}
                                    }
                                }
                            }
                        }
                        .payment_method_wrap{
                            h2{
                                margin: 0 0 10px;
                                padding: 0;
                                font-size: $px14;
                                border: 0;
                            }
                            .payment_method{
                                .left{display: none;}
                                .method_type{
                                    width: 100%;
                                    .kurly_pay_wrap{
                                        width: 100%;
                                        .kurly_pay_bg{
                                            width: 100%;
                                            .kurly_pay_benefit{
                                                height: 36vh;
                                            }
                                        }
                                    }
                                    .payment_method_detail{
                                        width: 100%;
                                        gap: 10px;
                                        a{
                                            width: 95%;
                                            &:nth-child(2){
                                                border: 1px solid #e2e2e2;
                                            }
                                        }
                                    }
                                    .credit_card{
                                        width: 100%;
                                        p{
                                            #select_card{width: 100%;}
                                            #installment{width: 100%;}
                                        }
                                        .select_card_list{width: 100%;}
                                        .select_installment_list{width: 100%;}
                                    }
                                    .guide_benefit{
                                        width: 100%;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:430px) {
    main{        
        form{
            fieldset{ 
                .order_btm{ 
                    .btm_left{ 
                        .kurlycard_wrap{ 
                            .kurlycard{ 
                                .kurlycard_benefit{ 
                                    .issuance{ 
                                        #card_issuance_btn {width: 100%;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media screen and (max-width:430px){
    main{
        form{
            fieldset{
                .order_top{
                    .product_ordered_m{
                        h2{
                            padding: 5px 0;
                            font-size: $px12;
                            .h2_right{
                                span{font-size: $px11;}
                            }
                        }
                    }
                    .customer_info{
                        padding: 5px 0;
                        h2{
                            padding: 0;
                            font-size: $px12;
                        }
                        ul{
                            padding: 0;
                            li{
                                p{font-size: $px12;}
                            }
                            .change_info{
                                font-size: 0.625rem;
                                margin: 0;
                                padding-bottom: 5px;
                            }
                        }
                    }
                    .shipping_info{
                        ul{
                            li{
                                &:first-child{padding: 0;}
                                &:last-child{padding: 0;}
                                .left{
                                    width: 100%;
                                    font-size: $px12;
                                }

                                .destination{
                                    .left{font-size: $px12;}
                                    .default{font-size: $px10;}
                                    .right{font-size: $px10;}
                                    .modify_btn_wrap{
                                        .modify_btn{
                                            font-size: $px10;
                                            height: 25px;
                                            padding: 0;
                                            width: 50px;
                                            margin-bottom: 7px;
                                        }
                                    }
                                }
                                .shipping_request{
                                    .left{font-size: $px12;}
                                    .right{font-size: $px10;}
                                    .customer{
                                        font-size: $px10;
                                        margin: 0;
                                    }
                                    .modify_btn_wrap{
                                        .modify_btn{
                                            font-size: $px10;
                                            height: 25px;
                                            padding: 0;
                                            width: 50px;
                                            margin-bottom: 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .packaging_wrap{
                        padding: 0;
                        h2{
                            padding: 0;
                            font-size: $px12;
                        }
                        .packaging{
                            padding-bottom: 5px;
                            label{
                                font-size: $px10;
                                &::before{
                                    margin-right: 5px;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        } 
                    }
                }
                .order_btm{
                    .btm_left{
                        .coupon_wrap{
                            padding: 0;
                            h2{font-size: $px12;}
                            .coupon{
                                .coupon_wrap{
                                    .coupon_wrap_top{
                                        .coupon_list_wrap{
                                            #coupon_list{
                                                height: 30px;
                                                font-size: $px10;
                                            }
                                        }
                                        .coupon_unavailable{
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                        .kurlycard_wrap{
                            padding-bottom: 10px;
                            h2{
                                font-size: $px12;
                                margin: 0;
                            }
                            .kurlycard{
                                .kurlycard_benefit{
                                    .benefit{
                                        p{font-size: $px10;}
                                        div{
                                            label{
                                                font-size: $px10;
                                                &::before{
                                                    height: 20px;
                                                    width: 20px;
                                                }
                                            }
                                        }
                                    }
                                    .issuance{
                                        #card_issuance_btn{
                                            font-size: $px10;
                                            width: 61px;
                                            height: 35px;
                                        }
                                    }
                                }
                            }
                        }
                        .kurly_cash_wrap{
                            padding: 0;
                            h2{
                                font-size: $px12;
                                a{
                                    img{width: 14px;}
                                }
                            }
                            .kurly_cash{
                                padding-bottom: 5px;
                                .discount{
                                    ul{
                                        padding: 0;
                                        li{
                                            font-size: $px10;
                                            .available{font-size: $px11;}
                                            span{font-size: $px10;}
                                        }
                                    }
                                    .total{
                                        margin-bottom: 5px;
                                        #num{
                                            font-size: $px12;
                                            line-height: 35px;
                                            width: 75%;
                                        }
                                        #use_all_btn{
                                            width: 20%;
                                            font-size: $px10;
                                            height: 39px;
                                        }
                                    }
                                    p{
                                        font-size: $px10;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                        .payment_method_wrap{
                            h2{
                                font-size: $px12;
                                margin: 0;
                            }
                            .method_type{
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    } 
}