@import 'common';

main{
    max-width: 1280px;
    padding: 62.5px 20px 60px; //
    margin: 0 auto;
    form{
        fieldset{
            h1{
                font-weight: 500;
                font-size: $px28;
                line-height: 45px; //
                letter-spacing: -0.5px;
                text-align: center;
                margin-bottom: 48px;
            }
            h2{
                margin-top: 93.75px; //
                padding: 20px 0; //
                font-weight: 500;
                font-size: $px20;
                color: $c-51;
                line-height: 36.25px; //
                border-bottom: 1px solid $c-51;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{display: none;}
                a{
                    img{width: 17px;}
                }
            }
            .order_top{
                .left{
                    width: 16%;
                }
                .left, .right{
                    line-height: 37.5px;//
                    margin-right: 37.5px;
                    font-weight: 500;
                    font-size: $px14;
                    letter-spacing: -0.32px;    
                }
                .product_ordered{
                    h2{margin-top: 0;}
                    .order_item{
                        padding: 32px 0; //
                        line-height: 37.5px; //
                        font-weight: 500;
                        text-align: center;
                        border-bottom: 1px solid $c-244;
                        font-size: $px16;                        
                        span{
                            font-size: $px16;                        
                            line-height: 37.5px;
                            font-weight: 500;
                        }
                        .item_num{color: $purple;}
                    }
                    .order_list{
                        li{
                            padding: 25px 0;
                            border-bottom: 1px solid rgb(244, 244, 244);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            .order_list_left{
                                @include flex-row-btw-ct;
                                .order_img{
                                    img{width: 75px;}
                                }
                                .order_item_name{
                                    color: #000;
                                    display: flex;
                                    flex-flow: column nowrap;
                                    padding: 0 20px;
                                    span{
                                        color: #999;
                                        font-size: $px14;
                                        margin-top: 6px;
                                    }
                                }
                            }
                            .order_list_right{
                                width: 20%;
                                @include flex-row-btw-ct;
                                .order_item_num{
                                    font-size: $px14;
                                }
                                .order_item_price{
                                    font-weight: 700;
                                    text-align: right;
                                }
                            }

                        }
                    }
                }
                .customer_info{
                    margin-top: 93.75px;
                    ul{
                        padding: 10px;
                        li{
                            padding: 8px;
                            display: flex;
                            
                            .right{
                                span{
                                    color: $c-102;
                                    font-size: $px12;
                                    line-height: 21px;
                                }
                            }
                        }
                    }
                }
                .shipping_info{
                    ul{
                        li{
                            width: 100%;
                            display: flex;
                            padding-top: 20px;
                            &:first-child{
                                padding: 20px 0;
                                border-bottom: 1px solid $c-244;
                            }
                            .line{
                                width: 1px;
                                height: 14px;
                                background-color: $c-221;
                                display: inline-block;
                                margin: 6px 8px 0;
                                position: relative;
                                top: 2px;
                            }
                            .default{
                                background-color: $c-247;
                                padding: 0 8px;
                                font-size: $px12;
                                color: $c-102;
                                line-height: 22px;
                                font-weight: 500;
                                border-radius: 11px;
                                margin-bottom: 8px;
                                width: max-content;
                            }
                            .customer{
                                margin-top: 8px;
                                font-size: $px14;
                                color: $c-102;
                                line-height: 37.5px;
                            }
                            .modify_btn_wrap{
                                width: 60px;
                                margin-top: 20px;
                                .modify_btn{
                                    padding: 0 10px;
                                    text-align: center;
                                    width: 100%;
                                    background-color: #fff;
                                    border: 1px solid $c-221;
                                    border-radius: 3px;
                                    font-size: $px12;
                                    height: 30px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                
                .packaging{
                    padding: 20px 0;
                    input{display: none;}
                    label{
                        margin-right: 80px;
                        font-size: $px14;
                        &::before{
                            content: '';
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background-image: url(../images/sub/icon_circle_off.svg);
                            background-size: 100%;
                            margin-right: 20px;
                            position: relative;
                            top: 6px;
                        }
                    }
                    input[type="radio"]:checked + label::before {
                        background-image: url(../images/sub/icon_circle_on.svg);
                    }
                }
                .purplebox{
                    display: none;
                    padding: 40px 0 60px;
                    img{width: 100%;}
                }
            }
            .order_btm{
                display: flex;
                position: relative;
                width: 100%;
                .left{
                    width: 18.5%;
                    line-height: 44px;
                    margin-right: 37.5px;
                    font-weight: 500;
                    font-size: $px14;
                    letter-spacing: -0.32px;    
                }
                .btm_left{
                    width: 70%;
                    .coupon{
                        display: flex;
                        
                        .coupon_wrap{
                            padding-top: 20px;
                            .coupon_wrap_top{
                                margin-bottom: 20px;
                                .coupon_list_wrap{
                                    margin-bottom: 10px;
                                    
                                    #coupon_list{
                                        pointer-events: none;
                                        width: 100%;
                                        height: 44px;
                                        font-size: $px14;
                                        border: 1px solid $c-221;
                                        background-color: $c-250;
                                        color: $c-204;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0 20px;
                                        img{width: 13px;}
                                    }
                                }
                                .coupon_unavailable{
                                    font-size: $px14;
                                    color: $c-102;
                                    margin-bottom: 10px;
                                    line-height: 37.5px;
                                }
                                a{
                                    img{
                                        width: 10px;
                                    }
                                }
                            }
                            a{
                                color: $purple;
                                font-size: $px12;
                                img{width: 100%;}
                            }
                        }
                    }
                    .kurlycard_wrap{
                        .kurlycard{
                            padding-top: 20px;
                            display: flex;
                            .kurlycard_benefit{
                                width: 64%;
                                display: flex;
                                justify-content: space-between;
                                
                                .benefit{
                                    p{
                                        margin-bottom: 10px;
                                        font-size: $px14;
                                    }
                                    input{display: none;}
                                    label{
                                        font-size: $px14;
                                        color: $c-153;
                                        &::before{
                                            content: '';
                                            display: inline-block;
                                            width: 24px;
                                            height: 24px;
                                            background-image: url(../images/sub/icon_check1.png);
                                            background-size: 100%;
                                            margin-right: 8px;
                                            position: relative;
                                            top: 6px;
                                        }
                                    }
                                    input[type="checkbox"]:checked + label::before {
                                        background-image: url(../images/sub/icon_check4.png);
                                    }

                                }
                                .issuance{
                                    width: 20%;
                                }
                                #card_issuance_btn{
                                    padding: 0 10px;
                                    width: 100%;
                                    background-color: $purple;
                                    color: #fff;
                                    border-radius: 3px;
                                    height: 44px;
                                    margin-top: -5px;
                                    font-size: $px12;
                                }
                            }
                        }
                    }
                    .kurly_cash_wrap{
                        h2{
                            a{
                                position: relative;
                                top: -2px;
                                margin-left: 8px;
                                img{width: 17px;}
                            }
                        }
                        .kurly_cash{
                            padding-top: 20px;
                            display: flex;
                            .discount{
                                width: 48%;
                                ul{
                                    padding: 13px 0 8px;
                                    li{
                                        display: flex;
                                        justify-content: space-between;
                                        font-size: $px14;
                                        color: #b5b5b5;
                                        margin-bottom: 8px;
                                        span{
                                            color: #b5b5b5;
                                            font-size: $px14;
                                        }
                                        .available{
                                            font-weight: 500;
                                            font-size: 1rem;
                                        }
                                    }
                                }
                                .total{
                                    margin-bottom: 10px;
                                    #num{
                                        color: $c-204;
                                        background-color: $c-250;
                                        border: 1px solid $c-221;
                                        line-height: 42px;
                                        padding: 0 11px 0 15px;
                                        border-radius: 3px;
                                        width: 73%;
                                        font-size: $px14;
                                    }
                                    #use_all_btn{
                                        border: 1px solid $c-221;
                                        color: $c-221;
                                        font-size: $px14;
                                        width: 23%;
                                        border-radius: 3px;
                                        height: 44px;
                                        margin-left: 5px;
                                    }
                                }
                                p{
                                    font-size: $px12;
                                    line-height: 20px;
                                    color: $c-102;
                                    padding-top: 4px;
                                }
                            }
                        }
                    }
                    .payment_method_wrap{
                        .payment_method{
                            display: flex;

                            .method_type{
                                display: flex;
                                flex-flow: column nowrap;
                                padding-top: 20px;

                                .method_type_btn{
                                    width: 100%;
                                    position: relative;
                                    .benefit_icon{
                                        position: absolute;
                                        top: -7px;
                                        right: 10px;
                                        background-color: #fff;
                                        border: 1px solid #fa622f;
                                        font-size: $px10;
                                        color: #fa622f;
                                        font-weight: 500;
                                        padding: 0 7px;
                                        height: 17px;
                                        border-radius: 9px;
                                    }
                                    .kakaopay_btn_active{
                                        background-color: #f6e500;
                                    }
                                    #kakaopay_btn{
                                        width: 100%;
                                        height: 48px;
                                        border: 1px solid rgb(226, 226, 226);
                                        border-radius: 3px;
                                        img{margin-top: 7px;}
                                    }
                                    
                                    &:first-child{margin-bottom: 12px;}
                                    #kurly_pay_btn{
                                        width: 100%;
                                        height: 48px;
                                        border: 1px solid $c-226;
                                        border-top-left-radius: 3px;
                                        border-top-right-radius: 3px;
                                        img{
                                            margin-top: 10px;
                                            width: 82px;
                                        }
                                    }
                                    .kurly_pay_btn_active{
                                        border: 0;
                                        background-color: $purple;
                                    }
                                }
                                .kurly_pay_wrap{
                                    border: 1px solid $c-226;
                                    border-top: 0;
                                    border-top-left-radius: 3px;
                                    border-top-right-radius: 3px;
                                    padding: 37.5px 0; 
                                    text-align: center;
                                    height: 235px;
                                    width: 100%;

                                    .kurly_pay_bg{
                                        height: 130px;
                                        height: max-content;
                                        position: relative;
                                        overflow: hidden;
                                        height: 75%;
                                        .kurly_pay{
                                            position: absolute;
                                            display: flex;
                                            justify-content: center;
                                            height: 100%;
                                            top: 0;
                                            left: 5%;
                                            .kurly_pay_benefit{
                                                width: 230px;
                                                margin-right: 20px;
                                                text-align: center;
                                                height: 100%;
                                                background-color: #faf0ff;
                                                border: 1px solid rgb(234, 214, 245);
                                                border-radius: 6px;
                                                display: flex;
                                                flex-flow: column nowrap;
                                                justify-content: center;
                                                align-items: center;
                                                width: 50% !important;
                                                p{
                                                    font-size: $px14;
                                                    line-height: 20px;
                                                    span{
                                                        font-size: $px14;
                                                        color: $purple;
                                                        font-weight: 600;
                                                    }
                                                }
                                                a{
                                                    display: block;
                                                    width: 50%;
                                                    background: linear-gradient(/* to bottom right */-40deg, #BD5DED, #E783F2, #E148CF, #BD5DED);
                                                    background-size: 400%;
                                                    padding: 10px 0;
                                                    margin-top: 8px;
                                                    font-weight: 600;
                                                    border-radius: 100px;
                                                    overflow: hidden;
                                                    position: relative;
                                                    font-size: $px12;
                                                    color: #fff;
                                                    /* em{
                                                        display: block;
                                                        position: relative;
                                                        font-size: $px12;
                                                        color: #fff;
                                                        z-index: 1000;
                                                    }
                                                    span{
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        height: 100%;
                                                        width: 100%;
                                                        z-index: 99;
                                                        background: linear-gradient(-40deg, rgba(255, 255, 255, 0), #E684F2, rgba(255, 255, 255, 0));
                                                        background-size: 400%;
                                                    } */
                                                }
                                            }
                                            .add_account{
                                                width: 50% !important;
                                                a{
                                                    // width: 100%;
                                                    border-radius: 6px;
                                                    display: flex;
                                                    flex-flow: column nowrap;
                                                    justify-content: center;
                                                    align-items: center;
                                                    height: 100%;
                                                    background-color: $c-245;
                                                    color: $c-153;
                                                    font-size: $px12;
                                                    font-weight: 700;
                                                    line-height: 20px;
                                                    img{
                                                        width: 33px;
                                                        margin-bottom: 7px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .kurlycard_active{
                                        margin-top: 32px;
                                        font-size: $px13;
                                        font-weight: 500;
                                        em{
                                            font-weight: 500;
                                            font-size: $px13;
                                            color: #8d4cc4;
                                        }
                                    }
                                }
                                .payment_method_detail{
                                    display: flex;
                                    margin-top: 12px;
                                    
                                    .method_active{
                                        color: #fff;
                                        background-color: $purple;
                                    }
                                    a{
                                        text-align: center;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: $px14;
                                        font-weight: 500;
                                        border-radius: 3px;
                                        border: 1px solid $c-226;
                                        position: relative;
                                        width: calc(414px / 3);
                                        height: 48px;

                                        &:nth-child(1){
                                            border-top-right-radius: 0;
                                            border-bottom-right-radius: 0;
                                        }
                                        &:nth-child(3){
                                            border-top-left-radius: 0;
                                            border-bottom-left-radius: 0;
                                        }
                                        &:nth-child(2){
                                            border-left: 0;
                                            border-right: 0;
                                            border-radius: 0;
                                        }

                                        .benefit_icon{
                                            position: absolute;
                                            top: -7px;
                                            right: 10px;
                                            background-color: #fff;
                                            border: 1px solid #fa622f;
                                            font-size: $px10;
                                            color: #fa622f;
                                            font-weight: 500;
                                            padding: 0 7px;
                                            height: 17px;
                                            border-radius: 9px;
                                        }
                                    }
                                }
                                .credit_card{
                                    position: relative;
                                    margin-top: 12px;
                                    // display: none;
                                    #select_card{
                                        width: 276px;
                                        height: 44px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0 15px;
                                        border: 1px solid $c-221;
                                        font-size: $px14;
                                        
                                        img{
                                            display: block;
                                            width: 10px;
                                        }
                                    }
                                    #installment{
                                        margin-top: 10px;
                                        width: 276px;
                                        height: 44px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0 15px;
                                        border: 1px solid $c-221;
                                        font-size: $px14;
                                        background-color: $c-250;
                                        pointer-events: none;
                                        span{color: #CCC;}
                                        
                                        img{
                                            display: block;
                                            // width: 10px;
                                        }
                                    }
                                    .select_card_list{
                                        display: flex;
                                        flex-flow: column nowrap;
                                        border: 1px solid $c-221;
                                        background-color: #fff;
                                        width: 276px;
                                        position: absolute;
                                        top: 43px;
                                        display: none;
                                        a{
                                            padding: 12px 20px;
                                            color: #555;
                                            &:hover{
                                                background-color: #f4f4f4;
                                                color: $purple;
                                            }
                                        }
                                    }
                                    .select_installment_list{
                                        display: flex;
                                        flex-flow: column nowrap;
                                        border: 1px solid $c-221;
                                        background-color: #fff;
                                        width: 276px;
                                        position: absolute;
                                        top: 96px;
                                        display: none;
                                        a{
                                            padding: 12px 20px;
                                            color: #555;
                                            &:hover{
                                                background-color: #f4f4f4;
                                                color: $purple;
                                            }
                                        }
                                    }
                                }
                                .simple_payment{
                                    position: relative;
                                    margin-top: 14px;
                                    input{display: none;}
                                    .simple_payment_btm{
                                        margin-top: 12px;
                                        margin-bottom: 8px;
                                    }
                                    label{
                                        margin-right: 80px;
                                        font-size: $px14;
                                        span{
                                            font-size: $px13;
                                            color: #fa622f;
                                            margin:0 0 6px 6px;
                                        }
                                        &::before{
                                            content: '';
                                            display: inline-block;
                                            width: 24px;
                                            height: 24px;
                                            background-image: url(../images/sub/icon_circle_off.svg);
                                            background-size: 100%;
                                            margin-right: 20px;
                                            position: relative;
                                            top: 6px;
                                        }
                                    }
                                    input[type="radio"]:checked + label::before {
                                        background-image: url(../images/sub/icon_circle_on.svg);
                                    }
                                }
                                .guide_benefit{
                                    background-color: $c-250;
                                    width: 414px;
                                    padding: 20px 20px;
                                    border-radius: 6px;
                                    margin-top: 12px;
                                    margin-bottom: 20px;

                                    .top{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        margin-bottom: 17px;
                                        p{
                                            font-size: $px13;
                                            color: #666;
                                        }
                                        a{
                                            color: #999;
                                            font-size: $px13;
                                            font-weight: 500;

                                            img{
                                                width: 14px;
                                                position: relative;
                                                top: 2px;
                                                margin-left: 4px;
                                            }
                                        }
                                    }
                                    .btm{
                                        .guide_benefit_more{
                                            padding-top: 11px;

                                            #more_btn{
                                                display: flex;
                                                width: 100%;
                                                justify-content: center;
                                                align-items: center;
                                                margin: 0 auto;
                                                font-size: $px14;
                                                line-height: 18px;
                                                img{width: 18px;}
                                            }
                                        }
                                        .title{
                                            color: #fa622f;
                                            font-size: $px13;
                                            font-weight: 500;
                                            line-height: 18px;
                                            padding-bottom: 4px;
                                        }
                                        .sub_title{
                                            color: #4c4c4c;
                                            font-size: $px13;
                                            line-height: 18px;
                                            padding-bottom: 2px;
                                        }
                                        .detail_info{
                                            font-size: $px12;
                                            color: #999;
                                            line-height: 20px;
                                            padding-bottom: 2px;
                                        }
                                    }
                                }
                            }
                        }
                        .payment_method_btm{
                            border-top: 1px solid $c-244;
                            padding-top: 20px;
                            p{
                                font-size: $px12;
                                line-height: 20px;
                                color: $c-102;
                            }
                        }
                    }
                    .collect_user_info_wrap{
                        ul{
                            margin: 20px 0;
                            li{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 12px;
                                font-size: $px14;
                                line-height: 19px;
                                &:first-child{margin-top: 0;}
                                a{
                                    color: #999;
                                    font-size: $px14;
                                    text-decoration: underline;
                                }
                            }
                        }
                        .consent{
                            margin-top: 20px;
                            font-weight: 500;
                            line-height: 21px;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            border-bottom: 1px solid $c-244;
                            font-size: 1rem;
                            color: #333;
                        }
                        p{
                            font-size: $px12;
                            color: $c-102;
                            line-height: 20px;
                        }
                    }
                    .payment_btn_wrap{
                        margin: 40px 0 37.5px;
                        text-align: center;

                        #payment_btn{
                            width: 240px;
                            color: #fff;
                            background-color: $purple;
                            font-weight: 500;
                            height: 56px;
                            border-radius: 3px;
                        }
                    }
                }
                .btm_right{
                    // position: fixed;
                    top: 0;
                    right: 0;
                    width: 27%;
                    margin-left: 37.5px;
                    h2{
                        margin-top: 0;
                        padding: 20px 0;
                        font-weight: 500;
                        font-size: $px20;
                        color: $c-51;
                        line-height: 36.25px;
                        border: 0;
                        position: sticky;
                        top: 70px;
                    }
                    .payment_amount{
                        padding: 17px 20px 18px 18px;
                        background-color: $c-250;
                        border: 1px solid #f2f2f2;
                        position: sticky;
                        top: 146.25px;
                        ul{
                            margin-bottom: 20px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid $c-244;
                            li{
                                display: flex;
                                justify-content: space-between;
                                padding-bottom: 4px;
                                margin-top: 20px;
                                &:first-child{
                                    margin-top: 0;
                                }
                                span{
                                    font-size: $px18;
                                }
                            }
                            .payment_amount_details{
                                color: #999;
                                font-size: $px14;
                                padding-bottom: 0;
                                margin-top: 8px;
                                span{
                                    color: #999;
                                    font-size: $px14;
                                }
                            }
                        }
                        p{
                            display: flex;
                            justify-content: space-between;
                            color: #4c4c4c;
                            *{color: #4c4c4c;}
                            span{
                                font-size: $px20;
                                font-weight: bold;
                            }
                        }
                        .kurlycard_save{
                            color: #8d4cc4;
                            font-size: $px12;
                            margin-top: 6px;
                            line-height: 20px;
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                    a{
                        position: sticky;
                        top: 630.39px;
                        img{width: 100%;}
                    }
                }
            }
        }
    }
}

.product_ordered_m{display: none;}
.change_info{display: none;}
.swiper-button-prev{
    &::after{display: none;}
}
.swiper-button-next{
    &::after{display: none;}
    img{transform: rotate(180deg);}
}