@import 'common';

.bottom_option {
    background-color: #fff;
    border-top: 2px solid $purple;
    position: fixed;
    bottom: 0;
    width: 100%;
    .bottom_wrap{
        margin: 0 auto;
        // background-color: aqua;
        width: 900px;
        position: relative;
        .select_btn {
            background-color: $purple;
            color: #fff;
            font-weight: 500;
            position: absolute;
            right: 0;
            top: -68px;
            width: 170px;
            font-size: 0.875rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 48px;
            border-radius: 3px;
            img {margin-left: 5px;}
        }
        .bottom_purchase{
            margin-top: 20px;
            .option_btn {
                border: 1px solid rgb(221, 221, 221);
                width: 432px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 16.5px 14px;
                height: 40px;
                font-size: 0.75rem;
                position: relative;

                img {
                    width: 10px;
                }
            }
            .option {
                background-color: #fff;
                position: absolute;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                border: 1px solid rgb(221, 221, 221);
                width: 432px;
                bottom: 274px;
                
                a{
                    padding: 14px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    font-size: 0.75rem;
                    border-bottom: 1px solid rgb(244, 244, 244);
                    
                    span {
                        font-size: 0.75rem;
                        font-weight: bold;
                    }
                }
            }
            .select_item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: rgb(247, 247, 247);
                margin-top: 20px;
                
                * {
                    font-size: 0.875rem;
                }
                .item_name {
                    width: 500px;
                }
                .num_result {
                    border: 1px solid rgb(221, 223, 225);
                    height: 30px;
                    display: flex;
                    align-items: center;
                    // width: 88px;
                    
                    * {
                        font-weight: 600;
                        height: 100%;
                        width: 28px;
                    }
                    .minus {
                        background-image: url(../images/main/icon/icon_btn_minus.svg);
                    }
                    .num {
                        text-align: center;
                    }
                    .plus {
                        background-image: url(../images/main/icon/icon_btn_plus.svg);
                    }
                }
                .each_price {
                    font-weight: bold;
                }
                a {}
            }
            .total {
                margin-top: 20px;
                text-align: right;

                .total_price{
                    font-size: 1.25rem;
                    font-weight: bold;

                    span {
                        font-size: 0.813rem;
                    }
                    strong {
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
            .save {
                display: flex;
                flex-flow: row nowrap;
                justify-content: right;
                margin-top: 10px;

                p {
                    font-size: 0.875rem;
                    color: #666;
                }
                .save_icon{
                    background-color: #ffbf00;
                    color: #fff;
                    font-size: 0.688rem;
                    border-radius: 10px;
                    padding: 0 7px;
                    line-height: 20px;
                    margin-right: 6px;
                }
            }
            .wish_notify_cart_btn {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: right;
                margin: 20px 0 60px;
                gap: 8px;

                #wish, #alarm {
                    width: 56px;
                    // height: 56px;
                    padding: 12px 0 7px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    
                    img {width: 32px;}
                }
                #cart {
                    width: 300px;
                    height: 56px;
                    padding: 0 10px;
                    background-color: $purple;
                    color: #fff;
                    border-radius: 3px;
                    font-weight: 500;
                }
            }
        }
    }

    display: none;
}

.product_container {
    background-color: red;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .img_information {
        background-color: aqua;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .img_container{
            width: max-content;
            img {width: 430px;}
        }
        .information {
            background-color: #fff;
            width: 560px;

            * {font-weight: 500;}
            .newstar {
                font-size: 0.875rem;
                color: #999;
            }
            .title_share {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                
                h1 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #333;
                }
                a {
                    img {

                    }
                }
            }
            .additional {
                font-size: 0.875rem;
                color: #b5b5b5;
            }
            .price {
                font-weight: bold;
                margin-top: 20px;
                
                em {
                    font-size: 1.75rem;
                    font-weight: bold;
                }
            }
            .origin {
                font-size: 1.5rem;
                margin-top: 8px;
            }
            .coupon {
                margin-top: 12px;
                background-color: rgba(189, 118, 255, 0.08);
                width: 350px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
                border-radius: 4px;

                .words {
                    font-size: 0.813rem;
                    
                    em {
                        color: $purple;
                        font-size: 0.813rem;
                    }
                }
                p {
                    img {
                        width: 16px;
                        margin-top: 2px;
                    }
                }
            }
            ul {
                margin-top: 20px;

                li {
                    border-top: 1px solid #f4f4f4;
                    padding: 18px 0;

                    dl {
                        display: flex;

                        dt{
                            color: #666;
                            font-size: 0.875rem;
                            width: 128px;
                        }
                        dd{
                            p{
                                font-size: 0.875rem;
                                width: 432px;
                                line-height: 19px;
                            }
                            .explanation{
                                color: #666;
                                font-size: 0.75rem;
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
            .purchase {

                dl {
                    border: 1px solid #f4f4f4;
                    border-right: 0;
                    border-left: 0;
                    padding: 18px 0;
                    display: flex;
                    flex-flow: row nowrap;

                    dt {
                        color: #666;
                        font-size: 0.875rem;
                        width: 128px;
                    }
                    dd {

                        .option_btn {
                            border: 1px solid rgb(221, 221, 221);
                            width: 432px;
                            padding: 16.5px 14px;
                            height: 40px;
                            font-size: 0.75rem;
                            // position: relative;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;

                            img{width: 10px;}
                        }
                        .option{
                            background-color: #fff;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            border: 1px solid rgb(221, 221, 221);
                            width: 432px;
                            position: absolute;
                            display: none;
                            
                            a{
                                padding: 14px;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                font-size: 0.75rem;
                                border-bottom: 1px solid rgb(244, 244, 244);
                                
                                span {
                                    font-size: 0.75rem;
                                    font-weight: bold;
                                }
                            }
                        }
                        .select{
                            margin-top: 6px;
                            padding: 11px 12px;
                            border: 1px solid rgb(244, 244, 244);
                            position: relative;

                            .select_item{

                                .item_name{
                                    font-size: 0.75rem;
                                }
                            }
                            .num_price {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 8px;
                                
                                .num_result{
                                    display: flex;
                                    width: max-content;
                                    border: 1px solid rgb(221, 223, 225);
                                    border-radius: 3px;

                                    *{
                                        font-weight: 600;
                                        height: 28px;
                                        width: 28px;
                                    }
                                    .minus{
                                        background-image: url(../images/main/icon/icon_btn_minus.svg);
                                    }
                                    .num{text-align: center;}
                                    .plus{
                                        background-image: url(../images/main/icon/icon_btn_plus.svg);
                                    }
    
                                    
                                }
                                .price{
                                    font-size: 0.75rem;
                                }
                            }
                            a{
                                position: absolute;
                                right: 10px;
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}