@import 'common';

.m_product_page_nav{display: none;}
.m_detail{display: none;}
section{
    max-width: 1010px;
    width: 100%;
}
.bottom_option {
    background-color: #fff;
    border-top: 2px solid $purple;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    .bottom_wrap{
        margin: 0 auto;
        // background-color: aqua;
        width: 900px;
        position: relative;
        .select_btn {
            background-color: $purple;
            color: #fff;
            font-weight: 500;
            position: absolute;
            right: 0;
            top: -68px;
            width: 170px;
            font-size: 0.875rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 48px;
            border-radius: 3px;
            img {margin-left: 5px;}
        }
        .bottom_purchase{
            margin-top: 20px;
            .option_btn {
                border: 1px solid rgb(221, 221, 221);
                width: 432px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 16.5px 14px;
                height: 40px;
                font-size: 0.75rem;
                position: relative;

                img {
                    width: 10px;
                }
            }
            .option {
                background-color: #fff;
                position: absolute;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                border: 1px solid rgb(221, 221, 221);
                width: 432px;
                bottom: 274px;
                
                a{
                    padding: 14px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    font-size: 0.75rem;
                    border-bottom: 1px solid rgb(244, 244, 244);
                    
                    span {
                        font-size: 0.75rem;
                        font-weight: bold;
                    }
                }
            }
            .select_item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                background-color: rgb(247, 247, 247);
                margin-top: 20px;
                
                * {
                    font-size: 0.875rem;
                }
                .item_name {
                    width: 500px;
                }
                .num_result {
                    border: 1px solid rgb(221, 223, 225);
                    height: 30px;
                    display: flex;
                    align-items: center;
                    // width: 88px;
                    
                    * {
                        font-weight: 600;
                        height: 100%;
                        width: 28px;
                    }
                    .minus {
                        background-image: url(../images/main/icon/icon_btn_minus.svg);
                    }
                    .num {
                        text-align: center;
                    }
                    .plus {
                        background-image: url(../images/main/icon/icon_btn_plus.svg);
                    }
                }
                .each_price {
                    font-weight: bold;
                }
            }
            .total {
                margin-top: 20px;
                text-align: right;

                .total_price{
                    font-size: 1.25rem;
                    font-weight: bold;

                    span {
                        font-size: 0.813rem;
                    }
                    strong {
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
            .save {
                display: flex;
                flex-flow: row nowrap;
                justify-content: right;
                margin-top: 10px;

                p {
                    font-size: 0.875rem;
                    color: #666;
                }
                .save_icon{
                    background-color: #ffbf00;
                    color: #fff;
                    font-size: 0.688rem;
                    border-radius: 10px;
                    padding: 0 7px;
                    line-height: 20px;
                    margin-right: 6px;
                }
            }
            .wish_notify_cart_btn {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: right;
                margin: 20px 0 60px;
                gap: 8px;

                .wish, .alarm {
                    width: 56px;
                    // height: 56px;
                    padding: 12px 0 7px;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                    
                    img {width: 32px;}
                }
                .cart {
                    width: 300px;
                    height: 56px;
                    padding: 0 10px;
                    background-color: $purple;
                    color: #fff;
                    border-radius: 3px;
                    font-weight: 500;
                }
            }
        }
    }

    // display: none;
}

.product_container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    .img_information {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .img_container{
            width: max-content;
            img {width: 430px;}
        }
        .information {
            background-color: #fff;
            width: 560px;

            * {font-weight: 500;}
            .newstar {
                font-size: 0.875rem;
                color: #999;
            }
            .title_share {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                
                h1 {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #333;
                }
                .m_icon_share{display: none;}
            }
            .additional {
                font-size: 0.875rem;
                color: #b5b5b5;
            }
            .price {
                font-weight: bold;
                margin-top: 20px;
                
                em {
                    font-size: 1.75rem;
                    font-weight: bold;
                }
            }
            .origin {
                font-size: 1.5rem;
                margin-top: 8px;
            }
            .coupon {
                margin-top: 12px;
                background-color: rgba(189, 118, 255, 0.08);
                width: 350px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px;
                border-radius: 4px;

                .words {
                    font-size: 0.813rem;
                    
                    em {
                        color: $purple;
                        font-size: 0.813rem;
                    }
                }
                p {
                    img {
                        width: 16px;
                        margin-top: 2px;
                    }
                }
            }
            .m_item_info{display: none;}
            ul{
                margin-top: 20px;

                li {
                    border-top: 1px solid #f4f4f4;
                    padding: 18px 0;

                    dl {
                        display: flex;

                        dt{
                            color: #666;
                            font-size: 0.875rem;
                            width: 128px;
                        }
                        dd{
                            p{
                                font-size: 0.875rem;
                                width: 432px;
                                line-height: 19px;
                            }
                            .explanation{
                                color: #666;
                                font-size: 0.75rem;
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }
            .purchase {

                dl {
                    border: 1px solid #f4f4f4;
                    border-right: 0;
                    border-left: 0;
                    padding: 18px 0;
                    display: flex;
                    flex-flow: row nowrap;

                    dt {
                        color: #666;
                        font-size: 0.875rem;
                        width: 128px;
                    }
                    dd {

                        .option_btn {
                            border: 1px solid rgb(221, 221, 221);
                            width: 432px;
                            padding: 16.5px 14px;
                            height: 40px;
                            font-size: 0.75rem;
                            // position: relative;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;

                            img{width: 10px;}
                        }
                        .option{
                            background-color: #fff;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            border: 1px solid rgb(221, 221, 221);
                            width: 432px;
                            position: absolute;
                            display: none;
                            
                            a{
                                padding: 14px;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                font-size: 0.75rem;
                                border-bottom: 1px solid rgb(244, 244, 244);
                                
                                span {
                                    font-size: 0.75rem;
                                    font-weight: bold;
                                }
                            }
                        }
                        .select{
                            margin-top: 6px;
                            padding: 11px 12px;
                            border: 1px solid rgb(244, 244, 244);
                            position: relative;
                            display: none;

                            .select_item{

                                .item_name{
                                    font-size: 0.75rem;
                                }
                            }
                            .num_price {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 8px;
                                
                                .num_result{
                                    display: flex;
                                    width: max-content;
                                    border: 1px solid rgb(221, 223, 225);
                                    border-radius: 3px;

                                    *{
                                        font-weight: 600;
                                        height: 28px;
                                        width: 28px;
                                    }
                                    .minus{
                                        background-image: url(../images/main/icon/icon_btn_minus.svg);
                                    }
                                    .num{text-align: center;}
                                    .plus{
                                        background-image: url(../images/main/icon/icon_btn_plus.svg);
                                    }
    
                                    
                                }
                                .price{
                                    font-size: 0.75rem;
                                }
                            }
                            a{
                                position: absolute;
                                right: 10px;
                                top: 10px;
                            }
                        }
                    }
                }
                .save {
                    text-align: right;

                    .total {
                        font-size: 1.25rem;
                        font-weight: bold;

                        span {
                            font-size: 0.813rem;
                        }
                        em{
                            font-size: 2rem;
                            font-weight: bold;
                            margin-left: 5px;
                        }
                    }
                    .save_btm{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: right;
                        align-items: center;
                        margin-top: 10px;

                        p {
                            font-size: 0.875rem;
                            color: #666;
                        }
                        .save_icon{
                            background-color: #ffbf00;
                            color: #fff;
                            font-size: 0.688rem;
                            border-radius: 10px;
                            padding: 0 7px;
                            line-height: 20px;
                            margin-right: 6px;
                        }
                    }
                }
                .wish_notify_cart_btn {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: right;
                    margin: 20px 0 60px;
                    gap: 8px;
    
                    .wish, .alarm {
                        width: 56px;
                        // height: 56px;
                        padding: 12px 0 7px;
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        
                        img {width: 32px;}
                    }
                    .cart {
                        width: 300px;
                        height: 56px;
                        padding: 0 10px;
                        background-color: $purple;
                        color: #fff;
                        border-radius: 3px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .product_page_nav{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        li{
            width: 251px;
            padding: 20px 0;
            background-color: #fafafa;
            border: 1px solid #eee;
            text-align: center;
            
            a{
                color: #666;
                font-weight: 500;
            }
        }
    }
    .description_container{
        margin-top: 40px;
        width: 1010px;
        text-align: center;

        .intro{
            .main_img{
                img{width: 100%;}
                margin-bottom: 60px;
            }
            .additional{
                color: #666;
                font-size: 1.5rem;
                margin-bottom: 14px;
            }
            h3{
                color: #666;
                border-bottom: 1px solid #c1c1c1;
                font-size: 2.375rem;
                padding-bottom: 35px;
            }
            .description{
                margin-top: 28px;
                line-height: 32px;
                color: #373737;
                font-size: 1.125rem;
                margin-bottom: 170px;
                text-align: left;
            }
        }
        .checkpoint{
            margin-bottom: 170px;

            h3{
                margin: 0 auto;
                position: relative;
                margin-bottom: 70px;
                
                span{
                    font-size: 3.125rem;
                    color: #666;
                    background-color: #fff;
                    font-weight: 500;
                    padding: 0 15px;
                    width: max-content;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #b9b9b9;
                    position: absolute;
                    z-index: -100;
                    top: 40px;
                    left: 0;
                }
            }
            .m_description_img{display: none;}
            .content_img{                
                margin-top: 170px;
            }
            .sub_title{
                margin-top: 75px;
                font-size: 1.875rem;
                text-align: left;
                font-weight: 500;
            }
            .description{
                margin-top: 14px;
                text-align: left;
                line-height: 32px;
                color: #373737;
            }
        }
        .kurly_pick{

            h3{
                margin: 0 auto;
                position: relative;
                margin-bottom: 70px;
                
                span{
                    font-size: 3.125rem;
                    color: #666;
                    background-color: #fff;
                    font-weight: 500;
                    padding: 0 15px;
                    width: max-content;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #b9b9b9;
                    position: absolute;
                    z-index: -100;
                    top: 40px;
                    left: 0;
                }
            }
            ul{
                text-align: left;

                li{
                    margin-bottom: 130px;

                    .option{
                        margin-top: 55px;
                        font-size: 1.875rem;
                        color: #373737;
                        margin-bottom: 20px;
                    }
                    p{
                        line-height: 32px;
                        font-size: 1.125rem;
                        color: #373737;
                        
                        .option_detail{
                            font-size: 1.125rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .tip_wrap{
            text-align: left;
            margin-bottom: 170px;

            h3{
                font-size: 2.25rem;
                padding: 0 10px;
                background-color: #fff;
                width: max-content;
                position: relative;
                top: 20px;
                left: 48px;
                color: #666;
            }
            .tip{
                padding: 60px 62px;
                border: 1px solid rgb(185, 185, 185);

                .sub_title{
                    margin-bottom: 10px;
                    font-size: 1.563rem;
                    line-height: 38px;
                }
                .description{
                    line-height: 32px;
                    font-size: 1.125rem;
                }
            }
        }
        .recipe{
            text-align: left;
            margin-bottom: 170px;

            h3{
                margin: 0 auto;
                width: max-content;
                font-size: 3.125rem;
                color: #666;
                padding: 30px;
                border-bottom: 1px solid rgb(177, 177, 177);
            }
            .recipe_menu{
                color: #666;
                font-size: 2.125rem;
                margin-top: 30px;
                margin-bottom: 70px;
                text-align: center;
            }
            .sub_title{
                margin-top: 55px;
                font-size: 1.5rem;
                margin-bottom: 20px;
                color: #666;
            }
            .description{
                font-size: 1.125rem;
                line-height: 32px;
            }
        }
        .about_brand{
            text-align: left;
            margin-bottom: 270px;
            
            .m_about_brand_img{display: none;}
            .touch{display: none;}
            h3{
                margin: 0 auto;
                position: relative;
                margin-bottom: 70px;
                text-align: center;
                
                span{
                    font-size: 3.125rem;
                    color: #666;
                    background-color: #fff;
                    font-weight: 500;
                    padding: 0 15px;
                    width: max-content;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #b9b9b9;
                    position: absolute;
                    z-index: -100;
                    top: 40px;
                    left: 0;
                }
            }
            .description{
                margin-top: 60px;
                margin-bottom: 100px;
                font-size: 1.125rem;
                line-height: 32px;
            }
        }
    }
    // section2 상품설명
    .detail{

        .pc_detail_img{border-bottom: 1px solid rgb(221, 221, 221);}
        .m_detail_img{display: none;}
        .detail_contents1{
            padding: 72px 0;
            border-bottom: 1px solid rgb(221, 221, 221);

            h3{
                color: #666;
                font-size: 1.75rem;
                text-align: center;
            }
            ul{
                padding: 26px 16px 0;
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                // align-items: center;
                gap: 8px;

                li{
                    text-align: center;
                    border: 1px solid rgb(238, 238, 238);
                    padding: 8px 13px;
                    font-size: 0.813rem;
                    letter-spacing: -0.5px;
                    min-width: 70px;
                    max-width: 214px;
                    border-radius: 4px;
                    line-height: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.813rem;
                }
            }
            .detail_box{
                margin-top: 36px;

                dl{
                    display: flex;
                    flex-flow: row nowrap;
                    
                    &:first-child dt{
                        padding-top: 18px;
                    }
                    &:first-child dd{
                        padding-top: 18px;
                    }
                    dt,dd{
                        padding: 0 18px 18px;
                        font-size: 0.813rem;
                    }
                    dt{
                        background-color: #f7f7f7;
                        width: 180px;
                    }
                    dd{
                        width: 325px;
                    }
                }
            }
        }
        .detail_contents2{
            padding: 72px 0;
            border-bottom: 1px solid rgb(221, 221, 221);

            h3{
                color: #666;
                font-size: 1.75rem;
                text-align: center;
            }
            dl{
                margin-top: 36px;
                display: flex;
                flex-flow: row nowrap;

                dt,dd{
                    padding: 18px;
                    font-size: 0.813rem;
                }
                dt{
                    background-color: #f7f7f7;
                    width: 180px;
                }
                dd{
                    width: 325px;
                }
            }
        }
        .why_kurly{
            text-align: center;
            padding: 100px 0 88px;
            border-bottom: 1px solid rgb(221, 221, 221);

            h3{
                span{
                    color: #666;
                    font-size: 2.063rem;
                }
            }
            .m_list_wrap{display: none;}
            .pc_list_wrap{
                display: flex;
                flex-flow: row wrap;
                margin-top: 21px;
                justify-content: center;
                
                dl{
                    margin-top: 59px;
                    display: flex;
                    flex-flow: column nowrap;
                    width: 315px;
                    
                    dt{
                        display: flex;
                        flex-flow: column nowrap;
                        // justify-content: center;
                        align-items: center;
                        color: $purple;
                        line-height: 27px;
                        font-weight: 500;
                        font-size: 1.125rem;
    
                        img{
                            width: 40px;
                            margin-bottom: 10px;
                        }
                    }
                    dd{
                        margin-top: 22px;
                        line-height: 25px;
                        font-weight: 300;
                        color: #333;
    
                        span{
                            display: block;
                            font-size: 0.688rem;
                            color: #666;
                            margin-top: 7px;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
        .inquiry_wrap{
            padding: 60px 0 71px;

            h3{
                font-size: 1.75rem;
                color: #666;
                font-weight: 500;
                margin-left: 5px;
                
            }
            .inquiry{
                margin-left: 5px;
                margin-top: 31px;
                color: #666;
                font-weight: 500;
                font-size: 1.125rem;
                padding: 0;

                span{
                    display: block;
                    margin-top: 6px;
                    font-weight: 300;
                    color: #333;
                }
            }
            ul{
                margin-top: 59px;
                display: flex;
                flex-flow: row nowrap;

                li{
                    width: 340px;

                    strong{
                        display: flex;
                        align-items: center;
                        font-size: 1.125rem;
                        line-height: 27px;
                        font-weight: 500;
                        color: $purple;

                        &::before{
                            content: '';
                            display: inline-block;
                            width: 3px;
                            height: 20px;
                            margin-right: 10px;
                            margin-top: 3px;
                            background-color: $purple;
                        }
                    }
                    em{
                        display: block;
                        padding-top: 9px;
                        font-size: 1.063rem;
                        font-weight: 300;
                        line-height: 25px;
                    }
                    span{
                        padding-top: 13px;
                        color: #666;
                        font-size: 0.938rem;
                        line-height: 22px;
                        font-weight: 300;
                        display: block;
                    }
                }
            }
        }
        .exchange_refund{

            .title{
                border: 1px solid #ddd;
                padding: 15px 29px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                h3{
                    font-weight: 500;
                    font-size: 1.125rem;
                    color: $purple;
                    
                    em{
                        margin-left: 14px;
                    }
                }
                .close{
                    color: $purple;
                    line-height: 24px;
                    letter-spacing: -0.4px;
                    font-size: 1rem;

                    .close_btn{
                        margin-left: 4px;
                        img{
                            width: 14px;
                            transform: rotate(180deg);
                            margin-bottom: 3px;
                        }
                    }
                }
            }
            .guide_list{
                width: 100%;
                
                li{
                    width: 100%;
                    padding: 40px 0;
                    border-bottom: 1px solid rgb(221, 221, 221);
                    display: flex;
                    flex-flow: row nowrap;
                    
                    &:last-child{
                        border-bottom:0;
                    }

                    .left{
                        width: 340px;
                        font-size: 1.063rem;
                        line-height: 25px;
                        font-weight: 500;
                    }
                    .right{
                        width: calc(100% - 340px);

                        p{padding-right: 20px;}
                        
                        span{
                            font-size: 0.938rem;
                            font-weight: 300;
                            line-height: 22px;
                            margin-top: 22px;
                            display: block;
                        }
                        .words{
                            font-size: 0.938rem;
                            font-weight: 300;
                            line-height: 22px;
                            margin-bottom: 25px;

                            strong{
                                display: block;
                                color: $purple;
                                line-height: 22px;
                                font-weight: 500;
                                font-size: 0.938rem;
                                margin-bottom: 6px;
                            }
                        }
                        .guide_list_sub{
                            li{
                                padding: 0;
                                border-bottom: 0;
                                font-size: 0.938rem;
                                font-weight: 300;
                                line-height: 22px;
                                
                            }
                        }
                    }
                }
            }
        }
        .order_cancel{

            .title{
                border: 1px solid #ddd;
                padding: 15px 29px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .order_cancel_info{
                    display: flex;
                    flex-flow: row nowrap;
                    p{
                        font-weight: 500;
                        font-size: 1.125rem;
                        color: $purple;
                        padding-top: 3px;
                    }
                    .order_cancel_list{
                        p{
                            margin-left: 40px;
                            color: #666;
                            font-weight: 500;
                            line-height: 27px;
                            font-size: 1rem;
                            padding-top: 0;
                        }
                    }
                }
                .close{
                    color: $purple;
                    line-height: 24px;
                    letter-spacing: -0.4px;
                    font-size: 1rem;

                    .close_btn{
                        margin-left: 4px;
                        img{
                            width: 14px;
                            transform: rotate(180deg);
                            margin-bottom: 3px;
                        }
                    }
                }
            }
            ul{
                
                li{
                    padding: 40px 0;
                    &:first-child{
                        border-bottom: 1px solid rgb(221, 221, 221);
                    }
                    dl{
                        display: flex;
                        flex-flow: row nowrap;

                        dt{
                            width: 310px;
                            margin-left: 30px;
                            font-size: 1.063rem;
                            line-height: 25px;
                            font-weight: 500;
                        }
                        dd{
                            width: calc(100% - 340px);
                            font-size: 0.938rem;
                            font-weight: 300;
                            line-height: 22px;
                            // margin-bottom: 25px;
                        }
                    }
                }
            }
        }
        .shipping{
            margin-bottom: 100px;

            .title{
                border: 1px solid #ddd;
                padding: 15px 29px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                h3{
                    font-weight: 500;
                    font-size: 1.125rem;
                    color: $purple;
                    
                    em{
                        margin-left: 14px;
                    }
                }
            }
        }
    }
    // section3 리뷰
    .review{
        margin: 72px 0;

        h2{
            font-size: $px24;
            font-weight: 500;
            line-height: 41px;
            letter-spacing: -0.5px;
        }
        // 상품 후기 사진 목록
        .review_photo_list{
            padding: 20px 0 30px;
            display: flex;
            gap: 3px;
            
            a{
                img{
                    width: 123px;
                }
                &:first-child{
                    img{
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                }
                &:last-child{
                    display: inline-block;
                    position: relative;

                    span{
                        position: absolute;
                        left: 0;
                        color: #fff;
                        top: 0;
                        line-height: 19px;
                        font-weight: 500;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    img{
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                        filter: brightness(50%);
                    }
                }
            }
        }
        // 상품 후기 사진 더보기
        .review_photo_more{
            display: flex;
            flex-flow: row nowrap;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: #000000, $alpha: 0.3);
            z-index: 100;
            display: none;
            
            .photo_more_container{
                position: relative;
                top: 10%;
                margin: 0 auto;
                width: 800px;
                background-color: #fff;
                padding: 30px;
                border-radius: 12px;
                height: max-content;

                .photo_more_top{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgb(244, 244, 244);
                    margin-bottom: 20px;
                    padding-bottom: 8px;
                    h3{
                        font-size: $px24;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: -0.5px;
                    }
                    p{
                        #photo_more_btn{
                            width: 32px;
                            img{width: 100%;}
                        }
                    }
                }
                .photo_more_btm{
                    a{
                        img{width: 120px;}
                    }
                }
            }
        }
        // 리뷰 정렬
        .review_sorting{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            p{
                font-size: $px14;
                font-weight: 500;
                line-height: 16px;
            }
            .sort_wrap{
                .sort{
                    font-size: $px12;
                    color: #999;

                    &:first-child{
                        &::after{
                            content: '';
                            display: inline-block;
                            background-color: #999;
                            width: 1px;
                            height: 11px;
                            margin: 0 8px 0 7px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }
        // 리뷰 필터
        .review_opt_wrap{
            .review_filter{
                position: relative;

                .filter_btn_wrap{
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 10px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #333;
                    .filter_btn{
                        color: #666;
                        border: 1px solid #eee;
                        border-radius: 18px;
                        padding: 9px 10px 9px 14px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        img{width: 18px;}
                    }
                }
                .opt_filter_box{
                    width: 440px;
                    padding: 0 30px 30px 30px;
                    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    top: 50px;
                    z-index: 999;
                    display: none;

                    .filter_box_top{
                        padding: 20px 0;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #f4f4f4;
                        .filter_title{
                            font-size: $px18;
                            font-weight: 500;
                            line-height: 20px;
                        }
                        .reset_btn_wrap{
                            .reset_btn{
                                color: #b5b5b5;

                                i[class$=right]{
                                    color: #b5b5b5;
                                    margin-right: 5px;
                                    font-size: $px13;
                                }
                            }
                        }
                    }
                    .filter_box_contents{
                        margin-top: 13px;
                        ul{
                            li{
                                padding: 7px 0;
                                font-size: $px14;
                                letter-spacing: -0.05px;

                                input{display: none;}
                                label{
                                    &::before{
                                        content: '';
                                        display: inline-block;
                                        width: 24px;
                                        height: 24px;
                                        background-image: url(../images/sub/icon_check1.png);
                                        background-size: 100%;
                                        margin-right: 16px;
                                        position: relative;
                                        top: 4px;
                                    }
                                }
                            }
                        }
                        .review_view_btn{
                            margin-top: 16px;
                            .view_btn{
                                width: 380px;
                                background-color: $purple;
                                border-radius: 3px;
                                line-height: 22px;
                                color: #fff;
                                font-weight: 500;
                                height: 56px;
                            }
                        }
                    }
                }
                .rating_filter_box{
                    width: 440px;
                    padding: 0 30px 30px 30px;
                    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px;
                    background-color: #fff;
                    position: absolute;
                    left: 120px;
                    top: 50px;
                    z-index: 999;
                    display: none;

                    .filter_box_top{
                        padding: 20px 0;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #f4f4f4;
                        .filter_title{
                            font-size: $px18;
                            font-weight: 500;
                            line-height: 20px;
                        }
                        .reset_btn_wrap{
                            .reset_btn{
                                color: #b5b5b5;

                                i[class$=right]{
                                    color: #b5b5b5;
                                    margin-right: 5px;
                                    font-size: $px13;
                                }
                            }
                        }
                    }
                    .filter_box_contents{
                        margin-top: 13px;
                        ul{
                            li{
                                padding: 7px 0;
                                font-size: $px14;
                                letter-spacing: -0.05px;

                                input{display: none;}
                                label{
                                    &::before{
                                        content: '';
                                        display: inline-block;
                                        width: 24px;
                                        height: 24px;
                                        background-image: url(../images/sub/icon_check1.png);
                                        background-size: 100%;
                                        margin-right: 16px;
                                        position: relative;
                                        top: 4px;
                                    }
                                }
                            }
                        }
                        .review_view_btn{
                            margin-top: 16px;
                            .view_btn{
                                width: 380px;
                                background-color: $purple;
                                border-radius: 3px;
                                line-height: 22px;
                                color: #fff;
                                font-weight: 500;
                                height: 56px;
                            }
                        }
                    }
                }
            }
        }
        .review_container{
            // 리뷰 공지
            .review_notice_wrap{
                .review_notice{
                    .notice_btn_wrap{
                        padding: 22px 20px 20px;
                        border-bottom: 1px solid #eee;
                        .review_notice_btn{
                            .notice_icon{
                                display: inline-block;
                                width: 42px;
                                border-radius: 4px;
                                font-size: $px12;
                                font-weight: 500;
                                line-height: 22px;
                                text-align: center;
                                color: #666;
                                background-color: #f4f4f4;
                                margin-right: 9px;
                            }
                        }
                    }
                    // 공지 내용
                    .review_notice_contents{
                        padding: 25px 20px 20px;
                        border-bottom: 1px solid #eee;
                        background-color: #fafafa;
                        display: none;

                        p{
                            line-height: 19px;
                            font-size: $px14;
                            padding-bottom: 15px;

                            &:last-child{
                                padding-bottom: 0;
                            }
                        }
                        .blank{
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            .review_contents_container{
                padding: 30px 0 19px 20px;
                border-bottom: 1px solid $c-244;
                .review_contents{
                    display: flex;
                    .left{
                        width: 225px;
                        font-size: $px14;
                        .best_icon, .rating_icon_m{
                            display: inline-block;
                            border-radius: 3px;
                            padding: 3px 5px;
                            // margin-right: 4px;
                            font-weight: 500;
                            font-size: $px10;
                            line-height: 10px;
                            color: #fff;
                        }
                        .best_icon{
                            background-color: #a864d8;
                        }
                        .rating_icon_m{
                            background-color: #4dbed7;
                        }
                    }
                    .rigth_contents{
                        width: calc(100% - 225px);
                        .selected_option{
                            color: #999;
                            font-size: $px14;
                            line-height: 19px;
                            margin-bottom: 12px;
                        }
                        p{
                            font-size: $px14;
                            line-height: 19px;
                            margin-bottom: 14px;
                        }
                        a{
                            img{width: 93px;}
                            &:first-child{
                                img{
                                    border-top-left-radius: 6px;
                                    border-bottom-left-radius: 6px;
                                }
                            }
                            &:last-child{
                                img{
                                    border-top-right-radius: 6px;
                                    border-bottom-right-radius: 6px;
                                }
                            }
                        }
                        .date_helpfull_btn{
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            padding: 19px 20px 0 0;
                            height: 51px;
                            .review_date{
                                color: #999;
                                margin-bottom: 0;
                                line-height: 19px;
                            }
                            .helpful_btn{
                                border: 1px solid $c-226;
                                color: #999;
                                padding: 0 12px;
                                line-height: 20px;
                                height: 32px;
                                border-radius: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: $px12;
                                img{
                                    width: 15px;
                                    margin-right: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .page_btn_wrap{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 12px;
        }
    }
    .inquiry{
        padding: 100px 0;
        .inquiry_top_wrap{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            h2{
                margin-bottom: 16px;
                font-size: $px24;
                font-weight: 500;
                line-height: 21px;
            }
            #inquiry_btn{
                background-color: $purple;
                width: 120px;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                font-size: $px14;
                height: 40px;
            }
        }
        .inquiry_top{
            margin-bottom: 40px;
            p{
                line-height: 19px;
                color: #999;
                font-size: $px14;
                a{
                    line-height: 19px;
                    color: #999;
                    font-size: $px14;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
        .inquiry_list{
            .inquiry_list_wrap{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                border-top: 2px solid #333;
                border-bottom: 2px solid #333;
                height: 58px;
                p{
                    font-weight: 500;
                    width: 710px;
                    margin: 0 auto;
                    font-size: $px14;
                }
                .list_right{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    p{
                        font-size: $px14;
                        width: 100px;
                        margin: 0 auto;
                    }
                }
            }
            ul{
                li{
                    padding-left:20px;
                    height: 64px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid $c-244;
                    p{
                        width: 710px;
                        font-size: $px14;
                        color: #999;
                    }
                    .writer{
                        display: flex;
                        *{
                            line-height: 19px;
                            letter-spacing: -0.5px;
                            font-size: $px14;
                        }
                        p{
                            text-align: center;
                            width: 100px;
                            margin: 0 auto;
                        }
                        .answer_status{
                            color: $purple;
                        }
                    }
                }
            }
            .page_btn_wrap{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                gap: 12px;
            }
        }
    }
}