@import 'common';

body,html{overflow-x: hidden;}
main{
    min-width: 1050px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .img_container{
        img{width: 100%;}
    }

    // section
    .intro{
        background-color: #3c214c;
    }
    .guide{
        background-color: #f4f1fb;
        padding-bottom: 100px;

        .guide_btm{
            position: relative;
            
            .slide_img_container{
                position: relative;
                width: 100%;
                .slide_img{
                    margin: 0 auto;
                    width: 100%;
                    height: 663px;
                    display: flex;
                    justify-content: center;
                    img{
                        position: absolute;
                    }
                }
                .guide_page_btn{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 5%;
                    right: 28%;
                    .guide_page{
                        span{
                            color: $purple;
                            font-weight: 700;
                            padding: 0 3px;
                        }
                    }
                    #prev_btn{
                        width: 50px;
                        height: 50px;
                        background: url(https://res.kurly.com/images/event/2021/0511/box/pc/btn_prev_type2.png) 50% 50% no-repeat;
                        background-size: 25%;
                    }
                    #next_btn{
                        width: 50px;
                        height: 50px;
                        background: url(https://res.kurly.com/images/event/2021/0511/box/pc/btn_prev_type2.png) 50% 50% no-repeat;
                        background-size: 25%;
                        transform: rotate(180deg);
                    }
                }
            }
            
        }
    }
    .purchase_guide{
        .purchase_btn{
            position: relative;
            width: 100%;
            height: 100%;
            a{
                display: block;
                position: absolute;
                width: 877px;
                height: 100px;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .history{
        background-color: #f4f1fb;
        padding-bottom: 100px;
        .history_img{
            width: 1050px;
            height: 410px;
            margin: 0 auto;
            position: relative;
            left: 90px;
            .scroll{
                position: absolute;
                display: flex;
            }
        }
    }
    .design{
        padding-bottom: 100px;
        .design_story{
            display: flex;
            height: max-content;
            width: 950px;
            overflow-x: hidden;
            margin: 0 auto;
            img{
                width: 363px;
                margin: 0 8px;
            }
        }
    }
    .personal_box{
        .personal_box_btn{
            position: relative;
            width: 100%;
            height: 100%;
            a{
                display: block;
                position: absolute;
                width: 877px;
                height: 100px;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    // 이미지 위치
    .img002{
        position: relative;
        top: -4px;
    }
}