@media screen and (max-width: 1280px) {
  main .user_info_bg .user_info {
    padding: 0 20px;
  }
  main .user_info_bg .user_info_bnr {
    padding: 0 20px;
  }
  main .my_kurly_bg {
    padding: 50px 20px 80px;
  }
}
@media screen and (max-width: 820px) {
  .user_info_bg .user_info .left {
    width: 47%;
    padding: 31px 20px;
  }
  .user_info_bg .user_info .left .benefit .badge {
    font-size: 0.625rem;
  }
  .user_info_bg .user_info .right {
    width: 53%;
  }
  .user_info_bg .user_info .right .top .user_cash span {
    font-size: 1rem;
  }
  .user_info_bg .user_info .right .top .user_cash span em {
    font-size: 1rem;
    margin-top: 0;
  }
  .user_info_bg .user_info .right .top .user_coupon span {
    font-size: 1rem;
  }
  .user_info_bg .user_info .right .top .user_coupon span em {
    font-size: 1rem;
    margin-top: 0;
  }
  .user_info_bg .user_info .right .top .user_style span {
    font-size: 1rem;
  }
  .user_info_bg .user_info .right .top .user_style span em {
    font-size: 1rem;
    margin-top: 0;
  }
  .user_info_bg .user_info .right .bottom a {
    padding: 30px 10px;
  }
  .user_info_bg .user_info .right .bottom .purple_box span {
    font-size: 1rem;
  }
  .user_info_bg .user_info .right .bottom .purple_box span em {
    font-size: 1rem;
    margin-top: 0;
  }
  .user_info_bg .user_info .right .bottom .kulry_member span {
    font-size: 1rem;
  }
  .user_info_bg .user_info .right .bottom .kulry_member span em {
    font-size: 1rem;
    margin-top: 0;
  }
  .my_kurly_bg .menu_c .container .title h2 {
    font-size: 1.375rem;
    margin-top: 8px;
  }
  .my_kurly_bg .menu_c .container .title p {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .container .title .left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  .my_kurly_bg .menu_c .container .title .left h2 {
    font-size: 1.375rem;
  }
  .my_kurly_bg .menu_c .container .title .left p {
    font-size: 0.875rem;
    margin-left: 0;
    margin-top: 8px;
  }
  .my_kurly_bg .menu_c .container .title .txt {
    flex-flow: column;
    align-items: flex-start;
  }
  .my_kurly_bg .menu_c .container .title .txt h2 {
    font-size: 1.375rem;
  }
  .my_kurly_bg .menu_c .container .title .txt .desc {
    font-size: 0.875rem;
    margin-left: 0;
    margin-top: 8px;
  }
  .my_kurly_bg .menu_c .present_list .content_bg .content p span {
    font-size: 0.75rem;
  }
  .my_kurly_bg .menu_c .many_buy_list .title ul li {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .wish_list .title {
    margin-top: 10px;
  }
  .my_kurly_bg .menu_c .wish_list .title h2 {
    margin: 0;
  }
  .my_kurly_bg .menu_c .delivey_addr .title {
    height: 75px;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .top span {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .top span:nth-child(2) {
    width: 253px;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .list span {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .list p:nth-of-type(2) span {
    padding-right: 10px;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .list p span {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .my_kurly_bg .menu_c .delivey_addr .content_bg .content .list p em {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .my_kurly_bg .menu_c .product_review .reivew_c .write_review_c .notice li {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .product_q .title ul li {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .product_q .title ul li span {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .product_q .content_bg .content .top p:nth-child(1) {
    width: 560px;
  }
  .my_kurly_bg .menu_c .coupon_list .title .coupon_add .notice_message {
    font-size: 0.75rem;
    margin-top: 8px;
  }
  .my_kurly_bg .menu_c .coupon_list .content_bg .content .desc .left {
    font-size: 0.875rem;
    width: 70%;
  }
  .my_kurly_bg .menu_c .coupon_list .content_bg .content .desc .right {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .coupon_list .content_bg .content .top p {
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .kurly_style .title {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  .my_kurly_bg .menu_c .kurly_style .title h2 {
    font-size: 1.375rem;
    line-height: 24px;
    height: 0;
  }
  .my_kurly_bg .menu_c .kurly_style .title p {
    padding-left: 0;
    padding-top: 8px;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm fieldset {
    width: 100%;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm fieldset span {
    width: 121px;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie .title .left {
    flex-flow: row;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie .title .left .beauty_txt h3 {
    font-size: 1.125rem;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie .title .left .beauty_txt p {
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie #content_box_bg {
    display: none !important;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .setting p {
    width: 126px;
  }
  .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .setting .notice {
    font-size: 0.75rem;
  }
  .my_kurly_bg .menu_c .info_change .content_bg .content {
    padding: 0;
  }
  .my_kurly_bg .menu_c .info_change .content_bg .content .uesr_id {
    padding: 10px 0;
  }
  .my_kurly_bg .menu_c .info_change .content_bg .content .user_pw {
    padding: 10px 0;
  }
}
@media screen and (max-width: 430px) {
  main .user_info_bg .user_info {
    padding: 0 16px;
    flex-flow: column;
  }
  main .user_info_bg .user_info .left {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }
  main .user_info_bg .user_info .right {
    width: 100%;
  }
  main .user_info_bg .user_info .right .top a {
    padding: 26px 0px 30px 14px;
  }
  main .user_info_bg .user_info .right .top .user_cash span {
    font-size: 0.875rem;
  }
  main .user_info_bg .user_info .right .top .user_coupon span {
    font-size: 0.875rem;
  }
  main .user_info_bg .user_info .right .top .user_style span {
    font-size: 0.875rem;
  }
  main .user_info_bg .user_info .right .bottom .purple_box span {
    font-size: 0.875rem;
  }
  main .user_info_bg .user_info .right .bottom .kulry_member span {
    font-size: 0.875rem;
  }
  main .user_info_bg .user_info_bnr {
    padding: 0 16px;
  }
  main .user_info_bg .user_info_bnr a img {
    content: url(../images/wishlist/m_bnr.avif);
    border-radius: 10px;
  }
  main .my_kurly_bg {
    flex-flow: column;
    padding: 50px 16px 80px;
  }
  main .my_kurly_bg .my_kurly {
    width: 100%;
  }
  main .my_kurly_bg .my_kurly h1 {
    text-align: center;
  }
  main .my_kurly_bg .my_kurly .user_q {
    margin-top: 25px;
  }
  main .my_kurly_bg .menu_c {
    width: 100%;
  }
  main .my_kurly_bg .menu_c .container .title {
    padding-top: 20px;
    justify-content: center;
  }
  main .my_kurly_bg .menu_c .container .title h2 {
    font-size: 1.125rem;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content {
    width: 100%;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content .item .btn {
    padding-right: 0;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content .item .info .txt a {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content .item .info .txt .price span {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content .item .info .txt .price em {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .container .content_bg .content .item .info .txt .price del {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .present_list .content_bg .content p {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .delivey_addr .title {
    justify-content: flex-start;
    height: 127px;
  }
  main .my_kurly_bg .menu_c .delivey_addr .title .left h2 {
    font-size: 1.125rem;
  }
  main .my_kurly_bg .menu_c .delivey_addr .title .left p {
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .delivey_addr .title .right {
    display: none;
  }
  main .my_kurly_bg .menu_c .delivey_addr .content_bg .content .top {
    margin-bottom: 100px;
  }
  main .my_kurly_bg .menu_c .delivey_addr .content_bg .content .list {
    display: none;
  }
  main .my_kurly_bg .menu_c .product_q .title h2 {
    height: 55px;
  }
  main .my_kurly_bg .menu_c .product_q .title ul li {
    line-height: 1.5;
  }
  main .my_kurly_bg .menu_c .product_q .content_bg .content .top p {
    width: 100% !important;
    font-size: 0.875rem;
  }
  main .my_kurly_bg .menu_c .coupon_list .title .coupon_add .conpon_box #coupon_num {
    margin-bottom: 10px;
  }
  main .my_kurly_bg .menu_c .coupon_list .title .coupon_add .notice_message {
    font-size: 0.625rem;
  }
  main .my_kurly_bg .menu_c .coupon_list .content_bg .content .desc .left {
    width: 60%;
    font-size: 0.75rem;
  }
  main .my_kurly_bg .menu_c .coupon_list .content_bg .content .desc .left {
    font-size: 0.75rem;
  }
  main .my_kurly_bg .menu_c .coupon_list .content_bg .content .top p:nth-child(1) {
    width: 20%;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm fieldset span {
    width: 77px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm fieldset .user_birth .birth_input #birth_day {
    width: 300px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm fieldset .user_gender a {
    width: 147px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie .title .left .beauty_icon {
    padding: 0 26px 0 15px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .proflie .title .open_icon {
    margin-right: 15px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .user_law .fa span {
    font-size: 1.125rem;
    margin-bottom: 10px;
  }
  main .my_kurly_bg .menu_c .kurly_style .content_bg .content .kurly_style_frm .user_law a {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=wish_m.css.map */